@include ipad-landscape {
    .mkdf-page-header{
        display: none;
    }

    .mkdf-mobile-header {
        display: block;
    }
}

.mkdf-drop-down .wide .second > .inner > ul {
    @include laptop-landscape {
        width: $grid-width-laptop-landscape;
    }

    @include ipad-landscape {
        width: $grid-width-ipad-landscape;
    }

}

.mkdf-boxed{
	.mkdf-page-header .mkdf-sticky-header,
	.mkdf-page-header .mkdf-fixed-wrapper.fixed{
		@include laptop-landscape {
			width: $grid-width-laptop-landscape-boxed;
		}
	}

	&.mkdf-sticky-up-mobile-header .mobile-header-appear .mkdf-mobile-header-inner{
		@include ipad-landscape {
			width: $grid-width-ipad-landscape-boxed;
			left: auto;
		}

		@include ipad-portrait {
			width: $grid-width-ipad-portrait-boxed;
		}

		@include phone-landscape {
			width: $grid-width-phone-landscape-boxed;
		}

		@include phone-portrait {
			width: $grid-width-phone-portrait-boxed;
		}

		@include smaller-phone-portrait {
			width: $grid-width-smaller-phone-portrait-boxed;
		}
	}
}