/* ==========================================================================
# Portfolio Single Big Images - begin
========================================================================== */

.mkdf-portfolio-single-holder.big-images {

	.mkdf-big-image-holder {
		margin-bottom: 45px;
	}

	.mkdf-portfolio-single-media {
		margin-bottom: 38px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.mkdf-portfolio-item-content {
		margin-top: 0;
		margin-bottom: 0;
	}

}

/* ==========================================================================
# Portfolio Single Big Images - end
========================================================================== */