/* ==========================================================================
# Portfolio Single Big Slider - begin
========================================================================== */

.mkdf-portfolio-single-holder.big-slider {

	.mkdf-big-image-holder {
		margin-bottom: 45px;
	}

	.mkdf-portfolio-item-content {
		margin-top: 0;
		margin-bottom: 0;
	}

}

/* ==========================================================================
# Portfolio Single Big Slider - end
========================================================================== */