/* ==========================================================================
# Portfolio Single Gallery - begin
========================================================================== */
$mkdf-gutter-width: 25px;

.mkdf-portfolio-single-holder.gallery {
	.mkdf-portfolio-single-media a {
		position: relative;
		overflow: hidden;
		display: block;

		.mkdf-portfolio-gallery-text-holder {
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
			width: 100%;
			height: 100%;
			opacity: 0;
			background-color: rgba(0,0,0,0.50);
			@include mkdfTransition(opacity 0.3s ease-out);
		}

		.mkdf-portfolio-gallery-text-holder-inner {
			position: relative;
			display: table;
			width: 100%;
			height: 100%;
		}

		.mkdf-portfolio-gallery-text-holder-inner h4 {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			color: #fff;
			width: 100%;
			height: 100%;
		}
		
		img {
			display: block;
		}

		&:hover {

			.mkdf-portfolio-gallery-text-holder {
				opacity: 1;
			}

		}

	}

	.mkdf-portfolio-item-content {
		margin-top: 0;
		margin-bottom: 0;
	}

	.mkdf-portfolio-media {
		margin-left: -($mkdf-gutter-width / 2);
		margin-right: -($mkdf-gutter-width / 2);

		@include mkdfClearfix;
	}

	.mkdf-portfolio-single-media {
		float: left;
		padding: 0 $mkdf-gutter-width / 2;
		margin-bottom: $mkdf-gutter-width;

		@include mkdfBoxSizing(border-box);
	}
}

.gallery.mkdf-portfolio-gallery-three-columns {
	.mkdf-portfolio-single-media {
		width: 33.33%;
	}
}

.gallery.mkdf-portfolio-gallery-two-columns {
	.mkdf-portfolio-single-media {
		width: 50%;
	}
}

.gallery.mkdf-portfolio-gallery-four-columns {
	.mkdf-portfolio-single-media {
		width: 25%;
	}
}



/* ==========================================================================
# Portfolio Single Gallery - end
========================================================================== */