.woocommerce-cart .woocommerce {
	//cart table styles
	form:not(.woocommerce-shipping-calculator) {
		background-color: #fff;
		padding: 0 20px;
		margin-bottom: 40px;
		border: 1px solid #eaeaea;

		table {
			border: none;
		}

		tr {
			border: none;
			border-bottom: 1px solid #e6e6e6;
		}

		td, th {
			padding: 15px 10px;
			text-align: left;
		}

		td {
			vertical-align: middle;
			font-size: 14px;
			font-family: $headings-font-family;
			font-weight: 600;
			color: #999999;
		}

		tbody tr {
			&:last-child {
				border-bottom: none;
			}
		}

		thead {
			border-bottom: 1px solid #e6e6e6;
			font-family: $headings-font-family;
			font-size: 16px;
			text-transform: uppercase;
			color: $headings-text-color;

			tr {
				border-bottom: none;
			}

			th {
				font-weight: 700;
			}
		}

		.product-remove {
			font-size: 20px;
			text-align: center;
		}

		.product-thumbnail {
			img {
				width: 100px;
			}
		}

		.product-quantity {
			.mkdf-quantity-label {
				display: none;
			}
		}

		.product-name {
			a {
				font-family: $headings-font-family;
				color: #999999;
				font-weight: 600;
				font-size: 14px;
				
				&:hover {
					color: $first-main-color;
				}
			}
		}

		.actions {
			@include mkdfClearfix();

			padding-left: 0;
			padding-right: 0;

			.coupon,
			.mkdf-cart-proceed-update {
				float: left;
				width: 50%;

				@include mkdfBoxSizing(border-box);
			}

			.mkdf-cart-proceed-update {
				text-align: right;

				input[type=submit] {
					margin-left: 10px;
				}
			}

			.coupon {
				@include mkdfClearfix();

				label {
					display: none;
				}

				input[type=text] {
					width: 100%;
					margin-bottom: 30px;
					padding: 15px;
					outline: 0;
					font-family: $headings-font-family;
					font-size: 12px;
					font-weight: 600;
					color: #999999;
					border: 1px solid #eaeaea;

					@include mkdfBoxSizing(border-box);
					@include mkdfTransition(border-color 0.2s ease-out);

					&:focus {
						border-color: $first-main-color;
					}

					resize: none;

					background-color: #fbfbfc;
					margin-bottom: 0;
					display: inline-block;
					width: 50%;
					margin-right: 20px;
				}
			}
		}
	}

	.cart-collaterals {
		@include mkdfClearfix();

		.mkdf-shipping-calculator {
			float: left;
			width: 40%;

			.woocommerce-shipping-calculator > p {
				font-size: 24px;
				line-height: 31px;
				margin-bottom: 30px;
				font-family: $headings-font-family;
				font-weight: 700;

				a {
					display: block;
					position: relative;

					color: $headings-text-color;

					&:hover {
						color: $first-main-color;
					}

					span {
						position: absolute;
						right: 0;
						top: 3px;
					}
				}
			}

			.form-row {
				input[type=text] {
					@include inputStyle();
					margin-bottom: 15px;
				}

				.select2-container {
					margin-bottom: 15px;
				}

				.select2-choice {
					border: none;
					font-size: 12px;
					color: #767676;
					height: 49px;
					line-height: 49px;

					@include mkdfBorderRadius(5px);
					@include mkdfBoxShadow(none);
				}
			}
		}

		.mkdf-cart-totals {
			float: right;
			width: 40%;

			h2 {
				font-size: 24px;
				margin-bottom: 30px;
			}

			table {
				tr {
					border: none;
					text-align: left;
				}

				th, td {
					text-align: left;
					padding-bottom: 15px;
					border: none;
				}

				.cart-subtotal {

					span.amount {
						font-size: 16px;
						font-family: $headings-font-family;
						font-weight: 700;
						color: #999;
					}

					th {
						width: 30%;
						border-right: none;
						padding-left: 0;
						font-size: 16px;
						font-family: $headings-font-family;
						font-weight: 700;
						color: #999;
					}
				}

				.order-total {
					border-top: 1px solid #e6e6e6;

					th {
						font-size: 16px;
						font-family: $headings-font-family;
						font-weight: 700;
						color: #999;
						border-right: 0;
					}

					th, td {
						padding-top: 15px;

						font-size: 16px;
					}

					td {
						font-family: $headings-font-family;
						font-weight: 400;
						color: $headings-text-color;

						font-size: 20px;
					}

				}
			}

			#shipping_method {
				list-style: none;
			}
		}
	}

	.cross-sells {
		margin-top: 40px;

		h2 {
			font-size: 24px;
			margin-bottom: 30px;
		}
	}
}