.mkdf-blog-holder.mkdf-blog-single article {
  padding-bottom: 0;
}

.mkdf-blog-holder.mkdf-blog-single article.format-link span.mkdf-share-label {
  color: #545454;
}

.mkdf-blog-holder.mkdf-blog-single article.format-link .mkdf-post-content .mkdf-social-share-holder.mkdf-list ul li a {
  color: #535353;
}

.mkdf-blog-holder.mkdf-blog-single article.format-link .mkdf-post-content .mkdf-social-share-holder.mkdf-list ul li a:hover {
  color: #fec436;
}

.mkdf-blog-holder article {
  margin-bottom: 40px;
}

.mkdf-blog-holder article .mkdf-blog-audio-holder {
  margin-bottom: 0;
}

.mkdf-blog-holder article .mkdf-blog-audio-holder .mejs-container, .mkdf-blog-holder article .mkdf-blog-audio-holder .mejs-embed, .mkdf-blog-holder article .mkdf-blog-audio-holder .mejs-embed body, .mkdf-blog-holder article .mkdf-blog-audio-holder .mejs-container .mejs-controls {
  background-color: #323232;
}

.mkdf-blog-holder article:not(.format-audio) .mkdf-post-image {
  margin-bottom: 27px;
}

.mkdf-blog-holder article .mkdf-post-image img {
  vertical-align: middle;
}

.mkdf-blog-holder article .mkdf-post-text-inner > h1:not(.mkdf-post-title),
.mkdf-blog-holder article .mkdf-post-text-inner > h2:not(.mkdf-post-title),
.mkdf-blog-holder article .mkdf-post-text-inner > h3:not(.mkdf-post-title),
.mkdf-blog-holder article .mkdf-post-text-inner > h4:not(.mkdf-post-title),
.mkdf-blog-holder article .mkdf-post-text-inner > h5:not(.mkdf-post-title),
.mkdf-blog-holder article .mkdf-post-text-inner > h6:not(.mkdf-post-title) {
  margin: 15px 0;
}

.mkdf-blog-holder article .mkdf-blog-audio-holder {
  margin-bottom: 30px;
}

.mkdf-blog-holder article .mkdf-post-excerpt {
  margin-bottom: 12px;
}

.mkdf-blog-holder article .mkdf-post-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 11px;
  text-transform: capitalize;
}

.mkdf-blog-holder article.sticky .mkdf-post-title a {
  color: #fec436;
}

.mkdf-blog-holder article .mkdf-post-info {
  font-weight: 600;
}

.mkdf-blog-holder article .mkdf-post-info a {
  color: #bcbcbc;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.mkdf-blog-holder article .mkdf-post-info a:hover {
  color: #fec436;
}

.mkdf-blog-holder article .mkdf-post-info .mkdf-post-info-comments-icon {
  padding-right: 3px;
}

.mkdf-blog-holder article .mkdf-post-info .icon_heart {
  margin-right: 8px;
}

.mkdf-blog-holder article .mkdf-post-info .mkdf-like.liked {
  margin-right: 3px;
}

.mkdf-blog-holder article .mkdf-post-info span.icon_tags {
  margin-right: 10px;
  font-size: 14px;
}

.mkdf-blog-holder article .mkdf-post-info > div {
  display: inline-block;
  position: relative;
  padding-right: 16px;
}

.mkdf-blog-holder article.format-quote .mkdf-category span.icon_tags, .mkdf-blog-holder article.format-quote .mkdf-category a {
  color: #fff !important;
}

.mkdf-blog-holder article.format-quote ul {
  margin: 0 !important;
}

.mkdf-blog-holder article.format-quote .mkdf-post-mark {
  position: absolute;
  top: -11px;
  right: -3px;
  font-size: 117px;
  color: #fff;
}

.mkdf-blog-holder article.format-quote .mkdf-post-content .mkdf-post-text {
  background-color: #fec436;
  padding: 28px 38px 0 34px;
  position: relative;
  margin-bottom: 19px;
}

.mkdf-blog-holder article.format-quote .mkdf-post-content .mkdf-post-text .mkdf-post-info-date,
.mkdf-blog-holder article.format-quote .mkdf-post-content .mkdf-post-text .mkdf-post-info a,
.mkdf-blog-holder article.format-quote .mkdf-post-content .mkdf-post-text .mkdf-post-info-category.mkdf-post-info-item {
  color: #fff;
}

.mkdf-blog-holder article.format-quote .mkdf-post-content .mkdf-post-text .mkdf-social-share-holder.mkdf-list li a,
.mkdf-blog-holder article.format-quote .mkdf-post-content .mkdf-post-text span.mkdf-share-label {
  color: #fff;
}

.mkdf-blog-holder article.format-quote .mkdf-post-content .mkdf-post-text h5.mkdf-author-name {
  color: #fff;
}

.mkdf-blog-holder article.format-quote .mkdf-post-title h3 {
  margin-bottom: 8px;
  color: #fff;
  line-height: 33px;
}

.mkdf-blog-holder article.format-quote .mkdf-post-title h3 a:hover {
  color: #fff;
}

.mkdf-blog-holder article.format-quote .mkdf-post-title span.quote_author {
  font-size: 14px;
  color: #fff;
}

.mkdf-blog-holder article.format-quote .mkdf-author-desc {
  border-top: 1px solid #69d49b;
  padding-top: 13px;
  margin-top: 11px !important;
}

.mkdf-blog-holder article.format-link .mkdf-category span.icon_tags, .mkdf-blog-holder article.format-link .mkdf-category a {
  color: #fff !important;
}

.mkdf-blog-holder article.format-link ul {
  margin: 0 !important;
}

.mkdf-blog-holder article.format-link .mkdf-social-share-holder.mkdf-list li a,
.mkdf-blog-holder article.format-link span.mkdf-share-label {
  color: #fff;
}

.mkdf-blog-holder article.format-link h5.mkdf-author-name {
  color: #fff !important;
}

.mkdf-blog-holder article.format-link .mkdf-post-mark {
  position: absolute;
  top: 18px;
  right: 25px;
  font-size: 60px;
  color: #fff;
}

.mkdf-blog-holder article.format-link .mkdf-post-content .mkdf-post-text {
  background-color: #fec436;
  padding: 28px 38px 0 34px;
  position: relative;
  margin-bottom: 19px;
}

.mkdf-blog-holder article.format-link .mkdf-post-content .mkdf-post-text .mkdf-post-info-date,
.mkdf-blog-holder article.format-link .mkdf-post-content .mkdf-post-text .mkdf-post-info a,
.mkdf-blog-holder article.format-link .mkdf-post-content .mkdf-post-text .mkdf-post-info-category.mkdf-post-info-item {
  color: #fff;
}

.mkdf-blog-holder article.format-link .mkdf-post-content .mkdf-post-text h5.mkdf-author-name {
  color: #bbb;
}

.mkdf-blog-holder article.format-link h3.mkdf-post-title {
  color: #fff;
}

.mkdf-blog-holder article.format-link h3.mkdf-post-title a:hover {
  color: #fff;
}

.mkdf-blog-holder article.format-link .mkdf-author-desc {
  border-top: 1px solid #69d49b;
  padding-top: 13px;
  margin-top: 11px !important;
}

.mkdf-blog-holder article .mkdf-icon-quotations-holder {
  color: #bcbcbc;
}

.mkdf-blog-holder.mkdf-blog-type-masonry {
  margin-bottom: 20px;
  transition: none !important;
  overflow: visible !important;
  opacity: 0;
}

.mkdf-blog-holder.mkdf-blog-type-masonry article {
  display: block;
  width: 32%;
  padding: 0;
  text-align: left;
  vertical-align: top;
  z-index: 100;
  margin: 0 0 42px;
  box-sizing: border-box;
  -webkit-transition: border-color 0.15s ease-out;
  -moz-transition: border-color 0.15s ease-out;
  transition: border-color 0.15s ease-out;
}

.mkdf-blog-holder.mkdf-blog-type-masonry .mkdf-blog-masonry-grid-sizer {
  width: 32%;
}

.mkdf-blog-holder.mkdf-blog-type-masonry .mkdf-blog-masonry-grid-gutter {
  width: 2%;
}

.mkdf-blog-holder.mkdf-blog-type-masonry #infscr-loading {
  position: absolute;
  bottom: -35px;
  left: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.mkdf-blog-holder.mkdf-masonry-full-width {
  margin-right: 2%;
  margin-left: 2%;
}

.mkdf-blog-holder.mkdf-masonry-full-width article {
  width: 18.4%;
}

.mkdf-blog-holder.mkdf-masonry-full-width .mkdf-blog-masonry-grid-sizer {
  width: 18.4%;
}

.mkdf-blog-holder.mkdf-masonry-full-width .mkdf-blog-masonry-grid-gutter {
  width: 2%;
}

.mkdf-blog-infinite-scroll-button {
  display: none;
}

.mkdf-filter-blog-holder {
  text-align: center;
  margin-bottom: 30px;
}

.mkdf-filter-blog-holder li {
  display: inline-block;
  padding: 0 8px;
  cursor: pointer;
  font-size: 15px;
}

.mkdf-filter-blog-holder li.mkdf-active {
  color: #fec436;
}

.mkdf-author-description {
  background-color: #fbfbfc;
  padding: 27px 27px 33px 27px;
  margin-bottom: 40px;
}

.mkdf-author-description .mkdf-author-name {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: -3px;
}

.mkdf-author-description .mkdf-author-text p {
  margin-top: -2px;
}

.mkdf-author-description .mkdf-author-social-holder {
  margin-top: 20px;
  margin-left: 5px;
}

.mkdf-author-description .mkdf-author-social-holder .mkdf-author-social-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 11px;
  margin-right: 6px;
  color: #fff;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.mkdf-author-description .mkdf-author-social-holder .mkdf-author-social-twitter {
  background-color: #00aced;
  border: 1px solid #00aced;
}

.mkdf-author-description .mkdf-author-social-holder .mkdf-author-social-instagram {
  background-color: #125688;
  border: 1px solid #125688;
}

.mkdf-author-description .mkdf-author-social-holder .mkdf-author-social-facebook {
  background-color: #3b5998;
  border: 1px solid #3b5998;
}

.mkdf-author-description .mkdf-author-social-holder .mkdf-author-social-pinterest {
  background-color: #cb2027;
  border: 1px solid #cb2027;
}

.mkdf-author-description .mkdf-author-social-holder .mkdf-author-social-tumblr {
  background-color: #32506d;
  border: 1px solid #32506d;
}

.mkdf-author-description .mkdf-author-social-holder .mkdf-author-social-googleplus {
  background-color: #dd4b39;
  border: 1px solid #dd4b39;
}

.mkdf-author-description .mkdf-author-social-holder .mkdf-author-social-linkedin {
  background-color: #007bb5;
  border: 1px solid #007bb5;
}

.mkdf-author-description .mkdf-author-description-image {
  float: left;
  width: 102px;
  margin-right: 20px;
  position: relative;
  z-index: 1;
}

.mkdf-author-description .mkdf-author-description-image img {
  vertical-align: middle;
}

.mkdf-author-description .mkdf-author-description-text-holder {
  padding-left: 117px;
  position: relative;
}

.mkdf-author-description .mkdf-author-description-text-holder h6.mkdf-author-position {
  text-transform: uppercase;
  color: #ababab;
  font-size: 12px;
  margin-bottom: 10px;
}

.mkdf-single-tags-holder {
  width: 50%;
  float: left;
}

.mkdf-single-tags-holder .mkdf-single-tags-title {
  display: inline-block;
  margin-right: 5px;
}

.mkdf-single-tags-holder .mkdf-tags {
  display: inline-block;
}

.mkdf-single-tags-holder .mkdf-tags a {
  margin: 0 5px;
  font-size: 12px !important;
  display: inline-block;
  color: #464646;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-weight: 600;
  color: #f6f6f6;
  padding: 0 18px;
  margin-right: 3px;
  margin-bottom: 5px;
  border: 1px solid #fec436;
  background-color: #fec436;
  -webkit-transition: background-color 0.15s ease-out, border 0.15s ease-out;
  -moz-transition: background-color 0.15s ease-out, border 0.15s ease-out;
  transition: background-color 0.15s ease-out, border 0.15s ease-out;
}

.mkdf-single-tags-holder .mkdf-tags a:hover {
  background-color: #323232;
  border: 1px solid #323232;
}

.mkdf-blog-single-navigation {
  position: relative;
  border-bottom: 1px solid #f2f2f2;
  border-top: 1px solid #f2f2f2;
  padding: 10px 0;
}

.mkdf-blog-single-navigation .mkdf-blog-single-prev,
.mkdf-blog-single-navigation .mkdf-blog-single-next {
  font-size: 13px;
  font-weight: 700;
  width: 50%;
}

.mkdf-blog-single-navigation .mkdf-blog-single-prev a,
.mkdf-blog-single-navigation .mkdf-blog-single-next a {
  color: #b8b8b8;
  font-family: "Poppins", sans-serif;
}

.mkdf-blog-single-navigation .mkdf-blog-single-prev span.mkdf-icon-font-elegant.arrow_carrot-left_alt2,
.mkdf-blog-single-navigation .mkdf-blog-single-next span.mkdf-icon-font-elegant.arrow_carrot-left_alt2 {
  font-size: 18px;
  vertical-align: middle;
  position: relative;
  top: -1px;
  margin-right: 10px;
}

.mkdf-blog-single-navigation .mkdf-blog-single-prev span.mkdf-icon-font-elegant.arrow_carrot-right_alt2,
.mkdf-blog-single-navigation .mkdf-blog-single-next span.mkdf-icon-font-elegant.arrow_carrot-right_alt2 {
  font-size: 18px;
  vertical-align: middle;
  position: relative;
  top: -1px;
  margin-left: 10px;
}

.mkdf-blog-single-navigation .mkdf-blog-single-prev img,
.mkdf-blog-single-navigation .mkdf-blog-single-next img {
  vertical-align: middle;
}

.mkdf-blog-single-navigation .mkdf-blog-single-prev .mkdf-single-nav-image-holder {
  float: left;
  width: 109px;
}

.mkdf-blog-single-navigation .mkdf-blog-single-next .mkdf-single-nav-image-holder {
  float: right;
  width: 109px;
}

.mkdf-blog-single-navigation .mkdf-blog-single-prev.mkdf-single-nav-with-image .mkdf-single-nav-content-holder {
  padding-left: 122px;
}

.mkdf-blog-single-navigation .mkdf-blog-single-next.mkdf-single-nav-with-image .mkdf-single-nav-content-holder {
  padding-right: 122px;
}

.mkdf-blog-single-navigation .mkdf-blog-single-prev {
  float: left;
  text-align: left;
}

.mkdf-blog-single-navigation .mkdf-blog-single-next {
  float: right;
  text-align: right;
}

.mkdf-blog-single-navigation .mkdf-single-nav-content-holder h6 a {
  font-size: 15px;
  color: #545454 !important;
}

.mkdf-single-links-pages {
  margin-top: 20px;
}

.mkdf-single-links-pages .mkdf-single-links-pages-inner > a,
.mkdf-single-links-pages .mkdf-single-links-pages-inner > span {
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
}

/* #Blog Split Column - start
   ========================================================================== */
.mkdf-blog-holder.mkdf-blog-type-split-column article:not(.format-quote):not(.format-link) .mkdf-post-content {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.mkdf-blog-holder.mkdf-blog-type-split-column article:not(.format-quote):not(.format-link) .mkdf-author-desc {
  margin-left: 40px;
}

.mkdf-blog-holder.mkdf-blog-type-split-column article:not(.format-quote):not(.format-link) .mkdf-post-image,
.mkdf-blog-holder.mkdf-blog-type-split-column article:not(.format-quote):not(.format-link) .mkdf-post-text {
  display: table-cell;
  width: 50%;
  vertical-align: top;
}

.mkdf-blog-holder.mkdf-blog-type-split-column article:not(.format-quote):not(.format-link) .mkdf-post-text-inner {
  padding-left: 40px;
}

/* #Blog Split Column - end
========================================================================== */
/* Related Posts - begin
========================================================================== */
.mkdf-related-posts-holder {
  margin-bottom: 35px;
  padding-bottom: 35px;
}

.mkdf-related-posts-holder .mkdf-related-posts-title {
  margin-bottom: 20px;
}

.mkdf-related-posts-holder .mkdf-related-post {
  width: 24.8125%;
  margin-right: 0.25%;
  display: inline-block;
  float: left;
}

.mkdf-related-posts-holder .mkdf-related-post:nth-child(4n) {
  margin-right: 0;
}

.mkdf-related-posts-holder .mkdf-related-post img {
  display: block;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-related-post-image {
  margin-bottom: 16px;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-related-post-title,
.mkdf-related-posts-holder .mkdf-related-post .mkdf-related-post-info {
  margin-bottom: 6px;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-related-post-info {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}

.mkdf-column1 .mkdf-related-posts-holder .mkdf-related-post,
.mkdf-column2 .mkdf-related-posts-holder .mkdf-related-post {
  width: 33.16%;
  margin-right: 0.25%;
}

.mkdf-column1 .mkdf-related-posts-holder .mkdf-related-post:nth-child(3n),
.mkdf-column2 .mkdf-related-posts-holder .mkdf-related-post:nth-child(3n) {
  margin-right: 0;
}

.mkdf-content .mkdf-share-icons ul {
  margin: 0;
}

.mkdf-post-content .mkdf-share-icons {
  float: left;
  width: 50%;
  text-align: right;
}

.mkdf-post-content .mkdf-social-share-holder.mkdf-list {
  display: inline-block;
}

.mkdf-post-content .mkdf-author-image {
  height: 100%;
  display: inline-block;
  float: left;
  margin-right: 13px;
}

.mkdf-post-content .mkdf-author-image img {
  width: 28px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.mkdf-post-content .mkdf-author-name-holder {
  position: relative;
  float: left;
}

.mkdf-post-content .mkdf-author-desc {
  width: 100%;
  display: inline-block;
  position: relative;
  padding-top: 12px;
  border-top: 1px solid #f2f2f2;
  margin-top: 14px;
}

.mkdf-post-content .mkdf-image-name {
  float: left;
  width: 50%;
}

.mkdf-post-content h5.mkdf-author-name {
  margin: 7px;
  font-size: 14px;
  font-weight: 600;
  color: #545454;
}

.mkdf-post-content .mkdf-post-info-date {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ababab;
  border-right: 1px solid #f2f2f2;
  margin-right: 16px;
}

.mkdf-post-content .mkdf-post-info-category.mkdf-post-info-item {
  color: #bcbcbc;
}

.mkdf-post-content .mkdf-post-info-category.mkdf-post-info-item a {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

/* Related Posts - end
========================================================================== */
article.post .mkdf-category-share-holder {
  position: relative;
  padding-top: 17px;
  border-top: 1px solid #f2f2f2;
  margin-top: 27px;
}

article.post .mkdf-share-icons-single {
  width: 50%;
  float: right;
  text-align: right;
}

article .mkdf-post-title {
  font-size: 30px;
  margin-top: 17px;
  margin-bottom: 21px;
}

article .mkdf-category {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

article .mkdf-category a {
  margin-left: 10px;
  color: #535353;
}

article .mkdf-category span.icon_tags {
  color: #535353;
}

article .mkdf-post-image {
  margin-bottom: 0;
}

.mkdf-blog-holder.mkdf-blog-type-masonry h2.mkdf-post-title {
  margin-bottom: 23px;
}

.mkdf-blog-holder.mkdf-blog-type-masonry .mkdf-post-content .mkdf-author-desc {
  margin-top: 7px;
}

.mkdf-blog-holder.mkdf-blog-type-masonry .mkdf-post-content .mkdf-post-info-date {
  border-right: 0;
  margin-right: 0;
}

.mkdf-blog-holder.mkdf-blog-type-masonry .mkdf-image-name {
  width: 100%;
}

.mkdf-blog-holder.mkdf-blog-type-masonry .format-quote .mkdf-post-content {
  background-color: #fec436;
  padding: 7px 0 10px 0px;
  position: relative;
}

.mkdf-blog-holder.mkdf-blog-type-masonry .format-quote .mkdf-post-content h5.mkdf-author-name {
  color: #fff;
}

.mkdf-blog-holder.mkdf-blog-type-masonry .format-quote .mkdf-post-content h5.mkdf-author-name a {
  color: #fff;
}

.mkdf-blog-holder.mkdf-blog-type-masonry .format-quote .mkdf-post-content .mkdf-post-title a:hover {
  color: #fff;
}

.mkdf-blog-holder.mkdf-blog-type-masonry .format-quote .mkdf-post-content .mkdf-post-info-date {
  color: #fff;
}

.mkdf-blog-holder.mkdf-blog-type-masonry .format-quote .mkdf-post-content .mkdf-author-desc {
  margin-top: 13px !important;
}

.mkdf-blog-holder.mkdf-blog-type-masonry .format-quote .mkdf-post-mark {
  position: absolute;
  top: 11px;
  right: 14px;
  font-size: 48px;
  color: #fff;
}

.mkdf-blog-holder.mkdf-blog-type-masonry .format-quote .mkdf-post-title span.quote_author {
  color: #fff;
}

.mkdf-blog-holder.mkdf-blog-type-masonry .format-quote .mkdf-post-title h3 {
  margin-top: 0 !important;
  margin-bottom: 13px;
}

.mkdf-blog-holder.mkdf-blog-type-masonry .format-link .mkdf-post-content {
  background-color: #fec436;
  padding: 7px 0 10px 0px;
  position: relative;
}

.mkdf-blog-holder.mkdf-blog-type-masonry .format-link .mkdf-post-content h5.mkdf-author-name {
  color: #fff;
}

.mkdf-blog-holder.mkdf-blog-type-masonry .format-link .mkdf-post-content h5.mkdf-author-name a {
  color: #fff;
}

.mkdf-blog-holder.mkdf-blog-type-masonry .format-link .mkdf-post-content .mkdf-post-title a:hover {
  color: #fff;
}

.mkdf-blog-holder.mkdf-blog-type-masonry .format-link .mkdf-post-content .mkdf-post-info-date {
  color: #fff;
}

.mkdf-blog-holder.mkdf-blog-type-masonry .format-link .mkdf-post-content .mkdf-author-desc {
  margin-top: 13px !important;
}

.mkdf-blog-holder.mkdf-blog-type-masonry .format-link .mkdf-post-mark {
  position: absolute;
  top: 22px;
  right: 20px;
  font-size: 36px;
  color: #fff;
}

.mkdf-blog-holder.mkdf-blog-type-masonry .format-link h3.mkdf-post-title {
  margin-top: 11px;
}

/*# sourceMappingURL=blog.css.map */