
@media only screen and (min-width: 480px) and (max-width: 768px){
	/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/assets/custom-styles/general-custom-styles-responsive.php optimize_mikado_design_responsive_styles function */
.mkdf-section.mkdf-parallax-section-holder { height: auto !important;min-height: 400px;}

}

@media only screen and (max-width: 480px){
	/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/assets/custom-styles/general-custom-styles-responsive.php optimize_mikado_design_responsive_styles function */
.mkdf-section.mkdf-parallax-section-holder { height: auto !important;min-height: 400px;}

}