/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/assets/custom-styles/general-custom-styles.php optimize_mikado_design_styles function */
.mkdf-preload-background { background-image: url(http://localhost/wp-content/themes/optimizewp/assets/img/preload_pattern.png) !important;}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/assets/custom-styles/general-custom-styles.php optimize_mikado_design_styles function */
.mkdf-boxed .mkdf-wrapper { background-attachment: fixed;}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/assets/custom-styles/general-custom-styles.php optimize_mikado_smooth_page_transition_styles function */
.mkdf-smooth-transition-loader { background-color: #ffffff;}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/assets/custom-styles/general-custom-styles.php optimize_mikado_smooth_page_transition_styles function */
.mkdf-st-loader .pulse, .mkdf-st-loader .double_pulse .double-bounce1, .mkdf-st-loader .double_pulse .double-bounce2, .mkdf-st-loader .cube, .mkdf-st-loader .rotating_cubes .cube1, .mkdf-st-loader .rotating_cubes .cube2, .mkdf-st-loader .stripes > div, .mkdf-st-loader .wave > div, .mkdf-st-loader .two_rotating_circles .dot1, .mkdf-st-loader .two_rotating_circles .dot2, .mkdf-st-loader .five_rotating_circles .container1 > div, .mkdf-st-loader .five_rotating_circles .container2 > div, .mkdf-st-loader .five_rotating_circles .container3 > div, .mkdf-st-loader .atom .ball-1:before, .mkdf-st-loader .atom .ball-2:before, .mkdf-st-loader .atom .ball-3:before, .mkdf-st-loader .atom .ball-4:before, .mkdf-st-loader .clock .ball:before, .mkdf-st-loader .mitosis .ball, .mkdf-st-loader .lines .line1, .mkdf-st-loader .lines .line2, .mkdf-st-loader .lines .line3, .mkdf-st-loader .lines .line4, .mkdf-st-loader .fussion .ball, .mkdf-st-loader .fussion .ball-1, .mkdf-st-loader .fussion .ball-2, .mkdf-st-loader .fussion .ball-3, .mkdf-st-loader .fussion .ball-4, .mkdf-st-loader .wave_circles .ball, .mkdf-st-loader .pulse_circles .ball { background-color: #ffffff;}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/framework/modules/contactform7/custom-styles/contact-form.php optimize_mikado_contact_form7_text_styles_1 function */
.cf7_custom_style_1 ::-webkit-input-placeholder { color: #969696;}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/framework/modules/contactform7/custom-styles/contact-form.php optimize_mikado_contact_form7_text_styles_1 function */
.cf7_custom_style_1 :-moz-placeholder { color: #969696;}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/framework/modules/contactform7/custom-styles/contact-form.php optimize_mikado_contact_form7_text_styles_1 function */
.cf7_custom_style_1 ::-moz-placeholder { color: #969696;}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/framework/modules/contactform7/custom-styles/contact-form.php optimize_mikado_contact_form7_text_styles_1 function */
.cf7_custom_style_1 :-ms-input-placeholder { color: #969696;}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/framework/modules/contactform7/custom-styles/contact-form.php optimize_mikado_contact_form7_text_styles_1 function */
.cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea { height: 200px;}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/framework/modules/contactform7/custom-styles/contact-form.php optimize_mikado_contact_form7_text_styles_1 function */
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-text, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-number, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-date, .cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea, .cf7_custom_style_1 select.wpcf7-form-control.wpcf7-select, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-quiz { color: #969696;font-size: 14px;font-family: Poppins;font-style: normal;font-weight: 600;text-transform: none;letter-spacing: 0px;background-color: rgba(246, 246, 246, 1);border-color: rgba(242, 242, 242, 1);border-width: 1px;border-radius: 0px;padding-top: 16px;padding-right: 20px;padding-bottom: 14px;padding-left: 20px;margin-top: 10px;margin-bottom: 10px;}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/framework/modules/contactform7/custom-styles/contact-form.php optimize_mikado_contact_form7_focus_styles_1 function */
.cf7_custom_style_1 input:focus::-webkit-input-placeholder, .cf7_custom_style_1 textarea:focus::-webkit-input-placeholder { color: #969696;}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/framework/modules/contactform7/custom-styles/contact-form.php optimize_mikado_contact_form7_focus_styles_1 function */
.cf7_custom_style_1 input:focus:-moz-placeholder, .cf7_custom_style_1 textarea:focus:-moz-placeholder { color: #969696;}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/framework/modules/contactform7/custom-styles/contact-form.php optimize_mikado_contact_form7_focus_styles_1 function */
.cf7_custom_style_1 input:focus::-moz-placeholder, .cf7_custom_style_1 textarea:focus::-moz-placeholder { color: #969696;}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/framework/modules/contactform7/custom-styles/contact-form.php optimize_mikado_contact_form7_focus_styles_1 function */
.cf7_custom_style_1 input:focus:-ms-input-placeholder, .cf7_custom_style_1 textarea:focus:-ms-input-placeholder { color: #969696;}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/framework/modules/contactform7/custom-styles/contact-form.php optimize_mikado_contact_form7_focus_styles_1 function */
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-text:focus, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-number:focus, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-date:focus, .cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea:focus, .cf7_custom_style_1 select.wpcf7-form-control.wpcf7-select:focus, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-quiz:focus { color: #969696;background-color: rgba(255, 255, 255, 1);border-color: rgba(254, 196, 54, 1);}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/framework/modules/contactform7/custom-styles/contact-form.php optimize_mikado_contact_form7_label_styles_1 function */
.cf7_custom_style_1 p { color: #808080;font-size: 15px;font-family: Raleway;font-style: normal;font-weight: 400;text-transform: none;letter-spacing: 0px;}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/framework/modules/contactform7/custom-styles/contact-form.php optimize_mikado_contact_form7_button_styles_1 function */
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-submit { color: #ffffff;font-size: 14px;height: 53px;font-family: Poppins;font-style: normal;font-weight: 700;text-transform: uppercase;letter-spacing: 0px;background-color: rgba(254, 196, 54, 1);border-color: rgba(47, 47, 47, 1);border-width: 2px;border-radius: 0px;padding-left: 48px;padding-right: 48px;}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/framework/modules/contactform7/custom-styles/contact-form.php optimize_mikado_contact_form7_button_hover_styles_1 function */
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover { color: #fec436!important;background-color: rgba(255, 255, 255, 1)!important;border-color: rgba(254, 196, 54, 1)!important;}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/framework/modules/contactform7/custom-styles/contact-form.php optimize_mikado_contact_form7_text_styles_2 function */
.cf7_custom_style_2 ::-webkit-input-placeholder { color: #808080;}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/framework/modules/contactform7/custom-styles/contact-form.php optimize_mikado_contact_form7_text_styles_2 function */
.cf7_custom_style_2 :-moz-placeholder { color: #808080;}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/framework/modules/contactform7/custom-styles/contact-form.php optimize_mikado_contact_form7_text_styles_2 function */
.cf7_custom_style_2 ::-moz-placeholder { color: #808080;}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/framework/modules/contactform7/custom-styles/contact-form.php optimize_mikado_contact_form7_text_styles_2 function */
.cf7_custom_style_2 :-ms-input-placeholder { color: #808080;}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/framework/modules/contactform7/custom-styles/contact-form.php optimize_mikado_contact_form7_text_styles_2 function */
.cf7_custom_style_2 textarea.wpcf7-form-control.wpcf7-textarea { height: 100px;}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/framework/modules/contactform7/custom-styles/contact-form.php optimize_mikado_contact_form7_text_styles_2 function */
.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-text, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-number, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-date, .cf7_custom_style_2 textarea.wpcf7-form-control.wpcf7-textarea, .cf7_custom_style_2 select.wpcf7-form-control.wpcf7-select, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-quiz { color: #808080;font-size: 14px;font-family: Poppins;font-style: normal;font-weight: 600;text-transform: none;letter-spacing: 0px;background-color: rgba(42, 42, 42, 1);border-width: 0px;border-radius: 0px;padding-top: 12px;padding-right: 20px;padding-bottom: 11px;padding-left: 20px;margin-bottom: 12px;}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/framework/modules/contactform7/custom-styles/contact-form.php optimize_mikado_contact_form7_focus_styles_2 function */
.cf7_custom_style_2 input:focus::-webkit-input-placeholder, .cf7_custom_style_2 textarea:focus::-webkit-input-placeholder { color: #bdbdbd;}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/framework/modules/contactform7/custom-styles/contact-form.php optimize_mikado_contact_form7_focus_styles_2 function */
.cf7_custom_style_2 input:focus:-moz-placeholder, .cf7_custom_style_2 textarea:focus:-moz-placeholder { color: #bdbdbd;}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/framework/modules/contactform7/custom-styles/contact-form.php optimize_mikado_contact_form7_focus_styles_2 function */
.cf7_custom_style_2 input:focus::-moz-placeholder, .cf7_custom_style_2 textarea:focus::-moz-placeholder { color: #bdbdbd;}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/framework/modules/contactform7/custom-styles/contact-form.php optimize_mikado_contact_form7_focus_styles_2 function */
.cf7_custom_style_2 input:focus:-ms-input-placeholder, .cf7_custom_style_2 textarea:focus:-ms-input-placeholder { color: #bdbdbd;}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/framework/modules/contactform7/custom-styles/contact-form.php optimize_mikado_contact_form7_focus_styles_2 function */
.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-text:focus, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-number:focus, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-date:focus, .cf7_custom_style_2 textarea.wpcf7-form-control.wpcf7-textarea:focus, .cf7_custom_style_2 select.wpcf7-form-control.wpcf7-select:focus, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-quiz:focus { color: #bdbdbd;background-color: rgba(42, 42, 42, 1);}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/framework/modules/contactform7/custom-styles/contact-form.php optimize_mikado_contact_form7_label_styles_2 function */
.cf7_custom_style_2 p { color: #808080;font-size: 14px;font-family: Poppins;font-style: normal;font-weight: 600;text-transform: none;letter-spacing: 0px;}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/framework/modules/contactform7/custom-styles/contact-form.php optimize_mikado_contact_form7_button_styles_2 function */
.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-submit { color: #303030;font-size: 12px;height: 45px;font-family: Poppins;font-style: normal;font-weight: 700;text-transform: uppercase;letter-spacing: 0px;background-color: rgba(255, 255, 255, 1);border-width: 0px;border-radius: 0px;padding-left: 45px;padding-right: 45px;}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/framework/modules/contactform7/custom-styles/contact-form.php optimize_mikado_contact_form7_button_hover_styles_2 function */
.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover { color: #ffffff!important;background-color:#fec436!important;}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/framework/modules/contactform7/custom-styles/contact-form.php optimize_mikado_contact_form7_text_styles_3 function */
.cf7_custom_style_3 ::-webkit-input-placeholder { color: #969696;}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/framework/modules/contactform7/custom-styles/contact-form.php optimize_mikado_contact_form7_text_styles_3 function */
.cf7_custom_style_3 :-moz-placeholder { color: #969696;}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/framework/modules/contactform7/custom-styles/contact-form.php optimize_mikado_contact_form7_text_styles_3 function */
.cf7_custom_style_3 ::-moz-placeholder { color: #969696;}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/framework/modules/contactform7/custom-styles/contact-form.php optimize_mikado_contact_form7_text_styles_3 function */
.cf7_custom_style_3 :-ms-input-placeholder { color: #969696;}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/framework/modules/contactform7/custom-styles/contact-form.php optimize_mikado_contact_form7_text_styles_3 function */
.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-text, .cf7_custom_style_3 input.wpcf7-form-control.wpcf7-number, .cf7_custom_style_3 input.wpcf7-form-control.wpcf7-date, .cf7_custom_style_3 textarea.wpcf7-form-control.wpcf7-textarea, .cf7_custom_style_3 select.wpcf7-form-control.wpcf7-select, .cf7_custom_style_3 input.wpcf7-form-control.wpcf7-quiz { color: #969696;font-size: 14px;font-family: Poppins;font-style: normal;font-weight: 600;text-transform: none;letter-spacing: 0px;background-color: rgba(255, 255, 255, 1);border-width: 0px;border-radius: 0px;padding-top: 16px;padding-right: 20px;padding-bottom: 14px;padding-left: 20px;}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/framework/modules/contactform7/custom-styles/contact-form.php optimize_mikado_contact_form7_focus_styles_3 function */
.cf7_custom_style_3 input:focus::-webkit-input-placeholder, .cf7_custom_style_3 textarea:focus::-webkit-input-placeholder { color: #969696;}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/framework/modules/contactform7/custom-styles/contact-form.php optimize_mikado_contact_form7_focus_styles_3 function */
.cf7_custom_style_3 input:focus:-moz-placeholder, .cf7_custom_style_3 textarea:focus:-moz-placeholder { color: #969696;}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/framework/modules/contactform7/custom-styles/contact-form.php optimize_mikado_contact_form7_focus_styles_3 function */
.cf7_custom_style_3 input:focus::-moz-placeholder, .cf7_custom_style_3 textarea:focus::-moz-placeholder { color: #969696;}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/framework/modules/contactform7/custom-styles/contact-form.php optimize_mikado_contact_form7_focus_styles_3 function */
.cf7_custom_style_3 input:focus:-ms-input-placeholder, .cf7_custom_style_3 textarea:focus:-ms-input-placeholder { color: #969696;}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/framework/modules/contactform7/custom-styles/contact-form.php optimize_mikado_contact_form7_focus_styles_3 function */
.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-text:focus, .cf7_custom_style_3 input.wpcf7-form-control.wpcf7-number:focus, .cf7_custom_style_3 input.wpcf7-form-control.wpcf7-date:focus, .cf7_custom_style_3 textarea.wpcf7-form-control.wpcf7-textarea:focus, .cf7_custom_style_3 select.wpcf7-form-control.wpcf7-select:focus, .cf7_custom_style_3 input.wpcf7-form-control.wpcf7-quiz:focus { color: #969696;}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/framework/modules/contactform7/custom-styles/contact-form.php optimize_mikado_contact_form7_label_styles_3 function */
.cf7_custom_style_3 p { color: #969696;font-size: 14px;font-family: Poppins;font-style: normal;font-weight: 600;text-transform: none;letter-spacing: 0px;}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/framework/modules/contactform7/custom-styles/contact-form.php optimize_mikado_contact_form7_button_styles_3 function */
.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-submit { color: #ffffff;font-size: 14px;height: 53px;font-family: Poppins;font-style: normal;font-weight: 700;text-transform: uppercase;letter-spacing: 0px;background-color: rgba(67, 203, 131, 1);border-color: rgba(67, 203, 131, 1);border-width: 2px;border-radius: 0px;padding-left: 48px;padding-right: 48px;}

/* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/framework/modules/contactform7/custom-styles/contact-form.php optimize_mikado_contact_form7_button_hover_styles_3 function */
.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover { color: #ffffff!important;background-color: rgba(48, 48, 48, 1)!important;border-color: rgba(48, 48, 48, 1)!important;}


        
        
        
        
        
        

        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
                
        
                
        /* generated in /Users/ekremsansli/Desktop/projects/pj_new/wp-content/themes/optimizewp/framework/modules/sidearea/custom-styles/sidearea.php optimize_mikado_side_area_styles function */
.mkdf-side-menu { background-color: #ffffff;background-image: url(http://optimize.mikado-themes.com/wp-content/uploads/2015/12/side-area-background.jpg);background-size: cover;}

