/*------------------------------------------------------------------
 * This is woocommerce css file for theme. It is broken into following sections:
 * 1.  Global styles
 * 2.  Product list styles
 * 3.  Product single styles
 * 4.  Widget styles
 * 5.  Cart page styles
 * 6.  Checkout page styles
 * 7.  Account pages styles
-------------------------------------------------------------------*/
/* 1. Global styles
   ========================================================================== */
/* Woocommerce global styles - begin
========================================================================== */
/* Woocommerce global styles - end
========================================================================== */
/* Woocommerce pagination - begin
========================================================================== */
.woocommerce-pagination {
  position: relative;
  vertical-align: middle;
  width: auto;
  margin-bottom: 30px;
  text-align: center;
}

.woocommerce-pagination .page-numbers {
  display: inline-block;
  vertical-align: middle;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.woocommerce-pagination .page-numbers li {
  float: left;
}

.woocommerce-pagination .page-numbers li > a,
.woocommerce-pagination .page-numbers li > span.current {
  padding: 0 5px;
}

.woocommerce-pagination .page-numbers li > a.next,
.woocommerce-pagination .page-numbers li > a.prev {
  -webkit-transition: -webkit-transform 0.15s ease-in-out;
  -moz-transition: -moz-transform 0.15s ease-in-out;
  -ms-transition: -ms-transform 0.15s ease-in-out;
  -o-transition: -o-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
  font-size: 31px;
  margin-top: -3px;
}

.woocommerce-pagination .page-numbers li > a.next {
  padding-left: 10px;
}

.woocommerce-pagination .page-numbers li > a.next:hover {
  -webkit-transform: translateX(2px);
  -moz-transform: translateX(2px);
  transform: translateX(2px);
}

.woocommerce-pagination .page-numbers li > a.prev {
  padding-right: 10px;
}

.woocommerce-pagination .page-numbers li > a.prev:hover {
  -webkit-transform: translateX(-2px);
  -moz-transform: translateX(-2px);
  transform: translateX(-2px);
}

.woocommerce-pagination .page-numbers li > a,
.woocommerce-pagination .page-numbers li > span {
  color: #303030;
  font-weight: 700;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}

.woocommerce-pagination .page-numbers li span.current {
  color: #fec436;
}

.woocommerce-pagination .page-numbers li a:hover,
.woocommerce-pagination .page-numbers li span:hover,
.woocommerce-pagination .page-numbers li span.current:hover {
  color: #fec436;
}

/* Woocommerce pagination - end
========================================================================== */
/* Woocommerce login start - begin
========================================================================== */
.woocommerce .login,
.woocommerce .register {
  margin-bottom: 30px;
}

.woocommerce .login > p:first-of-type,
.woocommerce .register > p:first-of-type {
  margin-bottom: 15px;
}

.woocommerce .login label,
.woocommerce .register label {
  display: block;
  margin-bottom: 3px;
}

.woocommerce .login input[type=text],
.woocommerce .login input[type=password],
.woocommerce .login input[type=email],
.woocommerce .register input[type=text],
.woocommerce .register input[type=password],
.woocommerce .register input[type=email] {
  width: 100%;
  outline: 0;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: #999999;
  font-weight: 600;
  border: 1px solid #eaeaea;
  background-color: #fbfbfc;
  padding: 15px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color 0.2s ease-out;
  -moz-transition: border-color 0.2s ease-out;
  transition: border-color 0.2s ease-out;
  resize: none;
  margin-bottom: 10px;
}

.woocommerce .login input[type=text]:focus,
.woocommerce .login input[type=password]:focus,
.woocommerce .login input[type=email]:focus,
.woocommerce .register input[type=text]:focus,
.woocommerce .register input[type=password]:focus,
.woocommerce .register input[type=email]:focus {
  border-color: #fec436;
}

.woocommerce .login .mkdf-row,
.woocommerce .register .mkdf-row {
  margin-left: -15px;
  margin-right: -15px;
}

.woocommerce .login .mkdf-row .form-row,
.woocommerce .register .mkdf-row .form-row {
  width: 50%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .woocommerce .login .mkdf-row .form-row,
  .woocommerce .register .mkdf-row .form-row {
    width: 100%;
    float: none;
  }
}

.woocommerce .login .button,
.woocommerce .register .button {
  margin-bottom: 20px;
}

/* Woocommerce login end - begin
========================================================================== */
/* Woocommerce quantity buttons - begin
========================================================================== */
.mkdf-woocommerce-page .quantity.mkdf-quantity-buttons {
  display: inline-block;
  position: relative;
  margin-right: 44px;
  height: 49px;
  top: 2px;
  width: 55px;
}

.mkdf-woocommerce-page .quantity.mkdf-quantity-buttons span.mkdf-quantity-minus span {
  border: 1px solid #dbdbdb;
  position: absolute;
  color: #303030;
  background-color: #e1e1e1;
  right: -25px;
  bottom: 2px;
  padding: 4px;
  z-index: 10;
  -webkit-transition: background-color 0.15s ease-out;
  -moz-transition: background-color 0.15s ease-out;
  transition: background-color 0.15s ease-out;
  cursor: pointer;
}

.mkdf-woocommerce-page .quantity.mkdf-quantity-buttons span.mkdf-quantity-plus span {
  border: 1px solid #dbdbdb;
  position: absolute;
  right: -25px;
  color: #303030;
  background-color: #e1e1e1;
  top: 0;
  padding: 4px;
  border-bottom: 0;
  -webkit-transition: background-color 0.15s ease-out;
  -moz-transition: background-color 0.15s ease-out;
  transition: background-color 0.15s ease-out;
  cursor: pointer;
}

.mkdf-woocommerce-page .quantity.mkdf-quantity-buttons span.mkdf-quantity-minus span:hover {
  background-color: #ebebeb;
}

.mkdf-woocommerce-page .quantity.mkdf-quantity-buttons .mkdf-quantity-input {
  height: 45px;
  line-height: 45px;
  width: 54px;
  display: inline-block;
  padding: 0;
  background-color: #f6f6f6;
  text-align: center;
  color: #b5b5b5;
  font-weight: 700;
  font-size: 20px;
  border: 1px solid #f2f2f2;
  border-right: none;
  font-family: "Poppins", sans-serif;
}

.mkdf-woocommerce-page .single_variation_wrap .quantity.mkdf-quantity-buttons {
  float: left;
}

/* Woocommerce quantity buttons - end
========================================================================== */
/* Woocommerce message - begin
========================================================================== */
.mkdf-woocommerce-page .woocommerce-message,
.mkdf-woocommerce-page .woocommerce-info,
.mkdf-woocommerce-page .woocommerce-error {
  margin-bottom: 25px;
  position: relative;
  display: block;
  padding: 15px 16px;
  line-height: 36px;
  color: #999999;
  font-weight: 600;
  border: 1px solid #eaeaea;
  background-color: #fbfbfc;
}

.mkdf-woocommerce-page .woocommerce-message:before, .mkdf-woocommerce-page .woocommerce-message:after,
.mkdf-woocommerce-page .woocommerce-info:before,
.mkdf-woocommerce-page .woocommerce-info:after,
.mkdf-woocommerce-page .woocommerce-error:before,
.mkdf-woocommerce-page .woocommerce-error:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.mkdf-woocommerce-page .woocommerce-message:after,
.mkdf-woocommerce-page .woocommerce-info:after,
.mkdf-woocommerce-page .woocommerce-error:after {
  clear: both;
}

.mkdf-woocommerce-page .woocommerce-message,
.mkdf-woocommerce-page .woocommerce-info,
.mkdf-woocommerce-page .woocommerce-error {
  *zoom: 1;
}

.mkdf-woocommerce-page .woocommerce-message .button,
.mkdf-woocommerce-page .woocommerce-info .button,
.mkdf-woocommerce-page .woocommerce-error .button {
  float: right;
  padding: 6px 23px;
  font-size: 12px;
  text-transform: uppercase;
  min-width: 100px;
}

.mkdf-woocommerce-page .woocommerce-error {
  line-height: 26px;
}

.mkdf-woocommerce-page .woocommerce-error li {
  list-style-type: none;
  margin-bottom: 15px;
}

.mkdf-woocommerce-page .woocommerce-error li:last-child {
  margin-bottom: 0;
}

/* Woocommerce message - end
========================================================================== */
/* ==========================================================================
# Select 2 - begin
========================================================================== */
/*
Version: 3.5.4 Timestamp: Sun Aug 30 13:30:32 EDT 2015
*/
.select2-container {
  margin: 0;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
  /*
	  Force border-box so that % widths fit the parent
	  container without overlap because of margin/padding.
	  More Info : http://www.quirksmode.org/css/box.html
	*/
  -webkit-box-sizing: border-box;
  /* webkit */
  -moz-box-sizing: border-box;
  /* firefox */
  box-sizing: border-box;
  /* css3 */
}

.select2-container .select2-choice {
  display: block;
  height: 26px;
  padding: 0 0 0 8px;
  overflow: hidden;
  position: relative;
  border: 1px solid #aaa;
  white-space: nowrap;
  line-height: 26px;
  color: #444;
  text-decoration: none;
  border-radius: 4px;
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.5, #fff));
  background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 50%);
  background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0);
  background-image: linear-gradient(to top, #eee 0%, #fff 50%);
}

html[dir="rtl"] .select2-container .select2-choice {
  padding: 0 8px 0 0;
}

.select2-container.select2-drop-above .select2-choice {
  border-bottom-color: #aaa;
  border-radius: 0 0 4px 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.9, #fff));
  background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 90%);
  background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 90%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
  background-image: linear-gradient(to bottom, #eee 0%, #fff 90%);
}

.select2-container.select2-allowclear .select2-choice .select2-chosen {
  margin-right: 42px;
}

.select2-container .select2-choice > .select2-chosen {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: none;
  width: auto;
  font-size: 14px;
  color: #969696;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: none;
}

html[dir="rtl"] .select2-container .select2-choice > .select2-chosen {
  margin-left: 26px;
  margin-right: 0;
}

.select2-container .select2-choice abbr {
  display: none;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 24px;
  top: 8px;
  font-size: 1px;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  outline: 0;
}

.select2-container.select2-allowclear .select2-choice abbr {
  display: inline-block;
}

.select2-container .select2-choice abbr:hover {
  background-position: right -11px;
  cursor: pointer;
}

.select2-drop-mask {
  border: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 9998;
  /* styles required for IE to work */
  background-color: #fff;
  filter: alpha(opacity=0);
}

.select2-drop {
  width: 100%;
  margin-top: -1px;
  position: absolute;
  z-index: 9999;
  top: 100%;
  background: #fff;
  color: #000;
  border: 1px solid #aaa;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}

.select2-drop.select2-drop-above {
  margin-top: 1px;
  border-top: 1px solid #aaa;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
}

.select2-drop-active {
  border: 1px solid #5897fb;
  border-top: none;
}

.select2-drop.select2-drop-above.select2-drop-active {
  border-top: 1px solid #5897fb;
}

.select2-drop-auto-width {
  border-top: 1px solid #aaa;
  width: auto;
}

.select2-container .select2-choice .select2-arrow {
  display: inline-block;
  width: 18px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid #aaa;
  border-radius: 0 4px 4px 0;
  background-clip: padding-box;
  background: #ccc;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee));
  background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%);
  background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cccccc', GradientType = 0);
  background-image: linear-gradient(to top, #ccc 0%, #eee 60%);
}

html[dir="rtl"] .select2-container .select2-choice .select2-arrow {
  left: 0;
  right: auto;
  border-left: none;
  border-right: 1px solid #aaa;
  border-radius: 4px 0 0 4px;
}

.select2-container .select2-choice .select2-arrow b {
  display: block;
  width: 100%;
  height: 100%;
}

html[dir="rtl"] .select2-container .select2-choice .select2-arrow b {
  background-position: 2px 1px;
}

.select2-search {
  display: inline-block;
  width: 100%;
  min-height: 26px;
  margin: 0;
  padding: 4px 4px 0 4px;
  position: relative;
  z-index: 10000;
  white-space: nowrap;
}

.select2-search input {
  width: 100%;
  height: auto !important;
  min-height: 26px;
  padding: 4px 20px 4px 5px;
  margin: 0;
  outline: 0;
  font-family: sans-serif;
  font-size: 1em;
  border: 1px solid #aaa;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

html[dir="rtl"] .select2-search input {
  padding: 4px 5px 4px 20px;
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  border: 1px solid #5897fb;
  outline: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.select2-dropdown-open .select2-choice {
  border-bottom-color: transparent;
  -webkit-box-shadow: 0 1px 0 #fff inset;
  box-shadow: 0 1px 0 #fff inset;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #eee;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fff), color-stop(0.5, #eee));
  background-image: -webkit-linear-gradient(center bottom, #fff 0%, #eee 50%);
  background-image: -moz-linear-gradient(center bottom, #fff 0%, #eee 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
  background-image: linear-gradient(to top, #fff 0%, #eee 50%);
}

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
  border: 1px solid #5897fb;
  border-top-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(0.5, #eee));
  background-image: -webkit-linear-gradient(center top, #fff 0%, #eee 50%);
  background-image: -moz-linear-gradient(center top, #fff 0%, #eee 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
  background-image: linear-gradient(to bottom, #fff 0%, #eee 50%);
}

.select2-dropdown-open .select2-choice .select2-arrow {
  background: transparent;
  border-left: none;
  filter: none;
}

html[dir="rtl"] .select2-dropdown-open .select2-choice .select2-arrow {
  border-right: none;
}

.select2-dropdown-open .select2-choice .select2-arrow b {
  background-position: -18px 1px;
}

html[dir="rtl"] .select2-dropdown-open .select2-choice .select2-arrow b {
  background-position: -16px 1px;
}

.select2-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* results */
.select2-results {
  max-height: 200px;
  padding: 0 0 0 4px;
  margin: 4px 4px 4px 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-tap-highlight-color: transparent;
}

html[dir="rtl"] .select2-results {
  padding: 0 4px 0 0;
  margin: 4px 0 4px 4px;
}

.select2-results ul.select2-result-sub {
  margin: 0;
  padding-left: 0;
}

.select2-results li {
  list-style: none;
  display: list-item;
  background-image: none;
}

.select2-results li.select2-result-with-children > .select2-result-label {
  font-weight: bold;
}

.select2-results .select2-result-label {
  padding: 3px 7px 4px;
  margin: 0;
  cursor: pointer;
  min-height: 1em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select2-results-dept-1 .select2-result-label {
  padding-left: 20px;
}

.select2-results-dept-2 .select2-result-label {
  padding-left: 40px;
}

.select2-results-dept-3 .select2-result-label {
  padding-left: 60px;
}

.select2-results-dept-4 .select2-result-label {
  padding-left: 80px;
}

.select2-results-dept-5 .select2-result-label {
  padding-left: 100px;
}

.select2-results-dept-6 .select2-result-label {
  padding-left: 110px;
}

.select2-results-dept-7 .select2-result-label {
  padding-left: 120px;
}

.select2-results .select2-highlighted {
  background: #3875d7;
  color: #fff;
}

.select2-results li em {
  background: #feffde;
  font-style: normal;
}

.select2-results .select2-highlighted em {
  background: transparent;
}

.select2-results .select2-highlighted ul {
  background: #fff;
  color: #000;
}

.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-ajax-error,
.select2-results .select2-selection-limit {
  background: #f4f4f4;
  display: list-item;
  padding-left: 5px;
}

/*
disabled look for disabled choices in the results dropdown
*/
.select2-results .select2-disabled.select2-highlighted {
  color: #666;
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}

.select2-results .select2-disabled {
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}

.select2-results .select2-selected {
  display: none;
}

.select2-more-results.select2-active {
  background: #f4f4f4 url("select2-spinner.gif") no-repeat 100%;
}

.select2-results .select2-ajax-error {
  background: rgba(255, 50, 50, 0.2);
}

.select2-more-results {
  background: #f4f4f4;
  display: list-item;
}

/* disabled styles */
.select2-container.select2-container-disabled .select2-choice {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}

.select2-container.select2-container-disabled .select2-choice .select2-arrow {
  background-color: #f4f4f4;
  background-image: none;
  border-left: 0;
}

.select2-container.select2-container-disabled .select2-choice abbr {
  display: none;
}

/* multiselect */
.select2-container-multi .select2-choices {
  height: auto !important;
  height: 1%;
  margin: 0;
  padding: 0 5px 0 0;
  position: relative;
  border: 1px solid #aaa;
  cursor: text;
  overflow: hidden;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eee), color-stop(15%, #fff));
  background-image: -webkit-linear-gradient(top, #eee 1%, #fff 15%);
  background-image: -moz-linear-gradient(top, #eee 1%, #fff 15%);
  background-image: linear-gradient(to bottom, #eee 1%, #fff 15%);
}

html[dir="rtl"] .select2-container-multi .select2-choices {
  padding: 0 0 0 5px;
}

.select2-locked {
  padding: 3px 5px 3px 5px !important;
}

.select2-container-multi .select2-choices {
  min-height: 26px;
}

.select2-container-multi.select2-container-active .select2-choices {
  border: 1px solid #5897fb;
  outline: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.select2-container-multi .select2-choices li {
  float: left;
  list-style: none;
}

html[dir="rtl"] .select2-container-multi .select2-choices li {
  float: right;
}

.select2-container-multi .select2-choices .select2-search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.select2-container-multi .select2-choices .select2-search-field input {
  padding: 5px;
  margin: 1px 0;
  font-family: sans-serif;
  font-size: 100%;
  color: #666;
  outline: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent !important;
}

.select2-container-multi .select2-choices .select2-search-field input.select2-active {
  background: #fff url("select2-spinner.gif") no-repeat 100% !important;
}

.select2-default {
  color: #999 !important;
}

.select2-container-multi .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 18px;
  margin: 3px 0 3px 5px;
  position: relative;
  line-height: 13px;
  color: #333;
  cursor: default;
  border: 1px solid #aaa;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #e4e4e4;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f4f4f4', GradientType=0);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
  background-image: linear-gradient(to bottom, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
}

html[dir="rtl"] .select2-container-multi .select2-choices .select2-search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 18px 3px 5px;
}

.select2-container-multi .select2-choices .select2-search-choice .select2-chosen {
  cursor: default;
}

.select2-container-multi .select2-choices .select2-search-choice-focus {
  background: #d4d4d4;
}

.select2-search-choice-close {
  display: block;
  width: 12px;
  height: 13px;
  position: absolute;
  right: 3px;
  top: 4px;
  font-size: 1px;
  outline: none;
}

html[dir="rtl"] .select2-search-choice-close {
  right: auto;
  left: 3px;
}

.select2-container-multi .select2-search-choice-close {
  left: 3px;
}

html[dir="rtl"] .select2-container-multi .select2-search-choice-close {
  left: auto;
  right: 2px;
}

.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
  background-position: right -11px;
}

.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
  background-position: right -11px;
}

/* disabled styles */
.select2-container-multi.select2-container-disabled .select2-choices {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 5px;
  border: 1px solid #ddd;
  background-image: none;
  background-color: #f4f4f4;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
  display: none;
  background: none;
}

/* end multiselect */
.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
  text-decoration: underline;
}

.select2-offscreen, .select2-offscreen:focus {
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  outline: 0 !important;
  left: 0px !important;
  top: 0px !important;
}

.select2-display-none {
  display: none;
}

.select2-measure-scrollbar {
  position: absolute;
  top: -10000px;
  left: -10000px;
  width: 100px;
  height: 100px;
  overflow: scroll;
}

/* Retina-ize icons */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
  .select2-search input,
  .select2-search-choice-close,
  .select2-container .select2-choice abbr,
  .select2-container .select2-choice .select2-arrow b {
    background-image: url("select2x2.png") !important;
    background-repeat: no-repeat !important;
    background-size: 60px 40px !important;
  }
  .select2-search input {
    background-position: 100% -21px !important;
  }
}

/* Woocommerce Select2 override - begin
========================================================================== */
.mkdf-woocommerce-page .mkdf-quantity-buttons span.arrow_up,
.mkdf-woocommerce-page .mkdf-quantity-buttons span.arrow_down {
  font-size: 14px;
  color: #555555;
}

.mkdf-woocommerce-page .select2-container .select2-choice {
  padding-left: 17px;
  border: 1px solid #dbdbdb;
  height: 45px;
  line-height: 45px;
  color: #898989;
  border-radius: 0;
  background-color: #fff;
  background-image: none;
  filter: none;
}

.mkdf-woocommerce-page .woocommerce-ordering .select2-choice {
  background-color: transparent;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #969696;
}

.mkdf-woocommerce-page .select2-container .select2-choice .select2-arrow {
  width: 20px;
  height: 100%;
  position: absolute;
  right: 10px;
  top: 5px;
  border-left: none;
  border-radius: 0;
  background: transparent;
  background-image: none;
}

.mkdf-woocommerce-page .select2-container .select2-choice .select2-arrow b:after {
  content: '\43';
  font-family: 'ElegantIcons';
  font-size: 18px;
  height: 100%;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 0;
  left: auto;
  width: 100%;
  margin: 0;
  border: none;
  color: #585858;
}

.mkdf-woocommerce-page .select2-drop-active {
  border: 1px solid #e9e9e9;
}

.mkdf-woocommerce-page .select2-drop {
  background-color: #fff;
  color: #7f8385;
  border: 1px solid #dbdbdb;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.mkdf-woocommerce-page .select2-results {
  background-color: #fff;
}

.mkdf-woocommerce-page .select2-results .select2-result {
  font-size: 13px;
  -webkit-transition: color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out;
  transition: color 0.15s ease-out;
}

.mkdf-woocommerce-page .select2-results .select2-highlighted {
  background-color: transparent;
  color: #fec436;
}

.mkdf-woocommerce-page .woocommerce-ordering .orderby {
  float: right;
  width: 200px;
}

.mkdf-woocommerce-page .mkdf-shipping-calculator .country_to_state {
  width: 100%;
}

.mkdf-woocommerce-page .select2-search input {
  background-image: none;
  position: relative;
}

/* Woocommerce Select2 override - end
========================================================================== */
/* 2. Product list styles
   ========================================================================== */
/* Woocommerce product list - begin
========================================================================== */
li.product.type-product {
  position: relative;
}

li.product.type-product span.mkdf-btn-text:before {
  content: "\f067";
  font: normal normal normal 14px/1 FontAwesome;
  margin-right: 8px;
}

.mkdf-woocommerce-page .woocommerce-result-count,
.mkdf-woocommerce-page .woocommerce-ordering,
.woocommerce .woocommerce-result-count,
.woocommerce .woocommerce-ordering {
  width: 50%;
  height: 41px;
  margin: 0 0 28px 0;
  display: inline;
  float: left;
}

.mkdf-woocommerce-page .woocommerce-result-count,
.woocommerce .woocommerce-result-count {
  line-height: 41px;
  font-weight: 600;
  color: #969696;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  text-transform: none;
}

.mkdf-woocommerce-page .full_width .woocommerce-result-count,
.woocommerce .full_width .woocommerce-result-count {
  position: relative;
  left: 45px;
}

.mkdf-woocommerce-page .full_width .woocommerce-ordering,
.woocommerce .full_width .woocommerce-ordering {
  position: relative;
  right: 45px;
}

.mkdf-woocommerce-page ul.products,
.woocommerce ul.products {
  list-style: none;
  padding: 0;
  width: auto !important;
  vertical-align: middle;
  margin: 0 -15px;
}

.mkdf-woocommerce-page ul.products:before, .mkdf-woocommerce-page ul.products:after,
.woocommerce ul.products:before,
.woocommerce ul.products:after {
  content: '';
  display: table;
}

.mkdf-woocommerce-page ul.products:after,
.woocommerce ul.products:after {
  clear: both;
}

.mkdf-woocommerce-page ul.products .product,
.woocommerce ul.products .product {
  position: relative;
  float: left;
  text-align: center;
  padding: 0 15px;
  margin-bottom: 29px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mkdf-woocommerce-page ul.products .product .mkdf-woo-product-list-item-holder,
.woocommerce ul.products .product .mkdf-woo-product-list-item-holder {
  background-color: #fff;
  -webkit-box-shadow: 1px 2px 7.28px 0.72px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 1px 2px 7.28px 0.72px rgba(0, 0, 0, 0.08);
  box-shadow: 1px 2px 7.28px 0.72px rgba(0, 0, 0, 0.08);
  padding-bottom: 20px;
}

.mkdf-woocommerce-page ul.products .product .mkdf-woo-product-image-holder,
.woocommerce ul.products .product .mkdf-woo-product-image-holder {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mkdf-woocommerce-page ul.products .product img,
.woocommerce ul.products .product img {
  display: block;
  width: 100%;
}

.mkdf-woocommerce-page ul.products .product .mkdf-woo-product-info-holder,
.woocommerce ul.products .product .mkdf-woo-product-info-holder {
  display: block;
  padding: 28px 0 13px;
}

.mkdf-woocommerce-page ul.products .product .mkdf-product-list-product-title,
.woocommerce ul.products .product .mkdf-product-list-product-title {
  margin-bottom: 5px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}

.mkdf-woocommerce-page ul.products .product h6.mkdf-product-list-product-title,
.woocommerce ul.products .product h6.mkdf-product-list-product-title {
  font-size: 14px;
  color: #545454;
  margin-bottom: 11px;
}

.mkdf-woocommerce-page ul.products .product .star-rating,
.woocommerce ul.products .product .star-rating {
  margin: 0 auto 19px auto;
}

.mkdf-woocommerce-page ul.products .product .mkdf-btn.added,
.woocommerce ul.products .product .mkdf-btn.added {
  display: none;
}

.mkdf-woocommerce-page ul.products .product .added_to_cart,
.woocommerce ul.products .product .added_to_cart {
  color: #fec436;
  padding: 15px 0;
  width: 100%;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
  outline: none;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1.7em;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}

.mkdf-woocommerce-page ul.products .add_to_cart_button,
.mkdf-woocommerce-page ul.products .mkdf-product-out-of-stock,
.woocommerce ul.products .add_to_cart_button,
.woocommerce ul.products .mkdf-product-out-of-stock {
  background-color: transparent;
  border: 0;
  color: #fec436;
  font-size: 12px;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  padding: 15px 0;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}

.mkdf-woocommerce-page ul.products .product:hover .add_to_cart_button,
.mkdf-woocommerce-page ul.products .product:hover .added_to_cart,
.mkdf-woocommerce-page ul.products .product:hover .mkdf-product-out-of-stock,
.woocommerce ul.products .product:hover .add_to_cart_button,
.woocommerce ul.products .product:hover .added_to_cart,
.woocommerce ul.products .product:hover .mkdf-product-out-of-stock {
  opacity: 1;
}

.mkdf-woocommerce-page ul.products .product:hover span.price,
.woocommerce ul.products .product:hover span.price {
  opacity: 0;
}

.mkdf-woocommerce-page .price,
.woocommerce .price {
  font-family: "Poppins", sans-serif;
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #b5b5b5;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.mkdf-woocommerce-page .price del,
.woocommerce .price del {
  color: #b5b5b5;
}

.mkdf-woocommerce-page .price ins,
.woocommerce .price ins {
  text-decoration: none;
  color: #fec436;
  margin-left: 9px;
}

.mkdf-woocommerce-page .mkdf-onsale,
.mkdf-woocommerce-page .mkdf-out-of-stock,
.woocommerce .mkdf-onsale,
.woocommerce .mkdf-out-of-stock {
  position: absolute;
  display: table;
  top: 3px;
  left: 10px;
  text-align: center;
  z-index: 100;
  color: #fff;
  background-color: #fec436;
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  padding: 15px 10px;
  text-transform: uppercase;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.mkdf-woocommerce-page .mkdf-out-of-stock,
.woocommerce .mkdf-out-of-stock {
  background-color: #b5b5b5;
}

.mkdf-woocommerce-page .star-rating,
.woocommerce .star-rating {
  font-size: 12px;
  overflow: hidden;
  position: relative;
  height: 1em;
  line-height: 1em;
  width: 6.8em;
  font-family: 'ElegantIcons';
  letter-spacing: 5px;
}

.mkdf-woocommerce-page .star-rating:before,
.woocommerce .star-rating:before {
  content: '\e031 \e031 \e031 \e031 \e031';
  color: #fbd60c;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
}

.mkdf-woocommerce-page .star-rating span strong,
.woocommerce .star-rating span strong {
  color: transparent;
  width: 100%;
  display: block;
}

.mkdf-woocommerce-page .star-rating span,
.woocommerce .star-rating span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 1.5em;
  font-weight: normal !important;
}

.mkdf-woocommerce-page .star-rating span:before,
.woocommerce .star-rating span:before {
  content: '\e033 \e033 \e033 \e033 \e033';
  color: #fbd60c;
  top: 0;
  position: absolute;
  left: 0;
}

.mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .products .product,
.columns-4 .products .product {
  width: 25%;
  margin-bottom: 28px;
}

.mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .products .product:nth-child(4n+1),
.columns-4 .products .product:nth-child(4n+1) {
  clear: both;
}

.mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .mkdf-woocommerce-with-sidebar .products .product {
  width: 33.33%;
}

.mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .mkdf-woocommerce-with-sidebar .products .product:nth-child(4n+1) {
  clear: none;
}

.mkdf-woocommerce-page.mkdf-woocommerce-columns-4 .mkdf-woocommerce-with-sidebar .products .product:nth-child(3n+1) {
  clear: both;
}

.mkdf-woocommerce-page.mkdf-woocommerce-columns-3 .products .product,
.columns-3 .products .product {
  width: 33.33%;
}

.mkdf-woocommerce-page.mkdf-woocommerce-columns-3 .products .product:nth-child(3n+1),
.columns-3 .products .product:nth-child(3n+1) {
  clear: both;
}

.mkdf-woocommerce-page.mkdf-woocommerce-columns-3 .mkdf-woocommerce-with-sidebar .products .product {
  width: 50%;
}

.mkdf-woocommerce-page.mkdf-woocommerce-columns-3 .mkdf-woocommerce-with-sidebar .products .product:nth-child(3n+1) {
  clear: none;
}

.mkdf-woocommerce-page.mkdf-woocommerce-columns-3 .mkdf-woocommerce-with-sidebar .products .product:nth-child(2n+1) {
  clear: both;
}

.mkdf-woocommerce-page.mkdf-woocommerce-columns-2 .products .product,
.columns-2 .products .product {
  width: 50%;
}

.mkdf-woocommerce-page.mkdf-woocommerce-columns-2 .products .product:nth-child(2n+1),
.columns-2 .products .product:nth-child(2n+1) {
  clear: both;
}

/* Woocommerce product list - end
========================================================================== */
/* 3. Product single styles
   ========================================================================== */
/* Woocommerce single product - begin
========================================================================== */
.single-product .mkdf-content-inner > .mkdf-container {
  background-color: #fff;
}

.single-product .images figure {
  display: inline-block;
  position: relative;
}

.single-product .images .woocommerce-product-gallery__image {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0 10px;
  box-sizing: border-box;
}

.single-product .images .woocommerce-product-gallery__image:first-child {
  left: 10px;
  width: calc(100% - 20px);
  padding: 0;
}

.single-product .images .woocommerce-product-gallery__image .zoomImg {
  cursor: crosshair;
}

.single-product .images.woocommerce-product-gallery--with-images .woocommerce-product-gallery__image:not(:first-child) {
  float: left;
  padding-top: 20px;
}

.single-product .images.woocommerce-product-gallery--columns-2 .woocommerce-product-gallery__image:not(:first-child) {
  width: 50%;
}

.single-product .images.woocommerce-product-gallery--columns-3 .woocommerce-product-gallery__image:not(:first-child) {
  width: 33.3333333333%;
}

.single-product .images.woocommerce-product-gallery--columns-4 .woocommerce-product-gallery__image:not(:first-child) {
  width: 25%;
}

.single-product .woocommerce-product-gallery {
  box-sizing: border-box;
  float: left;
  display: inline-block;
  width: 50%;
}

.single-product span.mkdf-onsale {
  display: none;
}

.single-product .mkdf-single-product-wrapper {
  padding: 0 1000px;
  margin: 0 -1000px;
  background: #fff;
}

.single-product .related.products,
.single-product .upsells.products {
  clear: both;
  margin-left: -1000px;
  margin-right: -1000px;
  padding-left: 1000px;
  padding-right: 1000px;
  background-color: #fbfbfc;
  border-top: 1px solid #f2f2f2;
  padding-top: 66px;
  padding-bottom: 50px;
}

.single-product .star-rating {
  margin-bottom: 0;
}

.single-product .mkdf-tabs.mkdf-horizontal {
  clear: both;
}

.single-product .mkdf-tabs.mkdf-horizontal .mkdf-tab-container h2 {
  display: none;
}

.single-product .mkdf-tabs.mkdf-horizontal .mkdf-tab-container {
  margin-bottom: 30px;
}

.single-product .mkdf-tabs.mkdf-horizontal table tr {
  border: none;
  border-bottom: 1px solid #e6e6e6;
  font-weight: 700;
}

.single-product .mkdf-tabs.mkdf-horizontal table tr:last-child {
  border-bottom: none;
}

.single-product .mkdf-tabs.mkdf-horizontal table th {
  border: none;
  text-align: left;
  font-weight: 400;
  width: 30%;
}

.single-product .mkdf-tabs.mkdf-horizontal table td {
  width: 70%;
}

.single-product .mkdf-single-product-images {
  width: 45%;
  margin-right: 4%;
  display: inline-block;
  float: left;
  margin-bottom: 63px;
  position: relative;
}

.single-product .mkdf-single-product-images a {
  display: block;
}

.single-product .mkdf-single-product-images img {
  vertical-align: middle;
}

.single-product .mkdf-single-product-summary {
  width: 50%;
  display: inline-block;
  float: left;
}

.single-product .mkdf-single-product-summary .summary.entry-summary h2.mkdf-single-product-title {
  color: #2f2f2f;
  margin-top: 10px;
  margin-bottom: 9px;
  text-transform: capitalize;
}

.single-product .mkdf-single-product-summary .summary.entry-summary .mkdf-social-share-holder.mkdf-list {
  margin-bottom: 20px;
}

.single-product .mkdf-single-product-summary .summary.entry-summary .mkdf-social-share-holder.mkdf-list:before {
  content: 'Share';
  color: #545454;
  font-weight: 600;
  margin-right: 10px;
}

.single-product .mkdf-single-product-summary .mkdf-single-product-title-holder {
  position: relative;
  margin-bottom: 8px;
}

.single-product .mkdf-single-product-summary .mkdf-single-product-title-holder .mkdf-single-product-title {
  display: inline-block;
  margin-right: 22px;
  font-size: 34px;
}

.single-product .mkdf-single-product-summary .mkdf-single-product-title-holder .woocommerce-product-rating {
  display: inline-block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.single-product .mkdf-single-product-summary .mkdf-single-product-title-holder .woocommerce-product-rating .woocommerce-review-link {
  display: none;
}

.single-product .mkdf-single-product-summary .mkdf-single-product-categories {
  font-family: Georgia, sans-serif;
  font-size: 20px;
  font-style: italic;
  margin-bottom: 30px;
}

.single-product .mkdf-single-product-summary .mkdf-single-product-categories a {
  color: #2f2f2f;
}

.single-product .mkdf-single-product-summary .price {
  font-size: 20px;
  color: #b5b5b5;
  margin-top: 23px;
}

.single-product .mkdf-single-product-summary .price ins {
  font-size: 20px;
  color: #fec436;
}

.single-product .mkdf-single-product-summary .price del {
  font-size: 16px;
}

.single-product .mkdf-single-product-summary .out-of-stock {
  margin: 27px 0;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.single-product .mkdf-single-product-summary .cart {
  margin: 24px 0 45px 0;
}

.single-product .mkdf-single-product-summary .cart .mkdf-quantity-label {
  display: inline-block;
  padding: 0 14px 0 0;
}

.single-product .mkdf-single-product-summary .cart .mkdf-quantity-label h6 {
  color: #545454;
  font-size: 14px;
  font-weight: 600;
}

.single-product .mkdf-single-product-summary .product_meta {
  margin-bottom: 25px;
}

.single-product .mkdf-single-product-summary .product_meta > span {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #252525;
}

.single-product #comments h2 {
  font-size: 14px;
  margin-bottom: 10px;
}

.single-product #comments .commentlist {
  list-style: none;
}

.single-product #comments .commentlist li {
  padding: 15px 0;
  border-bottom: 1px solid #dbdbdb;
  min-height: 75px;
}

.single-product #comments .commentlist img {
  display: block;
  width: 75px;
  height: 75px;
  float: left;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

.single-product #comments .commentlist .star-rating {
  margin-bottom: 16px;
}

.single-product #comments .comment-form-comment {
  margin-top: 10px;
}

.single-product .comment-form-rating .stars {
  height: 16px;
}

.single-product .comment-form-rating .stars span {
  width: 80px;
  height: 16px;
  position: relative;
  float: left;
  background: url(img/star.png) repeat-x left 0;
}

.single-product .comment-form-rating .stars a {
  float: left;
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 0;
  padding-top: 16px;
  overflow: hidden;
}

.single-product .comment-form-rating .stars a:hover {
  background: url(img/star.png) repeat-x left -16px;
}

.single-product .comment-form-rating .stars .active {
  background: url(img/star.png) repeat-x left -32px;
}

.single-product .comment-form-rating .stars .star-1 {
  width: 16px;
  z-index: 10;
}

.single-product .comment-form-rating .stars .star-2 {
  width: 32px;
  z-index: 9;
}

.single-product .comment-form-rating .stars .star-3 {
  width: 48px;
  z-index: 8;
}

.single-product .comment-form-rating .stars .star-4 {
  width: 64px;
  z-index: 7;
}

.single-product .comment-form-rating .stars .star-5 {
  width: 80px;
  z-index: 6;
}

.single-product #review_form {
  margin-top: 38px;
}

.single-product .related {
  padding-top: 55px;
}

.single-product .upsells.products h2,
.single-product .related.products h2 {
  margin-bottom: 50px;
  padding-bottom: 15px;
  position: relative;
  text-align: center;
  color: #303030;
  font-size: 37px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

.single-product #reviews input[type="text"],
.single-product #reviews textarea {
  background-color: #f7f7f7;
  font-family: "Open Sans", serif;
  font-size: 12px;
  color: #767676;
  margin-bottom: 0;
  padding: 12px 20px;
}

.single-product .mkdf-content .mkdf-content-inner > .mkdf-container > .mkdf-container-inner {
  padding-bottom: 0;
}

/* Woocommerce single product - end
========================================================================== */
/* 4. Widget styles
   ========================================================================== */
/* Woocommerce widgets - start
========================================================================== */
aside.mkdf-sidebar .widget.widget_layered_nav,
aside.mkdf-sidebar .widget .product-categories {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #585858;
}

aside.mkdf-sidebar .widget.widget_layered_nav a,
aside.mkdf-sidebar .widget .product-categories a {
  color: #585858;
  display: inline-block;
  padding-bottom: 7px;
  padding-top: 7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

aside.mkdf-sidebar .widget.widget_layered_nav a:hover,
aside.mkdf-sidebar .widget .product-categories a:hover {
  color: #fec436;
}

aside.mkdf-sidebar .widget.widget_layered_nav > li:last-child > a,
aside.mkdf-sidebar .widget .product-categories > li:last-child > a {
  padding-bottom: 0;
}

aside.mkdf-sidebar .widget.widget_product_categories {
  font-size: 14px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

aside.mkdf-sidebar .widget.widget_product_categories .product-categories li a {
  position: relative;
  padding-left: 32px;
}

aside.mkdf-sidebar .widget.widget_product_categories .product-categories li a:before {
  content: "\35";
  font-family: ElegantIcons;
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 24px;
  color: #545454;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

aside.mkdf-sidebar .widget.widget_top_rated_products .product_list_widget span.product-title {
  font-weight: 700;
}

aside.mkdf-sidebar .widget .product_list_widget li {
  border-bottom: 1px solid #f2f2f2;
  padding: 15px 0;
  position: relative;
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

aside.mkdf-sidebar .widget .product_list_widget li:last-child {
  border-bottom: none;
}

aside.mkdf-sidebar .widget .product_list_widget li .mkdf-woo-product-widget-image {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  text-align: left;
  width: 71px;
  vertical-align: top;
}

aside.mkdf-sidebar .widget .product_list_widget li .mkdf-woo-product-widget-image img {
  width: 71px;
  display: block;
}

aside.mkdf-sidebar .widget .product_list_widget li .mkdf-woo-product-widget-content {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #b5b5b5;
  text-align: left;
  vertical-align: top;
  padding-left: 24px;
}

aside.mkdf-sidebar .widget .product_list_widget li .mkdf-woo-product-widget-content > a {
  color: #585858;
}

aside.mkdf-sidebar .widget .product_list_widget li .mkdf-woo-product-widget-content .mkdf-woo-product-widget-title {
  display: block;
  line-height: 1.7em;
  margin-bottom: 0;
  margin-top: 12px;
}

aside.mkdf-sidebar .widget .product_list_widget li .mkdf-woo-product-widget-content .star-rating {
  margin-top: 3px;
}

aside.mkdf-sidebar .widget .product_list_widget li .mkdf-woo-product-widget-content .product-title {
  font-size: 15px;
  font-weight: 700;
  color: #545454;
}

aside.mkdf-sidebar .widget .product_list_widget li .mkdf-woo-product-widget-content ins {
  text-decoration: none;
}

aside.mkdf-sidebar .widget .product_list_widget li .mkdf-woo-product-widget-content ins span.amount {
  font-size: 18px;
  color: #fec436;
  font-weight: 700;
}

aside.mkdf-sidebar .widget .product_list_widget li .mkdf-woo-product-widget-content .amount {
  font-size: 18px;
  color: #969696;
  font-weight: 700;
  text-decoration: none;
}

aside.mkdf-sidebar .widget .product_list_widget li .mkdf-woo-product-widget-content del span.amount {
  color: #969696;
}

aside.mkdf-sidebar .widget.widget_recent_reviews a {
  display: block;
  font-family: "Poppins", sans-serif;
  color: #585858;
  font-size: 16px;
  line-height: 1.7em;
}

aside.mkdf-sidebar .widget.widget_recent_reviews img {
  width: 68px;
  margin-right: 22px;
  float: left;
}

aside.mkdf-sidebar .widget.widget_recent_reviews .reviewer {
  font-size: 13px;
}

aside.mkdf-sidebar .widget.widget_shopping_cart .cart_list img {
  width: 68px;
  margin-right: 22px;
  float: left;
}

aside.mkdf-sidebar .widget.widget_shopping_cart .cart_list a {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #545454;
  font-weight: 700;
  display: inline;
}

aside.mkdf-sidebar .widget.widget_shopping_cart .cart_list .quantity {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #969696;
}

aside.mkdf-sidebar .widget.widget_shopping_cart .cart_list .remove {
  position: absolute;
  color: transparent;
  right: 0;
  top: 14px;
  font-size: 15px;
}

aside.mkdf-sidebar .widget.widget_shopping_cart .cart_list .remove:after {
  content: '\f014';
  font-family: 'FontAwesome';
  color: #585858;
}

aside.mkdf-sidebar .widget.widget_shopping_cart .total {
  font-family: "Poppins", sans-serif;
  margin: 10px 0;
  font-weight: 700;
  text-align: right;
}

aside.mkdf-sidebar .widget.widget_shopping_cart .buttons:after, aside.mkdf-sidebar .widget.widget_shopping_cart .buttons:before {
  content: '';
  display: table;
}

aside.mkdf-sidebar .widget.widget_shopping_cart .buttons:after {
  clear: both;
}

aside.mkdf-sidebar .widget.widget_shopping_cart .buttons a {
  width: 49%;
  padding: 10px;
  display: inline-block;
  text-align: center;
  float: left;
  margin-right: 2%;
  min-width: initial;
  font-size: 12px;
}

aside.mkdf-sidebar .widget.widget_shopping_cart .buttons a:last-child {
  margin-right: 0;
}

aside.mkdf-sidebar .widget.widget_price_filter .price_slider_wrapper .ui-widget-content {
  background-color: #8b8b8b;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

aside.mkdf-sidebar .widget.widget_price_filter .ui-slider-horizontal {
  height: 6px;
}

aside.mkdf-sidebar .widget.widget_price_filter .price_slider_wrapper {
  margin-top: 34px;
}

aside.mkdf-sidebar .widget.widget_price_filter .ui-slider {
  position: relative;
  text-align: left;
}

aside.mkdf-sidebar .widget.widget_price_filter .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 11px;
  height: 11px;
  cursor: pointer;
  outline: none;
  top: -3px;
  background-color: #a1a1a1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

aside.mkdf-sidebar .widget.widget_price_filter .ui-slider .ui-slider-handle:last-child {
  margin-left: -0.5em;
}

aside.mkdf-sidebar .widget.widget_price_filter .ui-slider-horizontal .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-color: #535353;
  top: 0;
  height: 100%;
}

aside.mkdf-sidebar .widget.widget_price_filter .button {
  float: right;
  padding: 6px 23px;
  font-size: 12px;
  text-transform: uppercase;
  min-width: 100px;
}

aside.mkdf-sidebar .widget.widget_price_filter .price_slider_amount {
  margin-top: 26px;
}

aside.mkdf-sidebar .widget.widget_price_filter .price_label {
  float: left;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 41px;
  font-weight: 700;
  color: #969696;
}

/* Woocommerce widgets - end
========================================================================== */
/* Dropdown Shopping Cart */
.mkdf-shopping-cart-outer .mkdf-shopping-cart-header {
  display: inline-block;
  vertical-align: middle;
}

.mkdf-shopping-cart-outer .mkdf-shopping-cart-header .mkdf-header-cart .mkdf-cart-icon {
  background: url("img/cart_icon.png") no-repeat;
  background-size: 23px 17px;
  width: 23px;
  height: 17px;
  position: relative;
  top: 4px;
  display: inline-block;
  -webkit-transition: initial;
  -moz-transition: initial;
  transition: initial;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 150 / 100), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 160dpi) {
  .mkdf-shopping-cart-outer .mkdf-shopping-cart-header .mkdf-header-cart .mkdf-cart-icon {
    background: url("img/cart_icon_x1.5.png") no-repeat;
    -o-background-size: 23px 17px;
    -webkit-background-size: 23px 17px;
    -moz-background-size: 23px 17px;
    background-size: 23px 17px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 200 / 100), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 210dpi) {
  .mkdf-shopping-cart-outer .mkdf-shopping-cart-header .mkdf-header-cart .mkdf-cart-icon {
    background: url("img/cart_icon_x2.png") no-repeat;
    -o-background-size: 23px 17px;
    -webkit-background-size: 23px 17px;
    -moz-background-size: 23px 17px;
    background-size: 23px 17px;
  }
}

.mkdf-light-header .mkdf-page-header .mkdf-shopping-cart-outer .mkdf-shopping-cart-header .mkdf-header-cart .mkdf-cart-icon,
.mkdf-top-bar-light .mkdf-top-bar .mkdf-shopping-cart-outer .mkdf-shopping-cart-header .mkdf-header-cart .mkdf-cart-icon {
  background: url("img/cart_icon_white.png") no-repeat;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 150 / 100), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 160dpi) {
  .mkdf-light-header .mkdf-page-header .mkdf-shopping-cart-outer .mkdf-shopping-cart-header .mkdf-header-cart .mkdf-cart-icon,
  .mkdf-top-bar-light .mkdf-top-bar .mkdf-shopping-cart-outer .mkdf-shopping-cart-header .mkdf-header-cart .mkdf-cart-icon {
    background: url("img/cart_icon_white_x1.5.png") no-repeat;
    -o-background-size: 23px 17px;
    -webkit-background-size: 23px 17px;
    -moz-background-size: 23px 17px;
    background-size: 23px 17px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 200 / 100), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 210dpi) {
  .mkdf-light-header .mkdf-page-header .mkdf-shopping-cart-outer .mkdf-shopping-cart-header .mkdf-header-cart .mkdf-cart-icon,
  .mkdf-top-bar-light .mkdf-top-bar .mkdf-shopping-cart-outer .mkdf-shopping-cart-header .mkdf-header-cart .mkdf-cart-icon {
    background: url("img/cart_icon_white_x2.png") no-repeat;
    -o-background-size: 23px 17px;
    -webkit-background-size: 23px 17px;
    -moz-background-size: 23px 17px;
    background-size: 23px 17px;
  }
}

.mkdf-dark-header .mkdf-page-header .mkdf-shopping-cart-outer .mkdf-shopping-cart-header .mkdf-header-cart .mkdf-cart-icon,
.mkdf-top-bar-dark .mkdf-top-bar .mkdf-shopping-cart-outer .mkdf-shopping-cart-header .mkdf-header-cart .mkdf-cart-icon {
  background: url("img/cart_icon_dark.png") no-repeat;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 150 / 100), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 160dpi) {
  .mkdf-dark-header .mkdf-page-header .mkdf-shopping-cart-outer .mkdf-shopping-cart-header .mkdf-header-cart .mkdf-cart-icon,
  .mkdf-top-bar-dark .mkdf-top-bar .mkdf-shopping-cart-outer .mkdf-shopping-cart-header .mkdf-header-cart .mkdf-cart-icon {
    background: url("img/cart_icon_black_x1.5.png") no-repeat;
    -o-background-size: 23px 17px;
    -webkit-background-size: 23px 17px;
    -moz-background-size: 23px 17px;
    background-size: 23px 17px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 200 / 100), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 210dpi) {
  .mkdf-dark-header .mkdf-page-header .mkdf-shopping-cart-outer .mkdf-shopping-cart-header .mkdf-header-cart .mkdf-cart-icon,
  .mkdf-top-bar-dark .mkdf-top-bar .mkdf-shopping-cart-outer .mkdf-shopping-cart-header .mkdf-header-cart .mkdf-cart-icon {
    background: url("img/cart_icon_black_x2.png") no-repeat;
    -o-background-size: 23px 17px;
    -webkit-background-size: 23px 17px;
    -moz-background-size: 23px 17px;
    background-size: 23px 17px;
  }
}

.mkdf-shopping-cart-outer .mkdf-shopping-cart-header .mkdf-header-cart {
  display: inline-block;
  position: relative;
  color: inherit;
  vertical-align: middle;
}

.mkdf-top-bar .mkdf-shopping-cart-outer .mkdf-shopping-cart-header .mkdf-header-cart {
  line-height: 35px;
}

.mkdf-sticky-header .mkdf-shopping-cart-outer .mkdf-shopping-cart-header .mkdf-header-cart {
  line-height: 60px;
}

.mkdf-shopping-cart-outer .mkdf-shopping-cart-header .mkdf-header-cart .mkdf-cart-count {
  position: absolute;
  display: inline-block;
  top: -7px;
  margin-left: -9px;
  width: 15px;
  height: 15px;
  color: #fff !important;
  background-color: #fec436;
  line-height: 14px;
  text-align: center;
  font-size: 11px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.mkdf-shopping-cart-outer .mkdf-shopping-cart-header .mkdf-header-cart i {
  font-size: 23px;
  line-height: inherit;
  -webkit-transition: initial;
  -moz-transition: initial;
  transition: initial;
}

.mkdf-shopping-cart-outer .mkdf-shopping-cart-header .mkdf-cart-label {
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  transition: color 0.15s ease;
  margin: 0 0 0 5px;
}

.mkdf-top-bar .mkdf-header-cart {
  text-transform: uppercase;
}

.mkdf-shopping-cart-dropdown {
  background-color: #fff;
  box-sizing: border-box;
  left: auto;
  position: absolute;
  right: -1px;
  top: calc(100% - 1px);
  z-index: 1000;
  width: 260px;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  padding: 22px;
  line-height: 25px;
  cursor: default;
}

.mkdf-shopping-cart-dropdown a,
.mkdf-dark-header .mkdf-top-bar .mkdf-shopping-cart-dropdown a,
.mkdf-light-header .mkdf-top-bar .mkdf-shopping-cart-dropdown a {
  color: #fff;
}

.mkdf-shopping-cart-dropdown .mkdf-btn.mkdf-btn-small.mkdf-btn-icon span.mkdf-btn-text {
  padding-left: 10px;
  padding-right: 17px;
}

.mkdf-shopping-cart-dropdown .mkdf-btn.mkdf-btn-small {
  width: 50%;
}

.mkdf-shopping-cart-dropdown ul li {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 11px;
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 11px;
}

.mkdf-shopping-cart-dropdown ul li a {
  display: block;
}

.mkdf-shopping-cart-dropdown ul li a:hover {
  color: #fec436;
}

.mkdf-shopping-cart-dropdown ul li .mkdf-item-image-holder {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  width: 37px;
}

.mkdf-shopping-cart-dropdown ul li .mkdf-item-image-holder img {
  vertical-align: middle;
}

.mkdf-shopping-cart-dropdown .mkdf-item-info-holder {
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  padding-left: 13px;
  text-align: left;
}

.mkdf-shopping-cart-dropdown .mkdf-item-info-holder .mkdf-item-left a {
  color: #999;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  padding-right: 25px;
}

.mkdf-shopping-cart-dropdown .mkdf-item-info-holder .mkdf-item-left a:hover {
  color: #fec436;
}

.mkdf-shopping-cart-dropdown .mkdf-item-info-holder .mkdf-item-left .mkdf-quantity {
  color: #999999;
  font-size: 13px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.mkdf-shopping-cart-dropdown .mkdf-item-info-holder .mkdf-item-right {
  float: left;
  text-align: left;
  color: #999;
  font-weight: 700;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

.mkdf-shopping-cart-dropdown .mkdf-item-info-holder .mkdf-item-right span.icon_close {
  font-size: 16px;
}

.mkdf-shopping-cart-dropdown .mkdf-item-info-holder .mkdf-item-right .remove {
  color: #818181;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  position: absolute;
  top: 5px;
  right: 4px;
  -webkit-transition: color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out;
  transition: color 0.15s ease-out;
}

.mkdf-shopping-cart-dropdown .mkdf-item-info-holder .mkdf-item-right .remove:hover {
  color: #fec436;
}

.mkdf-shopping-cart-dropdown span.mkdf-total span {
  color: #fec436;
  font-weight: 600;
  padding: 0 0 0 2px;
  letter-spacing: 0;
}

.mkdf-shopping-cart-dropdown .mkdf-empty-cart {
  border: none;
  padding: 0;
  text-align: center;
  margin-bottom: 0;
  font-size: 13px;
}

.mkdf-shopping-cart-dropdown .mkdf-cart-list a > img {
  display: block;
}

.mkdf-shopping-cart-dropdown span.mkdf-quantity {
  color: #fec436;
}

.mkdf-shopping-cart-dropdown .mkdf-cart-bottom .mkdf-subtotal-holder {
  margin: 0 0 23px 0;
  line-height: 15px;
}

.mkdf-shopping-cart-dropdown .mkdf-cart-bottom .mkdf-subtotal-holder .mkdf-total {
  float: left;
  color: #999;
  font-weight: 700;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

.mkdf-shopping-cart-dropdown .mkdf-cart-bottom .mkdf-subtotal-holder .mkdf-total-amount {
  float: right;
  font-weight: 700;
  color: #999;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

.mkdf-shopping-cart-dropdown .mkdf-cart-bottom .mkdf-btns-holder {
  background-color: #fff;
  margin: -16px;
  padding: 6px 13px 11px 14px;
}

.mkdf-shopping-cart-dropdown .mkdf-cart-bottom .mkdf-btns-holder .mkdf-btn.mkdf-btn-small {
  padding: 7px 15px;
  font-size: 9px;
  font-weight: 700;
  float: left;
}

.mkdf-shopping-cart-dropdown .mkdf-cart-bottom .mkdf-btns-holder .mkdf-btn.mkdf-btn-small.view-cart {
  background-color: #34b571 !important;
  border: 2px solid #34b571 !important;
  color: #fff !important;
}

.mkdf-shopping-cart-dropdown .mkdf-cart-bottom .mkdf-btns-holder .mkdf-btn.mkdf-btn-small.view-cart:hover {
  background-color: #fff !important;
  border: 2px solid #fec436 !important;
  color: #fec436 !important;
}

.mkdf-shopping-cart-dropdown .mkdf-btn.mkdf-btn-small.mkdf-btn-icon span.mkdf-btn-text {
  padding-left: 5px;
  padding-right: 15px;
}

.widget_mkdf_woocommerce_dropdown_cart {
  cursor: pointer;
}

.widget_mkdf_woocommerce_dropdown_cart:hover .mkdf-shopping-cart-dropdown {
  display: block;
  visibility: visible;
  text-align: left;
}

@media only screen and (min-width: 1025px) {
  .mkdf-dark-header :not(.mkdf-sticky-header) .mkdf-shopping-cart-header .mkdf-header-cart > i,
  .mkdf-dark-header :not(.mkdf-sticky-header) .mkdf-shopping-cart-header .mkdf-header-cart > span {
    color: #000000;
  }
  .mkdf-light-header :not(.mkdf-sticky-header) .mkdf-shopping-cart-header .mkdf-header-cart > i,
  .mkdf-light-header :not(.mkdf-sticky-header) .mkdf-shopping-cart-header .mkdf-header-cart > span {
    color: #ffffff;
  }
}

/* 5.  Cart page styles
   ========================================================================== */
.woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) {
  background-color: #fff;
  padding: 0 20px;
  margin-bottom: 40px;
  border: 1px solid #eaeaea;
}

.woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) table {
  border: none;
}

.woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) tr {
  border: none;
  border-bottom: 1px solid #e6e6e6;
}

.woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) td, .woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) th {
  padding: 15px 10px;
  text-align: left;
}

.woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) td {
  vertical-align: middle;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #999999;
}

.woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) tbody tr:last-child {
  border-bottom: none;
}

.woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) thead {
  border-bottom: 1px solid #e6e6e6;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #303030;
}

.woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) thead tr {
  border-bottom: none;
}

.woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) thead th {
  font-weight: 700;
}

.woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) .product-remove {
  font-size: 20px;
  text-align: center;
}

.woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) .product-thumbnail img {
  width: 100px;
}

.woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) .product-quantity .mkdf-quantity-label {
  display: none;
}

.woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) .product-name a {
  font-family: "Poppins", sans-serif;
  color: #999999;
  font-weight: 600;
  font-size: 14px;
}

.woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) .product-name a:hover {
  color: #fec436;
}

.woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) .actions {
  padding-left: 0;
  padding-right: 0;
}

.woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) .actions:before, .woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) .actions:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) .actions:after {
  clear: both;
}

.woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) .actions {
  *zoom: 1;
}

.woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) .actions .coupon,
.woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) .actions .mkdf-cart-proceed-update {
  float: left;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) .actions .mkdf-cart-proceed-update {
  text-align: right;
}

.woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) .actions .mkdf-cart-proceed-update input[type=submit] {
  margin-left: 10px;
}

.woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) .actions .coupon:before, .woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) .actions .coupon:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) .actions .coupon:after {
  clear: both;
}

.woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) .actions .coupon {
  *zoom: 1;
}

.woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) .actions .coupon label {
  display: none;
}

.woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) .actions .coupon input[type=text] {
  width: 100%;
  margin-bottom: 30px;
  padding: 15px;
  outline: 0;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #999999;
  border: 1px solid #eaeaea;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color 0.2s ease-out;
  -moz-transition: border-color 0.2s ease-out;
  transition: border-color 0.2s ease-out;
  resize: none;
  background-color: #fbfbfc;
  margin-bottom: 0;
  display: inline-block;
  width: 50%;
  margin-right: 20px;
}

.woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) .actions .coupon input[type=text]:focus {
  border-color: #fec436;
}

.woocommerce-cart .woocommerce .cart-collaterals:before, .woocommerce-cart .woocommerce .cart-collaterals:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.woocommerce-cart .woocommerce .cart-collaterals:after {
  clear: both;
}

.woocommerce-cart .woocommerce .cart-collaterals {
  *zoom: 1;
}

.woocommerce-cart .woocommerce .cart-collaterals .mkdf-shipping-calculator {
  float: left;
  width: 40%;
}

.woocommerce-cart .woocommerce .cart-collaterals .mkdf-shipping-calculator .woocommerce-shipping-calculator > p {
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.woocommerce-cart .woocommerce .cart-collaterals .mkdf-shipping-calculator .woocommerce-shipping-calculator > p a {
  display: block;
  position: relative;
  color: #303030;
}

.woocommerce-cart .woocommerce .cart-collaterals .mkdf-shipping-calculator .woocommerce-shipping-calculator > p a:hover {
  color: #fec436;
}

.woocommerce-cart .woocommerce .cart-collaterals .mkdf-shipping-calculator .woocommerce-shipping-calculator > p a span {
  position: absolute;
  right: 0;
  top: 3px;
}

.woocommerce-cart .woocommerce .cart-collaterals .mkdf-shipping-calculator .form-row input[type=text] {
  width: 100%;
  outline: 0;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: #999999;
  font-weight: 600;
  border: 1px solid #eaeaea;
  background-color: #fbfbfc;
  padding: 15px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color 0.2s ease-out;
  -moz-transition: border-color 0.2s ease-out;
  transition: border-color 0.2s ease-out;
  resize: none;
  margin-bottom: 15px;
}

.woocommerce-cart .woocommerce .cart-collaterals .mkdf-shipping-calculator .form-row input[type=text]:focus {
  border-color: #fec436;
}

.woocommerce-cart .woocommerce .cart-collaterals .mkdf-shipping-calculator .form-row .select2-container {
  margin-bottom: 15px;
}

.woocommerce-cart .woocommerce .cart-collaterals .mkdf-shipping-calculator .form-row .select2-choice {
  border: none;
  font-size: 12px;
  color: #767676;
  height: 49px;
  line-height: 49px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.woocommerce-cart .woocommerce .cart-collaterals .mkdf-cart-totals {
  float: right;
  width: 40%;
}

.woocommerce-cart .woocommerce .cart-collaterals .mkdf-cart-totals h2 {
  font-size: 24px;
  margin-bottom: 30px;
}

.woocommerce-cart .woocommerce .cart-collaterals .mkdf-cart-totals table tr {
  border: none;
  text-align: left;
}

.woocommerce-cart .woocommerce .cart-collaterals .mkdf-cart-totals table th, .woocommerce-cart .woocommerce .cart-collaterals .mkdf-cart-totals table td {
  text-align: left;
  padding-bottom: 15px;
  border: none;
}

.woocommerce-cart .woocommerce .cart-collaterals .mkdf-cart-totals table .cart-subtotal span.amount {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #999;
}

.woocommerce-cart .woocommerce .cart-collaterals .mkdf-cart-totals table .cart-subtotal th {
  width: 30%;
  border-right: none;
  padding-left: 0;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #999;
}

.woocommerce-cart .woocommerce .cart-collaterals .mkdf-cart-totals table .order-total {
  border-top: 1px solid #e6e6e6;
}

.woocommerce-cart .woocommerce .cart-collaterals .mkdf-cart-totals table .order-total th {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #999;
  border-right: 0;
}

.woocommerce-cart .woocommerce .cart-collaterals .mkdf-cart-totals table .order-total th, .woocommerce-cart .woocommerce .cart-collaterals .mkdf-cart-totals table .order-total td {
  padding-top: 15px;
  font-size: 16px;
}

.woocommerce-cart .woocommerce .cart-collaterals .mkdf-cart-totals table .order-total td {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #303030;
  font-size: 20px;
}

.woocommerce-cart .woocommerce .cart-collaterals .mkdf-cart-totals #shipping_method {
  list-style: none;
}

.woocommerce-cart .woocommerce .cross-sells {
  margin-top: 40px;
}

.woocommerce-cart .woocommerce .cross-sells h2 {
  font-size: 24px;
  margin-bottom: 30px;
}

/* 6.  Checkout page styles
   ========================================================================== */
.woocommerce-checkout .col2-set {
  margin-left: -15px;
  margin-right: -15px;
}

.woocommerce-checkout .col2-set:before, .woocommerce-checkout .col2-set:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.woocommerce-checkout .col2-set:after {
  clear: both;
}

.woocommerce-checkout .col2-set {
  *zoom: 1;
}

.woocommerce-checkout .col2-set .col-1,
.woocommerce-checkout .col2-set .col-2 {
  width: 50%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .woocommerce-checkout .col2-set .col-1,
  .woocommerce-checkout .col2-set .col-2 {
    width: 100%;
    float: none;
  }
}

.woocommerce-checkout .form-row label {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #999999;
  font-weight: 600;
}

.woocommerce-checkout .checkout_coupon {
  width: 50%;
  margin-left: -15px;
  margin-right: -15px;
}

.woocommerce-checkout .checkout_coupon input[type=text] {
  width: 100%;
  outline: 0;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: #999999;
  font-weight: 600;
  border: 1px solid #eaeaea;
  background-color: #fbfbfc;
  padding: 15px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color 0.2s ease-out;
  -moz-transition: border-color 0.2s ease-out;
  transition: border-color 0.2s ease-out;
  resize: none;
  margin-bottom: 0;
}

.woocommerce-checkout .checkout_coupon input[type=text]:focus {
  border-color: #fec436;
}

.woocommerce-checkout .checkout_coupon .form-row {
  width: 50%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .woocommerce-checkout .checkout_coupon .form-row {
    width: 100%;
    float: none;
  }
}

.woocommerce-checkout .login {
  margin-bottom: 30px;
}

.woocommerce-checkout .login > p:first-of-type {
  margin-bottom: 15px;
}

.woocommerce-checkout .login label {
  display: block;
  margin-bottom: 3px;
}

.woocommerce-checkout .login input[type=text],
.woocommerce-checkout .login input[type=password] {
  width: 100%;
  outline: 0;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: #999999;
  font-weight: 600;
  border: 1px solid #eaeaea;
  background-color: #fbfbfc;
  padding: 15px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color 0.2s ease-out;
  -moz-transition: border-color 0.2s ease-out;
  transition: border-color 0.2s ease-out;
  resize: none;
  margin-bottom: 10px;
}

.woocommerce-checkout .login input[type=text]:focus,
.woocommerce-checkout .login input[type=password]:focus {
  border-color: #fec436;
}

.woocommerce-checkout .login .mkdf-row {
  margin-left: -15px;
  margin-right: -15px;
}

.woocommerce-checkout .login .mkdf-row .form-row {
  width: 50%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .woocommerce-checkout .login .mkdf-row .form-row {
    width: 100%;
    float: none;
  }
}

.woocommerce-checkout .login .mkdf-btn {
  margin-bottom: 20px;
}

.woocommerce-checkout form.checkout .form-row label {
  margin-bottom: 3px;
  display: block;
}

.woocommerce-checkout form.checkout input[type=text],
.woocommerce-checkout form.checkout input[type=email],
.woocommerce-checkout form.checkout input[type=password],
.woocommerce-checkout form.checkout input[type=tel],
.woocommerce-checkout form.checkout textarea {
  width: 100%;
  outline: 0;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: #999999;
  font-weight: 600;
  border: 1px solid #eaeaea;
  background-color: #fbfbfc;
  padding: 15px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color 0.2s ease-out;
  -moz-transition: border-color 0.2s ease-out;
  transition: border-color 0.2s ease-out;
  resize: none;
  margin-bottom: 22px;
}

.woocommerce-checkout form.checkout input[type=text]:focus,
.woocommerce-checkout form.checkout input[type=email]:focus,
.woocommerce-checkout form.checkout input[type=password]:focus,
.woocommerce-checkout form.checkout input[type=tel]:focus,
.woocommerce-checkout form.checkout textarea:focus {
  border-color: #fec436;
}

.woocommerce-checkout form.checkout .select2-container {
  margin-bottom: 15px;
}

.woocommerce-checkout form.checkout .select2-choice {
  border: 1px solid #eaeaea;
  font-size: 12px;
  color: #999999;
  height: 49px;
  line-height: 49px;
  background-color: #fbfbfc;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.woocommerce-checkout #order_review_heading {
  margin-bottom: 30px;
}

.woocommerce-checkout .woocommerce-checkout-review-order {
  background-color: #fff;
  margin-bottom: 40px;
}

.woocommerce-checkout .woocommerce-checkout-review-order table {
  border: none;
}

.woocommerce-checkout .woocommerce-checkout-review-order table #shipping_method {
  list-style: none;
}

.woocommerce-checkout .woocommerce-checkout-review-order tr {
  border: none;
  border-bottom: 1px solid #e6e6e6;
  color: #999999;
  font-size: 14px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.woocommerce-checkout .woocommerce-checkout-review-order td, .woocommerce-checkout .woocommerce-checkout-review-order th {
  padding: 15px 10px;
  text-align: left;
}

.woocommerce-checkout .woocommerce-checkout-review-order td {
  vertical-align: middle;
}

.woocommerce-checkout .woocommerce-checkout-review-order tfoot tr:last-child {
  border-bottom: none;
}

.woocommerce-checkout .woocommerce-checkout-review-order tfoot th,
.woocommerce-checkout .woocommerce-checkout-review-order tfoot .order-total td {
  font-family: "Poppins", sans-serif;
  color: #303030;
  font-weight: 700;
  font-size: 16px;
}

.woocommerce-checkout .woocommerce-checkout-review-order tfoot .order-total {
  font-size: 20px;
}

.woocommerce-checkout .woocommerce-checkout-review-order tfoot .order-total td span.amount {
  font-size: 20px;
}

.woocommerce-checkout .woocommerce-checkout-review-order thead {
  border-bottom: 1px solid #e6e6e6;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #303030;
}

.woocommerce-checkout .woocommerce-checkout-review-order thead tr {
  border-bottom: none;
}

.woocommerce-checkout .woocommerce-checkout-review-order thead th {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #303030;
}

.woocommerce-checkout .woocommerce-checkout-payment ul {
  list-style-type: none;
}

.woocommerce-checkout .woocommerce-checkout-payment li {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px;
}

.woocommerce-checkout .woocommerce-checkout-payment li label {
  display: inline-block;
  margin-bottom: 6px;
  margin-left: 7px;
  font-family: "Poppins", sans-serif;
  color: #999999;
  font-size: 14px;
  font-weight: 600;
}

.woocommerce-checkout .woocommerce-checkout-payment li label img {
  display: inline-block;
  width: 150px;
  margin: 0 20px;
  position: relative;
  top: 16px;
}

.woocommerce-checkout .woocommerce-checkout-payment li input[type=radio] {
  margin: 0;
  position: relative;
  top: 2px;
  outline: none;
  cursor: pointer;
}

.woocommerce-checkout .woocommerce-checkout-payment .payment_box {
  margin-left: 25px;
}

.woocommerce-checkout .woocommerce-checkout-payment #place_order {
  margin-top: 30px;
}

/* 7.  Account pages styles
   ========================================================================== */
.woocommerce-account .woocommerce-MyAccount-navigation,
.woocommerce-account .woocommerce-MyAccount-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.woocommerce-account .woocommerce-MyAccount-navigation {
  width: 30%;
  padding: 0 30px 0 0;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul {
  padding: 0;
  margin: 0;
  list-style: none;
  border-top: 1px solid #e1e1e1;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li {
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid #e1e1e1;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active a {
  color: #fec436;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li a {
  font-weight: 600;
  color: #303030;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li a:hover {
  color: #fec436;
}

.woocommerce-account .woocommerce-MyAccount-content {
  width: 70%;
  padding: 0 0 0 30px;
}

.woocommerce-account .woocommerce h2 {
  margin-bottom: 15px;
}

.woocommerce-account .woocommerce .col2-set {
  margin-left: -15px;
  margin-right: -15px;
}

.woocommerce-account .woocommerce .col2-set .col-1,
.woocommerce-account .woocommerce .col2-set .col-2 {
  width: 50%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .woocommerce-account .woocommerce .col2-set .col-1,
  .woocommerce-account .woocommerce .col2-set .col-2 {
    width: 100%;
    float: none;
  }
}

.woocommerce-account .woocommerce input[type=text],
.woocommerce-account .woocommerce input[type=email],
.woocommerce-account .woocommerce input[type=tel],
.woocommerce-account .woocommerce textarea {
  width: 100%;
  outline: 0;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: #999999;
  font-weight: 600;
  border: 1px solid #eaeaea;
  background-color: #fbfbfc;
  padding: 15px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color 0.2s ease-out;
  -moz-transition: border-color 0.2s ease-out;
  transition: border-color 0.2s ease-out;
  resize: none;
}

.woocommerce-account .woocommerce input[type=text]:focus,
.woocommerce-account .woocommerce input[type=email]:focus,
.woocommerce-account .woocommerce input[type=tel]:focus,
.woocommerce-account .woocommerce textarea:focus {
  border-color: #fec436;
}

/*# sourceMappingURL=woocommerce.css.map */