/* ==========================================================================
# Side area style - start
========================================================================== */

//TODO Delete commented code

/* Side area general style - start
========================================================================== */

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header) .mkdf-side-menu-button-opener,
.mkdf-light-header.mkdf-header-style-on-scroll .mkdf-page-header .mkdf-side-menu-button-opener,
.mkdf-top-bar-light .mkdf-top-bar .mkdf-side-menu-button-opener {
	color: $header-light-color !important; //Color can be set inline from widget opener;
}

.mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header) .mkdf-side-menu-button-opener,
.mkdf-dark-header.mkdf-header-style-on-scroll .mkdf-page-header .mkdf-side-menu-button-opener,
.mkdf-top-bar-dark .mkdf-top-bar .mkdf-side-menu-button-opener {
	color: $header-dark-color !important; //Color can be set inline from widget opener
}

.mkdf-side-menu-button-opener {
	font-size: 16px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	@include mkdfTransition(initial);
	color: #838383;
}

.mkdf-side-menu-button-opener.medium {
	display: inline-block;
	font-size: 21px;
	line-height: 30px;
	height: 30px;
	width: 19px;
}

.mkdf-side-menu-button-opener.large {
	display: inline-block;
	font-size: 28px;
	line-height: 34px;
	height: 34px;
	width: 24px;
}

.mkdf-side-menu-button-opener.mkdf-side-menu-button-opener-default {
	width: 19px;
	vertical-align: baseline;
}

.mkdf-side-menu-button-opener > .mkdf-side-area-icon {
	display: inline-block;
	line-height: inherit;
	vertical-align: middle;
	text-align: center;

	width: 100%;
	position: relative;

	.mkdf-sai-first-line,
	.mkdf-sai-second-line,
	.mkdf-sai-third-line {
		position: absolute;
		top: -2px;
		left: 0;

		height: 0;
		border-bottom: 2px solid;

		@include mkdfTransition(all 0.2s ease-in-out);
	}

	.mkdf-sai-second-line,
	.mkdf-sai-first-line,
	.mkdf-sai-third-line {
		width: 19px;
	}

	.mkdf-sai-first-line {
		@include mkdfTransform(translateY(-5px));
	}

	.mkdf-sai-third-line {
		@include mkdfTransform(translateY(5px));
	}
}

.mkdf-side-menu-button-opener:hover {
	color: $first-main-color;
}

.mkdf-side-menu-button-opener > i {
	display: inline-block;
	height: inherit;
	line-height: inherit;
	vertical-align: bottom;
	width: inherit;
	text-align: center;
	-webkit-transition: opacity 0.15s ease-out, color 0.15s ease-out;
	-moz-transition: opacity 0.15s ease-out, color 0.15s ease-out;
	-ms-transition: opacity 0.15s ease-out, color 0.15s ease-out;
	-o-transition: opacity 0.15s ease-out, color 0.15s ease-out;
	transition: opacity 0.15s ease-out, color 0.15s ease-out;
}

.mkdf-side-menu-button-opener:hover {
	color: $first-main-color;
}

.mkdf-side-menu-button-opener span.social_icon {
	font-family: 'ElegantIcons' !important;
}

.mkdf-side-menu-button-opener i.social_icon {
	font-family: 'FontAwesome', serif !important;

}

.mkdf-side-menu {
	background-color: #fff;
	height: 100%;
	min-height: 100%;
	overflow: hidden;
	padding: 30px 50px;
	position: fixed;
	top: 0;
	right: -270px;
	width: 210px;
	z-index: 9999;
	-webkit-backface-visibility: hidden;

	h4 {
		margin: 0 0 15px 0;
		color: #545454;
	}

	h5,
	h6 {
		margin: 0 0 12px 0;
		color: #fff;
	}

	.widget {
		margin: 0 0 30px;

		li {
			position: relative;
			list-style-type: none;
		}

		ul li.page_item_has_children,
		ul li.menu-item-has-children {
			padding-right: 0;
			border-bottom: none;
		}

		ul ul {
			padding: 6px 0 0 10px;
		}

		&.mkdf-sidearea {

			&.widget_archive ul li,
			&.widget_categories ul li,
			&.widget_pages ul li,
			&.widget_meta ul li,
			&.widget_recent_comments ul li,
			&.widget_nav_menu ul li {
				font-size: 14px;
				font-weight: 600;
				color: #545454;
				font-family: $headings-font-family;

				a {
					color: #545454;
				}
			}

			&.widget_tag_cloud .tagcloud a {
				font-size: 12px !important;
				display: inline-block;
				color: #464646;
				font-family: $headings-font-family;
				text-transform: capitalize;
				font-weight: 600;
				color: #f6f6f6;
				padding: 0 18px;
				margin-right: 3px;
				margin-bottom: 5px;
				border: 1px solid #fec436;
				background-color: #fec436;
				@include mkdfTransition(background-color 0.15s ease-out, border 0.15s ease-out);
			}

			&.widget_tag_cloud .tagcloud a:hover {
				background-color: #323232;
				border: 1px solid #323232;
			}

			&.widget_archive select,
			&.widget_categories select,
			&.widget_search .searchform input[type=text],
			&.widget_text select {
				width: 100%;
				overflow: hidden;
				background-color: #fbfbfc;
				padding: 0 18px;
				height: 51px;
				outline: none;
				color: #969696;
				border: 2px solid #f2f2f2;
				float: left;
				font-weight: 600;
				font-family: $headings-font-family;
				font-size: 14px;
				@include mkdfBoxSizing(border-box);
			}

			&.widget_search .searchform input[type=submit] {
				border: none;
				outline: 0;
				font-family: 'Simple-Line-Icons';
				width: 51px;
				height: 51px;
				cursor: pointer;
				color: #fff;
				background-color: #fec436;
				font-size: 18px;
			}

			&.widget_search .searchform input[type=submit] {
				position: absolute;
				right: 0;
			}
		}

	}

	a:not(.qbutton),
	li,
	span,
	p,
	.widget_rss li a.rsswidget {
		color: #9d9d9d;
		line-height: 31px;
		@include mkdfTransition(color 0.15s ease-out);
	}

	.widget_calendar {
		font-size: 14px;

		a {
			color: #fff;
		}

		caption,
		th,
		td {
			color: #9d9d9d;
			line-height: 31px;
			@include mkdfTransition(color 0.15s ease-out);
		}

		thead tr,
		tbody tr,
		tbody td {
			border-color: #9d9d9d;
		}

	}

	.mkdf-side-menu-title {
		display: block;
		margin: 0 0 12px;
	}

	.widget_nav_menu {

		li:last-child,
		li a {
			margin: 0;
		}

	}

	.mkdf-close-side-menu-holder {
		display: table;
		height: 90px;
		position: absolute;
		top: 0px;
		right: 38px;
		z-index: 1000;
	}

	.mkdf-close-side-menu-holder-inner {
		display: table-cell;
		vertical-align: middle;
	}

	a.mkdf-close-side-menu {
		display: inline-block;
		height: 26px;
		width: 26px;
		padding: 0 2px 4px 0; /* in order to align icon in horizontal and vertical center */
		z-index: 1000;
		@include mkdfTransition(transform .5s ease);

		span {
			color: #000;
			display: inline-block;
			font-size: 22px;
			height: 26px;
			line-height: 29px;
			position: relative;
			text-align: center;
			width: 26px;
		}

	}

	a.mkdf-close-side-menu:hover {
		@include mkdfTransform(rotate(180deg));
	}

}

.admin-bar .mkdf-side-menu .mkdf-close-side-menu-holder {
	top: 32px;
}

/* Side area general style - end
========================================================================== */

/* Side area slides over content style - start
========================================================================== */

.mkdf-right-side-menu-opened {

	.mkdf-wrapper,
	footer.uncover,
	.mkdf-fixed-wrapper.fixed,
	.mkdf-sticky-header,
	.mobile-header-appear .mkdf-mobile-header-inner {
		left: -270px;
	}

}

.mkdf-side-menu-slide-from-right {

	.mkdf-wrapper {
		background-color: #fff;
		position: relative;
		z-index: 1000;
		@include mkdfTransition(left 0.2s cubic-bezier(.645, .045, .355, 1.000));

		.mkdf-cover {
			z-index: 0;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			opacity: 0;
			filter: alpha(opacity=0);
			background: #000;
			-webkit-transition: opacity 0.2s ease-in-out, background 0.2s ease-in-out, z-index 0.2s ease-in-out;
			-moz-transition: opacity 0.2s ease-in-out, background 0.2s ease-in-out, z-index 0.2s ease-in-out;
			-o-transition: opacity 0.2s ease-in-out, background 0.2s ease-in-out, z-index 0.2s ease-in-out;
			transition: opacity 0.2s ease-in-out, background 0.2s ease-in-out, z-index 0.2s ease-in-out;
		}

	}

	.carousel-inner {
		@include mkdfTransition(left 0.2s cubic-bezier(.645, .045, .355, 1.000));
	}

	.mkdf-side-menu {
		padding: 5% 30px 30px 30px;
		top: 0;
		right: -45%;
		width: 45%;
		z-index: 9999;
		text-align: center;
		visibility: hidden;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		@include mkdfTransition(0.2s ease-in-out);
	}

	//	header.sticky,
	//	header.fixed_top_header .top_header
	.mkdf-sticky-header,
	.mkdf-fixed-wrapper.fixed {
		-webkit-transition: left 0.2s cubic-bezier(.645, .045, .355, 1.000), -webkit-transform 0.33s ease;
		transition: left 0.2s cubic-bezier(.645, .045, .355, 1.000), transform 0.33s ease;
	}

	footer.uncover {
		@include mkdfTransition(left 0.2s cubic-bezier(.645, .045, .355, 1.000));
	}

}

.mkdf-side-menu-slide-from-right.mkdf-right-side-menu-opened {

	.mkdf-cover {
		cursor: url('img/close.png'), pointer;
		z-index: 1002;
		opacity: 0.6;
		filter: alpha(opacity=60);
	}

	.mkdf-side-menu {
		right: 0px;
		visibility: visible;
	}

}

/* Side area slides over content style - end
========================================================================== */

/* Side area slides with content style - start
========================================================================== */

.mkdf-side-menu-slide-with-content {
	overflow-x: hidden;
	position: relative;
	left: 0;
	-webkit-overflow-scrolling: auto !important;
	-webkit-transition: left 0.2s ease, right 0.2s ease;
	-moz-transition: left 0.2s ease, right 0.2s ease;
	-o-transition: left 0.2s ease, right 0.2s ease;
	transition: left 0.2s ease, right 0.2s ease;

	.mkdf-side-menu {
		position: fixed;
		visibility: visible;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		width: 470px;
		right: -470px;
		height: 100%;
		top: 0;
		z-index: 9999;
		-webkit-transition: left 0.2s ease, right 0.2s ease;
		-moz-transition: left 0.2s ease, right 0.2s ease;
		-o-transition: left 0.2s ease, right 0.2s ease;
		transition: left 0.2s ease, right 0.2s ease;

	}

	//	header.fixed,
	//	header.fixed_top_header .top_header,
	//	header.fixed_hiding,
	footer.uncover,
	.mkdf-wrapper {
		-webkit-transition: left 0.2s ease, right 0.2s ease;
		-moz-transition: left 0.2s ease, right 0.2s ease;
		-o-transition: left 0.2s ease, right 0.2s ease;
		transition: left 0.2s ease, right 0.2s ease;
	}

	.mkdf-sticky-header,
	.mkdf-fixed-wrapper.fixed,
	.mkdf-mobile-header-inner {
		-webkit-transition: left 0.2s ease, right 0.2s ease, -webkit-transform 0.33s ease;
		transition: left 0.2s ease, right 0.2s ease, transform 0.33s ease;
	}

	.carousel-inner {
		left: 0 !important;
		@include mkdfTransition(left 0.2s ease);
	}

}

.mkdf-side-menu-slide-with-content.mkdf-side-menu-open {

	.mkdf-wrapper,
	footer.uncover,
	.mkdf-sticky-header,
	.mkdf-fixed-wrapper,
	.mkdf-mobile-header-inner {
		left: -470px;
	}

	.mkdf-side-menu {
		right: 0;
	}

	.carousel-inner:not(.relative_position) {
		left: -470px !important;
	}

	//	header.fixed,
	//	header.fixed_top_header .top_header,
	//	header.fixed_hiding,
	//	header.sticky {
	//		left: -470px;
	//	}

}

/* width 270px start */
.mkdf-side-menu-slide-with-content.mkdf-width-270.mkdf-side-menu-open {

	.mkdf-wrapper,
	footer.uncover,
	.mkdf-sticky-header,
	.mkdf-fixed-wrapper,
	.mkdf-mobile-header-inner {
		left: -270px;
	}

	.mkdf-side-menu {
		right: 0;
	}

	.carousel-inner:not(.relative_position) {
		left: -270px !important;
	}

	//	header.fixed,
	//	header.fixed_hiding,
	//	header.sticky,
	//	header.fixed_top_header .top_header{
	//		left: -270px;
	//	}

}

.mkdf-side-menu-slide-with-content.mkdf-width-270 {

	.mkdf-side-menu {
		width: 270px;
		right: -270px;
	}

}

/* width 270px end */

/* width 370px start */
.mkdf-side-menu-slide-with-content.mkdf-width-370.mkdf-side-menu-open {

	.mkdf-wrapper,
	footer.uncover,
	.mkdf-sticky-header,
	.mkdf-fixed-wrapper,
	.mkdf-mobile-header-inner {
		left: -370px;
	}

	.mkdf-side-menu {
		right: 0;
	}

	.carousel-inner:not(.relative_position) {
		left: -370px !important;
	}

	//	header.fixed,
	//	header.fixed_hiding,
	//	header.sticky,
	//	header.fixed_top_header .top_header{
	//		left: -370px;
	//	}

}

.mkdf-side-menu-slide-with-content.mkdf-width-370 {

	.mkdf-side-menu {
		width: 370px;
		right: -370px;
	}
}

/* width 370px end */

/* Side area slides with content style - end
========================================================================== */

/* Side area uncovering - start
========================================================================== */

.mkdf-side-area-uncovered-from-content {

	.mkdf-side-menu {
		background-color: #1b1b1b;
		height: 100%;
		min-height: 100%;
		overflow: hidden;
		padding: 30px;
		position: fixed;
		top: 0;
		right: 0;
		width: 210px;
		z-index: 90;
		visibility: hidden;
	}

	.mkdf-sticky-header,
	.mkdf-fixed-wrapper.fixed {
		-webkit-transition: left 0.3s ease, right 0.2s ease;
		-moz-transition: left 0.3s ease, right 0.2s ease;
		-o-transition: left 0.3s ease, right 0.2s ease;
		transition: left 0.3s ease, right 0.2s ease;
	}

}

.mkdf-side-area-uncovered-from-content.mkdf-right-side-menu-opened {

	.mkdf-sticky-header,
	.mkdf-fixed-wrapper.fixed,
	.mkdf-mobile-header-inner {
		left: -270px;
	}

}

/* Side area uncovering - end
========================================================================== */

/* ==========================================================================
# Side area style - end
========================================================================== */