
/* ==========================================================================
   #Animation styles - start
   ========================================================================== */

@include keyframes(element-from-left) {
	0% {
		opacity: 0;
		transform: translate(-20%, 0);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}


@include keyframes(element-from-right) {
	0% {
		opacity: 0;
		transform: translate(20%, 0);

	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@include keyframes(element-from-top) {
	0% {
		opacity: 0;
		transform: translate(0, -30%);

	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@include keyframes(element-from-bottom) {
	0% {
		opacity: 0;
		transform: translate(0, 30%);

	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

$ease-out-animation: cubic-bezier(0.47, 0.8, 0.64, 1.37);

.mkdf-element-from-left,
.mkdf-element-from-right,
.mkdf-element-from-top,
.mkdf-element-from-bottom,
.mkdf-element-from-fade {
	display: inline-block;
	width: 100%;
}

.touch .mkdf-no-animations-on-touch .mkdf-element-from-left,
.touch .mkdf-no-animations-on-touch .mkdf-element-from-right,
.touch .mkdf-no-animations-on-touch .mkdf-element-from-top,
.touch .mkdf-no-animations-on-touch .mkdf-element-from-bottom,
.touch .mkdf-no-animations-on-touch .mkdf-element-from-fade {

	> div {
		opacity: 1;
		@include mkdfAnimation(none);
		@include mkdfTransform(scale(1));
	}
}

.mkdf-element-from-left,
.mkdf-element-from-right,
.mkdf-element-from-top,
.mkdf-element-from-bottom,
.mkdf-element-from-fade {
	
	> div {
		opacity: 0;
		display: inline-block;
		width: 100%;
		vertical-align: middle;
	}
}

.mkdf-element-from-fade {

	&.mkdf-element-from-fade-on {

		> div {
			opacity: 1;
			@include mkdfTransition(opacity .8s ease 0s);
			-webkit-backface-visibility: hidden;
		}
	}
}

.mkdf-element-from-left {

	&.mkdf-element-from-left-on {

		> div {

			@include mkdfAnimation(element-from-left 0.7s 1 ease-in-out);
			opacity: 1;
			-webkit-backface-visibility: hidden;
		}

		&.mkdf-animation-ease-out {
			> div {
				@include mkdfAnimation(element-from-left 0.7s 1 $ease-out-animation);
			}
		}
	}
}

.mkdf-element-from-right {

	&.mkdf-element-from-right-on {

		> div {
			@include mkdfAnimation(element-from-right 0.7s 1 ease-in-out);
			opacity: 1;
			-webkit-backface-visibility: hidden;
		}

		&.mkdf-animation-ease-out {
			> div {
				@include mkdfAnimation(element-from-right 0.7s 1 $ease-out-animation);
			}
		}
	}
}

.mkdf-element-from-top {

	&.mkdf-element-from-top-on {

		> div {
			@include mkdfAnimation(element-from-top 0.7s 1 ease-in-out);
			opacity: 1;
			-webkit-backface-visibility: hidden;
		}

		&.mkdf-animation-ease-out {
			> div {
				@include mkdfAnimation(element-from-top 0.7s 1 $ease-out-animation);
			}
		}
	}
}

.mkdf-element-from-bottom {

	&.mkdf-element-from-bottom-on {

		> div {
			@include mkdfAnimation(element-from-bottom 0.7s 1 ease-in-out);
			opacity: 1;
			-webkit-backface-visibility: hidden;
		}

		&.mkdf-animation-ease-out {
			> div {
				@include mkdfAnimation(element-from-bottom 0.7s 1 $ease-out-animation);
			}
		}
	}
}

.touch .mkdf-no-animations-on-touch .mkdf-flip-in,
.touch .mkdf-no-animations-on-touch .mkdf-grow-in,
.touch .mkdf-no-animations-on-touch .mkdf-z-rotate,
.touch .mkdf-no-animations-on-touch .mkdf-x-rotate,
.touch .mkdf-no-animations-on-touch .mkdf-y-translate,
.touch .mkdf-no-animations-on-touch .mkdf-fade-in-down,
.touch .mkdf-no-animations-on-touch .mkdf-fade-in-left-x-rotate,
.touch .mkdf-no-animations-on-touch .mkdf-fade-in{

	@include mkdfTransition(none !important);
	@include mkdfTransform(none !important);
	opacity: 1 !important;

}

.mkdf-flip-in {

	opacity: 0;
	@include mkdfTransform(perspective(1000px) rotateY(25deg));
	@include mkdfTransition(all 1.1s ease-in-out);

	&.mkdf-flip-in-on {
		opacity: 1;
		@include mkdfTransform(rotateY(0deg));
	}
}

.mkdf-grow-in {

	opacity: 0;
	@include mkdfTransform(scale(0.8));
	@include mkdfTransition(all 1s cubic-bezier(0,1,.5,1));
	-webkit-backface-visibility: hidden;

	&.mkdf-grow-in-on {
		opacity: 1;
		@include mkdfTransform(scale(1));
	}
}

.mkdf-z-rotate {

	opacity: 0;
	@include mkdfTransform(rotateZ(7deg));
	@include mkdfTransition(all 300ms cubic-bezier(0.165, 0.84, 0.44, 1));
	@include mkdfTransformOrigin(top right);
	-webkit-backface-visibility: hidden;

	&.mkdf-z-rotate-on {
		opacity: 1;
		@include mkdfTransform(rotateZ(0deg));
	}
}


.mkdf-x-rotate {

	opacity: 0;
	@include mkdfTransform(perspective(900px) rotateX(-45deg));
	@include mkdfTransition(all .6s cubic-bezier(.785,.135,.15,.86));
	-webkit-backface-visibility: hidden;

	&.mkdf-x-rotate-on {
		opacity: 1;
		@include mkdfTransform(rotateX(0deg));
	}
}

.mkdf-y-translate {

	opacity: 0;
	@include mkdfTransform(translate(0,30px));
	@include mkdfTransition(all 700ms cubic-bezier(0.680, -0.650, 0.265, 1.650));

	&.mkdf-y-translate-on {
		opacity: 1;
		@include mkdfTransform(translate(0,0));
	}

}

.mkdf-fade-in-down {

	opacity: 0;
	@include mkdfTransform(translate(0,-25px));
	@include mkdfTransition(all .9s cubic-bezier(0,1,.5,1));

	&.mkdf-fade-in-down-on {
		opacity: 1;
		@include mkdfTransform(translate(0,0));
	}
}

.mkdf-fade-in-left-x-rotate {

	opacity: 0;
	@include mkdfTransform(rotateZ(-5deg) translate(-30px,0));
	@include mkdfTransition(all .4s ease);

	&mkdf-fade-in-left-x-rotate-on {
		opacity: 1;
		@include mkdfTransform(rotateZ(0deg) translate(0,0));
	}
}


.mkdf-fade-in {

	opacity: 0;
	@include mkdfTransition(all 1s ease);

	&.mkdf-fade-in-on {
		opacity: 1;
	}
}



/* ==========================================================================
   #Animation styles - end
   ========================================================================== */