.mkdf-grid,
.mkdf-container-inner,
.mkdf-grid-section .mkdf-section-inner,
.mkdf-slider .carousel-inner .mkdf-slider-content-outer {

	@include laptop-landscape {
		width: $grid-width-laptop-landscape;
	}

	@include ipad-landscape {
		width: $grid-width-ipad-landscape;
	}

	@include ipad-portrait {
		width: $grid-width-ipad-portrait;
	}

	@include phone-landscape {
		width: $grid-width-phone-landscape;
	}

	@include phone-portrait {
		width: $grid-width-phone-portrait;
	}

	@include smaller-phone-portrait {
		width: $grid-width-smaller-phone-portrait;
	}
}

.mkdf-boxed .mkdf-wrapper .mkdf-wrapper-inner,
.mkdf-boxed .mkdf-wrapper .mkdf-footer-inner {

	@include laptop-landscape {
		width: $grid-width-laptop-landscape-boxed;
	}

	@include ipad-landscape {
		width: $grid-width-ipad-landscape-boxed;
	}

	@include ipad-portrait {
		width: $grid-width-ipad-portrait-boxed;
	}

	@include phone-landscape {
		width: $grid-width-phone-landscape-boxed;
	}

	@include phone-portrait {
		width: $grid-width-phone-portrait-boxed;
	}

	@include smaller-phone-portrait {
		width: $grid-width-smaller-phone-portrait-boxed;
	}
}

@include ipad-landscape {
	.mkdf-content {
		margin-top: 0px !important;
	}
}

@include ipad-landscape {
	.mkdf-two-columns-50-50 .mkdf-column,
	.mkdf-two-columns-66-33 .mkdf-column1,
	.mkdf-two-columns-66-33 .mkdf-column2,
	.mkdf-two-columns-33-66 .mkdf-column1,
	.mkdf-two-columns-33-66 .mkdf-column2,
	.mkdf-two-columns-25-75 .mkdf-column1,
	.mkdf-two-columns-25-75 .mkdf-column2,
	.mkdf-two-columns-75-25 .mkdf-column1,
	.mkdf-two-columns-75-25 .mkdf-column2,
	.mkdf-three-columns .mkdf-column,
	.mkdf-four-columns .mkdf-column {
		width: 100%;
	}

	.mkdf-two-columns-66-33 .mkdf-column1 .mkdf-column-inner,
	.mkdf-two-columns-66-33 .mkdf-column2 .mkdf-column-inner,
	.mkdf-two-columns-33-66 .mkdf-column1 .mkdf-column-inner,
	.mkdf-two-columns-33-66 .mkdf-column2 .mkdf-column-inner,
	.mkdf-two-columns-75-25 .mkdf-column1 .mkdf-column-inner,
	.mkdf-two-columns-75-25 .mkdf-column2 .mkdf-column-inner,
	.mkdf-two-columns-25-75 .mkdf-column1 .mkdf-column-inner,
	.mkdf-two-columns-25-75 .mkdf-column2 .mkdf-column-inner {
		padding: 0 0 0 0;
	}

	.wpcf7-form .mkdf-three-columns.mkdf-row-with-offset {
		left: 0;
		text-align: center;
	}

}

@include phone-landscape {
	.wpcf7-form .mkdf-three-columns.mkdf-row-with-offset {
		width: 100%;
	}
}

@include smaller-phone-portrait {
	.mkdf-section-inner-margin {
		margin-left: 0px;
		margin-right: 0px;
	}
}