/* #Reset default styles - start
   ========================================================================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	outline: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}

blockquote {
	quotes: none;
}

blockquote:before, blockquote:after {
	content: '';
	content: none;
}

del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
	border: medium none;
	vertical-align: middle;
}

table th {
	border: 0;
	padding: 5px 7px;
	text-align: center;
}

table td {
	padding: 5px 10px;
	text-align: center;
}

a img {
	border: none;
}

img, .wp-caption {
	max-width: 100%;
	height: auto;
}

iframe {
	max-width: 100%;
}

/* #Reset default styles - end
   ========================================================================== */

/* #General styles that are used in our theme - start
 * Here are defined global styles on body element, on container elements that hold every page,
 * headings and links, inputs, core wp styles and default pagination styles
   ========================================================================== */

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

.clear:after {
	clear: both;
	content: "";
	display: block;
}

html {
	height: 100%;
	margin: 0 !important;
	@include mkdfTransition(all 0.33s ease-out);
	overflow-y: scroll !important; /* to prevent page jumping on ajax and when there is not enough content */
}

body {
	font-family: $default-font-family;
	font-size: $default-text-size;
	line-height: $default-text-line-height;
	color: $default-text-color;
	font-weight: 400;

	background-color: $default-background-color;
	overflow-x: hidden !important;
	-webkit-font-smoothing: antialiased;
}

h1 {
	font-size: 37px;
	font-weight: 700;
	margin-top: 25px;
	margin-bottom: 25px;
}

h2 {
	font-size: 30px;
	font-weight: 700;
	margin-top: 25px;
	margin-bottom: 25px;
}

h3 {
	font-size: 26px;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 20px;
}

h4 {
	font-size: 22px;
	font-weight: 700;
	margin-top: 15px;
	margin-bottom: 15px;
}

h5 {
	font-size: 20px;
	font-weight: 700;
	margin-top: 15px;
	margin-bottom: 15px;
}

h6 {
	font-size: 18px;
	font-weight: 700;
	margin-top: 10px;
	margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
	color: $headings-text-color;
	font-family: $headings-font-family;
	line-height: 1.3em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	@include mkdfTypographyLayout();
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
	color: $first-main-color;
}

a,
p a {
	color: $first-main-color;
	text-decoration: none;
	cursor: pointer;

	@include mkdfTransition(color 0.25s ease-in-out);
}

input[type='submit'],
.woocommerce input[type='button'],
.woocommerce-page input[type='button'] {
	-webkit-appearance: none;
}

ul, ol {
	list-style-position: inside;
}

pre {
	background-color: $default-background-color;
	padding: 15px;
	max-width: 100%;
	white-space: pre-wrap;
	word-wrap: break-word;
	margin: 15px 0;
}

dt {
	font-size: 15px;
	font-weight: 700;
	margin-bottom: 10px;
}

dd {
	margin-bottom: 15px;
}

p {
	margin: 10px 0px;
}
sub, sup {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	top: 0.5ex;
}

sup {
	bottom: 0.5ex;
}

.wp-caption-text {
	margin: 0;
	font-style: italic;
}

table {
	width: 100%;
}

table thead tr, table tbody tr {
	border: 1px solid #e6e6e6;
}

table tbody th {
	border-right: 1px solid #e6e6e6;
}

blockquote:not(.mkdf-blockquote-shortcode) {
	padding: 0;
	border: none;
	font-style: italic;
	font-size: 17px;
	line-height: 1.6em;
	margin: 20px 0;
}

blockquote cite {
	font-style: normal;
	font-weight: 500;
}

/* Webkit */
::selection {
	background: $first-main-color;
	color: $default-background-color;
}

/* Gecko/Mozilla */
::-moz-selection {
	background: $first-main-color;
	color: $default-background-color;
}

.wp-caption,
.wp-caption-text,
.sticky,
.gallery-caption,
.bypostauthor {
	opacity: 1;
}

.alignleft {
	float: left;
	margin: 0 20px 20px 0;
}

.alignright {
	float: right;
	margin: 0 0 20px 20px;
}

.aligncenter {
	display: block;
	margin: 10px auto;
}

.text-align-right {
	text-align: right;
}

.text-align-left {
	text-align: left;
}

.text-align-center {
	text-align: center;
}

.meta {
	display: none;
}

.mkdf-wrapper {
	background-color: $default-background-color;
	position: relative;
	z-index: 1000;
	@include mkdfTransition(left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1));
	left: 0px;

	.mkdf-wrapper-inner {
		width: 100%;
		overflow: hidden;
	}
}

.mkdf-meta {
	display: none;
}

.mkdf-content {
	margin-top: 0;
	position: relative;
	z-index: 100;
	background-color: $default-background-color; /*this is needed because of the uncovering footer*/

	ul ul,
	ol ol {
		padding: 0 0 0 15px;
	}

	ol ul,
	ul ol,
	ul ul,
	ol ol {
		margin: 0;
	}

	ul,
	ol {
		margin: 15px 0;
	}
}

/*visual composer override styles*/
.wpb_row, .wpb_content_element,
ul.wpb_thumbnails-fluid > li,
.last_toggle_el_margin, .wpb_button {
	margin-bottom: 0 !important; // important is in order to prevent visual composer styles in all cases
}

.mkdf-content {
	.mkdf-content-inner > .mkdf-container > .mkdf-container-inner,
	.mkdf-content-inner > .mkdf-full-width > .mkdf-full-width-inner {
		padding: 64px 0;
	}
}

.mkdf-boxed {

	overflow: hidden !important; /* this is because content jumping while using accordion and display:inline-block on 'body.mkdf-boxed .mkdf-wrapper'   */

	.mkdf-wrapper {
		display: inline-block;
		vertical-align: middle;
		width: 100%;

		.mkdf-wrapper-inner {
			width: $grid-width-boxed;
			overflow: visible;
			margin: auto;
		}
	}

	.mkdf-content {
		overflow: hidden;
	}

	.mkdf-footer-inner {
		width: $grid-width-boxed;
		margin: auto;
	}

	.mkdf-page-header .mkdf-sticky-header,
	.mkdf-page-header .mkdf-fixed-wrapper.fixed {
		width: $grid-width-boxed;
		left: auto;
	}
}

.mkdf-smooth-transition-loader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2000;

	&.mkdf-hide-spinner {

		.mkdf-st-loader {
			display: none;
		}

	}

}

.mkdf-container {
	background-color: #fff; //beacuse of the Mikado Slider, since content have to go over it
	position: relative;
	padding: 0;
	width: 100%;
	z-index: 100;

	&:before {
		content: " ";
		display: table;
	}

	&:after {
		content: " ";
		display: table;
		clear: both;
	}
}

.mkdf-container-inner { //not in parent selector since this class is used for positioning other elements in grid
	width: $grid-width;
	margin: 0px auto;
}

.mkdf-full-width {
	position: relative;
	z-index: 100;
}

@media only screen and (min-width: 1400px) {
	.mkdf-grid-1300 {

		.mkdf-grid,
		.mkdf-container-inner,
		.mkdf-grid-section .mkdf-section-inner,
		.mkdf-footer-top-border-holder.mkdf-in-grid,
		.mkdf-footer-bottom-border-holder.mkdf-in-grid {
			width: $grid-width-1300;
		}

	}

	.mkdf-grid-1300.mkdf-boxed {

		.mkdf-footer-inner,
		.mkdf-wrapper-inner {
			width: $grid-width-1300 + 50px;
		}

		.mkdf-page-header .mkdf-sticky-header,
		.mkdf-page-header .mkdf-fixed-wrapper.fixed {
			width: $grid-width-1300 + 50px;
			left: auto;
		}
	}
}

@media only screen and (min-width: 1300px) {
	.mkdf-grid-1200 {

		.mkdf-grid,
		.mkdf-container-inner,
		.mkdf-grid-section .mkdf-section-inner,
		.mkdf-footer-top-border-holder.mkdf-in-grid,
		.mkdf-footer-bottom-border-holder.mkdf-in-grid {
			width: $grid-width-1200;
		}
	}

	.mkdf-grid-1200.mkdf-boxed {

		.mkdf-footer-inner,
		.mkdf-wrapper-inner {
			width: $grid-width-1200 + 50px;
		}

		.mkdf-page-header .mkdf-sticky-header,
		.mkdf-page-header .mkdf-fixed-wrapper.fixed {
			width: $grid-width-1200 + 50px;
			left: auto;
		}
	}
}

@media only screen and (min-width: 1200px) {
	.mkdf-grid-1000 {

		.mkdf-grid,
		.mkdf-container-inner,
		.mkdf-grid-section .mkdf-section-inner,
		.mkdf-footer-top-border-holder.mkdf-in-grid,
		.mkdf-footer-bottom-border-holder.mkdf-in-grid {
			width: $grid-width-1000;
		}
	}

	.mkdf-grid-1000.mkdf-boxed {

		.mkdf-footer-inner,
		.mkdf-wrapper-inner {
			width: $grid-width-1000 + 50px;
		}

		.mkdf-page-header .mkdf-sticky-header,
		.mkdf-page-header .mkdf-fixed-wrapper.fixed {
			width: $grid-width-1000 + 50px;
			left: auto;
		}
	}
}

@media only screen and (min-width: 1000px) {
	.mkdf-grid-800 {

		.mkdf-grid,
		.mkdf-container-inner,
		.mkdf-grid-section .mkdf-section-inner,
		.mkdf-footer-top-border-holder.mkdf-in-grid,
		.mkdf-footer-bottom-border-holder.mkdf-in-grid {
			width: $grid-width-800;
		}
	}

	.mkdf-grid-800.mkdf-boxed {

		.mkdf-footer-inner,
		.mkdf-wrapper-inner {
			width: $grid-width-800 + 50px;
		}

		.mkdf-page-header .mkdf-sticky-header,
		.mkdf-page-header .mkdf-fixed-wrapper.fixed {
			width: $grid-width-800 + 50px;
			left: auto;
		}
	}
}

/* #General styles that are used in our theme - end
   ========================================================================== */

/* #Grid system styles - start
 * Here are defined styles for grid system that is used outside Visual Composer
   ========================================================================== */

.mkdf-two-columns-66-33 {
	width: 100%;

	.mkdf-column1 {
		width: 66.66%;
		float: left;

		.mkdf-column-inner {
			padding: 0 20px 0 0;
		}
	}

	.mkdf-column2 {
		width: 33.33%;
		float: left;

		.mkdf-column-inner {
			padding: 0 0 0 20px;

		}
	}
}

.mkdf-two-columns-33-66 {
	width: 100%;

	.mkdf-column1 {
		width: 33.33%;
		float: left;

		.mkdf-column-inner {
			padding: 0 20px 0 0;
		}
	}

	.mkdf-column2 {
		width: 66.66%;
		float: left;

		.mkdf-column-inner {
			padding: 0 0 0 20px;
		}
	}
}

.mkdf-two-columns-75-25 {
	width: 100%;

	.mkdf-column1 {
		width: 75%;
		float: left;

		.mkdf-column-inner {
			padding: 0 20px 0 0;
		}
	}

	.mkdf-column2 {
		width: 25%;
		float: left;

		.mkdf-column-inner {
			padding: 0 0 0 20px;
		}
	}
}

.mkdf-two-columns-25-75 {
	width: 100%;

	.mkdf-column1 {
		width: 25%;
		float: left;

		.mkdf-column-inner {
			padding: 0 20px 0 0;
		}
	}

	.mkdf-column2 {
		width: 75%;
		float: left;

		.mkdf-column-inner {
			padding: 0 0 0 20px;
		}
	}
}

.mkdf-two-columns-50-50 {
	width: 100%;

	> .mkdf-two-columns-50-50-inner {
		margin: 0 -15px;
	}

	.mkdf-column {
		width: 50%;
		float: left;

		.mkdf-column-inner {
			padding: 0 15px;
		}
	}
}

.mkdf-three-columns {
	width: 100%;

	> .mkdf-three-columns-inner {
		margin: 0 -15px;
	}

	.mkdf-column {
		width: 33.33%;
		float: left;

		.mkdf-column-inner {
			padding: 0 15px;
		}
	}
}

.mkdf-four-columns {
	width: 100%;

	> .mkdf-four-columns-inner {
		margin: 0 -15px;
	}

	.mkdf-column {
		width: 25%;
		float: left;

		.mkdf-column-inner {
			padding: 0 15px;
		}
	}
}

.mkdf-five-columns {
	width: 100%;

	> .mkdf-five-columns-inner {
		margin: 0 -15px;
	}

	.mkdf-column {
		width: 20%;
		float: left;

		.mkdf-column-inner {
			padding: 0 15px;
		}
	}
}

body.woocommerce.woocommerce-page {
	.mkdf-two-columns-66-33.woocommerce_with_sidebar .mkdf-column1 .mkdf-column-inner,
	.mkdf-two-columns-75-25.woocommerce_with_sidebar .mkdf-column1 .mkdf-column-inner {
		padding-left: 40px;
	}

	.mkdf-two-columns-33-66.woocommerce_with_sidebar .mkdf-column2 .mkdf-column-inner,
	.mkdf-two-columns-25-75.woocommerce_with_sidebar .mkdf-column2 .mkdf-column-inner {
		padding-right: 40px;
	}

	.full_width {
		.mkdf-two-columns-66-33.woocommerce_with_sidebar .mkdf-column1 .mkdf-column-inner,
		.mkdf-two-columns-75-25.woocommerce_with_sidebar .mkdf-column1 .mkdf-column-inner {
			padding-left: 0;
		}

		.mkdf-two-columns-33-66.woocommerce_with_sidebar .mkdf-column2 .mkdf-column-inner,
		.mkdf-two-columns-25-75.woocommerce_with_sidebar .mkdf-column2 .mkdf-column-inner {
			padding-right: 0;
		}
	}
}

/* #Grid system styles - end
   ========================================================================== */

@include keyframes(preload-background) {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 100% 0;
	}
}

.mkdf-preload-background {
	background-repeat: repeat !important;
	background-color: transparent !important;
	background-attachment: scroll !important;
	background-size: inherit !important;
	@include animation(preload-background, 40s, infinite, linear, 0s);
}

.mkdf-grid {
	width: $grid-width;
	margin: 0 auto;
}

.mkdf-vertical-align-containers {
	position: relative;
	height: 100%;
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;

	&.mkdf-25-50-25 {

		.mkdf-position-left,
		.mkdf-position-right {
			width: 25%;
		}

		.mkdf-position-center {
			width: 50%;
			left: 50%;
			-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
		}

		//.mkdf-position-left-inner,
		//.mkdf-position-center-inner,
		//.mkdf-position-right-inner {
		//	width: 98%;
		//}

	}

	&.mkdf-33-33-33 {

		.mkdf-position-left,
		.mkdf-position-center,
		.mkdf-position-right {
			width: 33.33%;
		}

		.mkdf-position-center {
			width: 50%;
			left: 50%;
			-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
		}

		//.mkdf-position-left-inner,
		//.mkdf-position-center-inner,
		//.mkdf-position-right-inner {
		//	width: 98%;
		//}

	}

	&.mkdf-50-50 {

		.mkdf-position-left,
		.mkdf-position-right {
			width: 50%;
		}

		//.mkdf-position-left-inner,
		//.mkdf-position-center-inner,
		//.mkdf-position-right-inner {
		//	width: 98%;
		//}

	}

	&.mkdf-33-66 {
		.mkdf-position-left {
			width: 33.33%;
		}

		.mkdf-position-right {
			width: 66.66%;
		}
	}

	&.mkdf-66-33 {
		.mkdf-position-left {
			width: 66.66%;
		}

		.mkdf-position-right {
			width: 33.33%;
		}
	}

	.mkdf-position-left {
		position: relative;
		float: left;
		z-index: 112;
		height: 100%;
	}
	.mkdf-position-center {
		height: 100%;
		width: 100%;
		position: absolute;
		left: 0;
		text-align: center;
		z-index: 111;
	}

	.mkdf-position-right {
		position: relative;
		float: right;
		z-index: 112;
		height: 100%;
		text-align: right;
	}

	.mkdf-position-left-inner,
	.mkdf-position-center-inner,
	.mkdf-position-right-inner {
		vertical-align: middle;
		display: inline-block;
	}
	.mkdf-position-right.mkdf-has-widget .mkdf-position-right-inner {
		height: 100%;
	}

	.mkdf-position-left:before,
	.mkdf-position-center:before,
	.mkdf-position-right:before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		height: 100%;
		margin-right: -3px; /* adjusts for spacing */
	}

}

/* ==========================================================================
   #Row styles - start
   ========================================================================== */

.mkdf-section {
	position: relative;

}

.mkdf-grid-section .mkdf-section-inner {
	width: 1100px;
	margin: 0 auto;
	position: relative;
	z-index: 20;
}

.mkdf-section-inner-margin {
	margin-left: -15px;
	margin-right: -15px;
}

.mkdf-content-aligment-left {
	text-align: left;
}

.mkdf-content-aligment-center {
	text-align: center;
}

.mkdf-content-aligment-right {
	text-align: right;
}

/* #Parallax section styles - start
   ========================================================================== */

.mkdf-parallax-section-holder {
	position: static;
	padding: 0px;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center 0px;
	background-attachment: fixed;
	overflow: hidden;

	&.mkdf-vertical-middle-align {
		display: table;
		width: 100%;
	}

	.mkdf-parallax-content-outer {
		display: table-cell;
		height: 100%;
		vertical-align: middle;
		padding: 100% 0;
	}

	.touch &.mkdf-parallax-section-holder-touch-disabled {
		height: auto !important;
		min-height: 300px;
		background-position: center top !important;
		background-attachment: scroll;
		background-size: cover;
	}

}

section.parallax_section_holder.vertical_middle_align .parallax_content_outer {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
	padding: 100% 0;
}

/* #Video section styles - start
   ========================================================================== */

.mkdf-section {

	.mkdf-mobile-video-image {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		display: none;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 10;
	}

	.mkdf-video-overlay {
		height: 100%;
		left: 0;
		opacity: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 11;

		&.mkdf-video-overlay-active {
			background-image: url("img/pixel-video.png");
			background-position: 0px 0px;
			background-repeat: repeat;
			opacity: 1;
		}
	}

	.mkdf-video-wrap {

		top: 0px;
		left: 0px;
		overflow: hidden;
		position: absolute;
		width: 100%;
		z-index: 10;

		.mejs-container .mejs-controls {
			display: none !important;
		}

		.mejs-poster {
			background-size: cover !important;
			-moz-background-size: cover !important;
			-webkit-background-size: cover !important;
			-o-background-size: cover !important;
		}

		.mejs-container {
			background-color: transparent !important;
			background-image: none !important;
			height: auto !important;
		}

		.mejs-mediaelement {
			background: none !important;
			border: 0px !important;
		}

		.mejs-container .mejs-poster img {
			max-width: none !important;
			width: 100% !important;
		}

	}

}

/* ==========================================================================
   #Row styles - end
   ========================================================================== */

