$grid-width: 1100px;
$grid-width-laptop-landscape: 950px;
$grid-width-ipad-landscape: 768px;
$grid-width-ipad-portrait: 600px;
$grid-width-phone-landscape: 420px;
$grid-width-phone-portrait: 300px;
$grid-width-smaller-phone-portrait: 95%;

$grid-width-boxed: 1150px;
$grid-width-laptop-landscape-boxed: 1000px;
$grid-width-ipad-landscape-boxed: 818px;
$grid-width-ipad-portrait-boxed: 650px;
$grid-width-phone-landscape-boxed: 470px;
$grid-width-phone-portrait-boxed: 350px;
$grid-width-smaller-phone-portrait-boxed: 96%;

$grid-width-1300: 1300px;
$grid-width-1200: 1200px;
$grid-width-1000: 1000px;
$grid-width-800: 800px;

$first-main-color: #fec436;
$default-background-color: #fff;

$header-light-color: #ffffff;
$header-dark-color: #000000;


//typography variables
$default-font-family: 'Raleway', sans-serif;
$default-text-color: #808080;
$default-text-size: 15px;
$default-text-line-height: 26px;
$headings-font-family: 'Poppins', sans-serif;
$headings-text-color: #303030;
$headings-text-line-height: 1.3em;
$elements-box-shadow-color: rgba(0, 0, 0, 0.08);
$shop-price-color: #b5b5b5;

//responsive breakpoints
$large-laptop: 1400px;
$mac: 1280px;
$laptop-landscape: 1200px;
$ipad-landscape: 1024px;
$ipad-portrait: 768px;
$phone-landscape: 600px;
$phone-portrait: 480px;
$smaller-phone-portrait: 320px;

$vertical-menu-width: 290px;

// social share colors
$linkedin-color: #007bb5;
$googleplus-color: #dd4b39;
$tumblr-color: #32506d;
$pinterest-color: #cb2027;
$facebook-color: #3b5998;
$instagram-color: #125688;
$twitter-color: #00aced;
$vimeo-color: #aad450;
