@import 'variables';
@import 'mixins';

@include laptop-landscape {
	.mkdf-blog-holder.mkdf-masonry-full-width {
		article,
		.mkdf-blog-masonry-grid-sizer {
			width: 23.5%;
		}
	}

	.mkdf-blog-holder.mkdf-blog-type-masonry .mkdf-author-desc .mkdf-image-name {
		width: 100% !important;
	}
}

@include ipad-landscape {
	.mkdf-blog-holder.mkdf-blog-type-split-column {

		article:not(.format-quote):not(.format-link) {

			.mkdf-post-content {

				.mkdf-author-desc {
					margin-left: 0;
				}

				.mkdf-post-image,
				.mkdf-post-text {
					display: inline-block;
					width: 100%;
				}

				.mkdf-post-text-inner {
					padding-left: 0px;
				}
			}
		}
	}

	.mkdf-blog-holder.mkdf-masonry-full-width {
		article,
		.mkdf-blog-masonry-grid-sizer {
			width: 32%;
		}
	}
}

@include ipad-portrait {
	.mkdf-blog-holder.mkdf-blog-type-masonry {
		article,
		.mkdf-blog-masonry-grid-sizer {
			width: 49%;
		}
	}

	.mkdf-blog-holder.mkdf-masonry-full-width {
		article,
		.mkdf-blog-masonry-grid-sizer {
			width: 49%;
		}
	}

	.mkdf-column1 .mkdf-related-posts-holder .mkdf-related-post,
	.mkdf-column2 .mkdf-related-posts-holder .mkdf-related-post,
	.mkdf-related-posts-holder .mkdf-related-post {
		width: 49.875%;
		&:nth-child(2n) {
			margin-right: 0;
		}
		&:nth-child(2n+1) {
			clear: both;
		}
	}

}

@include phone-landscape {
	.mkdf-blog-holder.mkdf-blog-type-masonry {
		article,
		.mkdf-blog-masonry-grid-sizer {
			width: 100%;
		}
	}

	.mkdf-blog-holder.mkdf-masonry-full-width {
		article,
		.mkdf-blog-masonry-grid-sizer {
			width: 100%;
		}
	}

	.mkdf-blog-holder .mkdf-post-content .mkdf-image-name {
		width: 100%;
	}

	.mkdf-post-content .mkdf-share-icons {
		width: 100%;
		text-align: left;
		margin-top: 10px;
	}

	.mkdf-blog-single article.post .mkdf-category-holder {
		width: 100%;
	}

	.mkdf-blog-holder article.post .mkdf-share-icons-single {
		width: 100%;
		text-align: left;
	}

	.mkdf-comment-list .children {
		padding: 0 0 0 90px;
	}

	.mkdf-comment-holder .mkdf-comment-text {
		padding: 0 0 0 75px;
	}

	.mkdf-comment-holder .mkdf-comment-text h5.mkdf-comment-name {
		float: none;
	}
	.mkdf-comment-holder .mkdf-comment-text .mkdf-comment-info span.mkdf-comment-date {
		margin-left: 0;
	}

	.mkdf-blog-holder.mkdf-blog-single .mkdf-author-description .mkdf-author-description-text-holder {
		padding-left: 0;
	}

	.mkdf-blog-single-navigation .mkdf-blog-single-prev.mkdf-single-nav-with-image .mkdf-single-nav-content-holder {
		padding-left: 0 !important;
		float: left !important;
	}

	.mkdf-blog-single-navigation .mkdf-blog-single-next.mkdf-single-nav-with-image .mkdf-single-nav-content-holder {
		padding-right: 0 !important;
		float: right !important;
	}

}

@include phone-portrait {

	.mkdf-related-posts-holder .mkdf-related-post {
		width: 100% !important;
		margin-right: 0 !important;
	}
	.mkdf-related-posts-holder .mkdf-related-posts-title h3:before,
	.mkdf-related-posts-holder .mkdf-related-posts-title h3:after {
		display: none !important;
	}

}
