/* ==========================================================================
# Woocommerce responsive style - begin
========================================================================== */

/* Woocommerce product list - begin
========================================================================== */

@import 'variables';
@import 'mixins';

.mkdf-woocommerce-page {

	.woocommerce-result-count,
	.woocommerce-ordering {

		@include phone-portrait {
			width: 100%;
			margin-bottom: 2%;
		}

	}

	.woocommerce-result-count {

		@include  phone-portrait {
			text-align: center;
		}

	}

	.woocommerce-ordering .orderby {

		@include phone-portrait {
			display: block;
			float: none;
			margin: 0 auto;
		}

	}

	.woocommerce-message,
	.woocommerce-info,
	.woocommerce-error {
		@include phone-landscape {
			line-height: $default-text-line-height;
		}

		@include phone-portrait {
			a {
				display: block;
				float: none;
				margin-bottom: 10px;
			}
		}
	}



}

.mkdf-woocommerce-page.mkdf-woocommerce-columns-4,
.columns-4 {
	.products .product {

		@include ipad-landscape {
			width: 50%;

			&:nth-child(4n+1) {
				clear: none;
			}

			&:nth-child(2n+1) {
				clear: both;
			}
		}

		@include phone-landscape {
			width: 100%;
		}
	}
}

.mkdf-woocommerce-page.mkdf-woocommerce-columns-4 {
	.mkdf-woocommerce-with-sidebar .products .product {

		@include ipad-landscape {
			width: 50%;

			&:nth-child(3n+1),
			&:nth-child(4n+1) {
				clear: none;
			}

			&:nth-child(2n+1) {
				clear: both;
			}
		}

		@include ipad-portrait {
			width: 100%;
		}
	}
}

.mkdf-woocommerce-page.mkdf-woocommerce-columns-3,
.columns-3 {

	.products .product {

		@include ipad-portrait {
			width: 50%;

			&:nth-child(3n+1),
			&:nth-child(4n+1) {
				clear: none;
			}

			&:nth-child(2n+1) {
				clear: both;
			}
		}

		@include phone-landscape {
			width: 100%;
		}

	}
}

.mkdf-woocommerce-page.mkdf-woocommerce-columns-3 {
	.mkdf-woocommerce-with-sidebar .products .product {
		@include ipad-portrait {
			width: 100%;
		}
	}
}

.mkdf-woocommerce-page.mkdf-woocommerce-columns-2,
.columns-2 {
	@include phone-landscape {
		.products .product {
			width: 100%;
		}
	}
}


/* Woocommerce product list - end
========================================================================== */

/* Woocommerce single product - begin
========================================================================== */

.single-product {
	.mkdf-single-product-images,
	.mkdf-single-product-summary {

		@include ipad-portrait {
			width: 100%;
			margin: 0;

			.summary.entry-summary h2.mkdf-single-product-title {
				margin-top: 0;
			}
		}
	}

	@media only screen and (max-width: $large-laptop) {
		.mkdf-tabs.mkdf-horizontal {
			.mkdf-tabs-nav {
				top: 0;
			}

			.mkdf-tabs-nav li {
				margin-right: 0;
				border-bottom: none;
				border-right: 1px solid #eee;
				float: none;
				width: 100%;
			}

			.mkdf-tab-container {
				@include mkdfBoxShadow(none);
			}



			li {
				float: none !important;
				display: block;
			}

			li.ui-state-active a:after {
				content: none;
			}

			.mkdf-tabs-shadow {
				display: none;
			}
		}
	}
}

.single_variation_wrap .mkdf-quantity-label {
    float:left;
}

table.variations{
    margin-bottom:40px;
}

table.variations td.value select{
    height: 45px;
    line-height: 45px;
    width: 139px;
    display: inline-block;
    padding: 0;
    background-color: #f6f6f6;
    text-align: center;
    color: #808080;
    font-weight: 700;
    font-size: 11px;
    border: 1px solid #f2f2f2;
    border-right: none;
    font-family: Poppins,sans-serif;
    padding-left: 5px;
}

/* Woocommerce single product - end
========================================================================== */

/* Woocommerce quantity buttons - begin
========================================================================== */

.mkdf-woocommerce-page .mkdf-quantity-buttons {

	.mkdf-quantity-minus,
	.mkdf-quantity-plus,
	.mkdf-quantity-input {

		@include phone-landscape {
			width: 22px;
			height: 22px;
			line-height: 22px;
		}

	}

}

/* Woocommerce quantity buttons - end
========================================================================== */

/* Woocommerce table - begin
========================================================================== */

.mkdf-woocommerce-page {

	table td {
		@include phone-landscape {
			padding: 5px 5px;
		}

	}

	td.product-thumbnail img{
		@include phone-portrait {
			display: none;
		}
	}

	td.actions {

		.coupon,
		.mkdf-cart-proceed-update {
			@include phone-landscape {
				width: 100%;
				margin-bottom: 20px;
			}
		}

		.mkdf-cart-proceed-update .checkout-button {
			@include phone-landscape {
				float: left;
			}
		}
	}

	.coupon {

		input[type="text"] {
			@include ipad-portrait {
				width: 150px;
			}
		}

	}

}

/* Woocommerce table - end
========================================================================== */

/* Woocommerce shipping calculator - begin
========================================================================== */

.mkdf-woocommerce-page {

	.mkdf-shipping-calculator {

		@include phone-landscape {
			width: 100%;
			margin-bottom: 25px;
		}

	}

}

/* Woocommerce shipping calculator - end
========================================================================== */

/* Woocommerce totals - begin
========================================================================== */

.mkdf-woocommerce-page {

	.mkdf-cart-totals {
		@include phone-landscape {
			width: 100%;
		}
	}

}

/* Woocommerce totals - end
========================================================================== */

/* Woocommerce checkout - begin
========================================================================== */

.woocommerce-checkout {

	.woocommerce-checkout .col-1,
	.woocommerce-checkout .col-2 {
		@include ipad-portrait {
			width: 100%;
		}
	}

	.checkout_coupon {
		width: 100%;
	}

}

/* Woocommerce checkout - end
========================================================================== */

/* Woocommerce account - begin
========================================================================== */

@include ipad-landscape {
  	.woocommerce-account {

  		.woocommerce-MyAccount-navigation {
		    width: 28%;
		    padding: 0 15px 0 0;
		}
		.woocommerce-MyAccount-content {
			width: 72%;
			padding: 0 0 0 15px;
		}
	}
}

@include ipad-portrait {
  	.woocommerce-account {

		.woocommerce-MyAccount-navigation,
		.woocommerce-MyAccount-content {
			float: none;
			width: 100%;
			padding: 0;
		}
		.woocommerce-MyAccount-content {
			margin: 50px 0 0;
		}
	}
}
/* Woocommerce account - end
========================================================================== */

/* Woocommerce cart - begin
========================================================================== */
.woocommerce-cart .woocommerce {
	@include ipad-landscape {
		form:not(.woocommerce-shipping-calculator) {
			margin-left: -1000px;
			margin-right: -1000px;
			padding-left: 1000px;
			padding-right: 1000px;
			border: none;
		}

		form:not(.woocommerce-shipping-calculator) .actions {
			.coupon {
				input[type=text] {
					width: 100%;
					margin-right: 0;
					margin-bottom: 10px;
				}
			}

			.mkdf-cart-proceed-update {
				a {
					margin-bottom: 10px;
				}
			}
		}

		.cart-collaterals .mkdf-shipping-calculator,
		.cart-collaterals .mkdf-cart-totals {
			float: none;
			width: 100%;
			margin-bottom: 20px;
		}
	}

	@include phone-landscape {
		form:not(.woocommerce-shipping-calculator) table {
			.product-thumbnail {
				display: none;
			}

			.product-remove {
				display: none;
			}
		}

		form:not(.woocommerce-shipping-calculator) .actions {
			.coupon,
			.mkdf-cart-proceed-update {
				width: 100%;
				float: none;
			}

			.coupon {
				margin-bottom: 10px;
			}

			.mkdf-cart-proceed-update input[type=submit] {
				margin-left: 0;
				float: left;
			}
		}
	}
}

/* Woocommerce dropdown cart - begin
========================================================================== */

@media only screen and (max-width: $ipad-landscape) {
	.mkdf-shopping-cart-outer:hover{
		.mkdf-shopping-cart-dropdown{
			display: none;
			visibility: hidden;
		}
	}
	.mkdf-top-bar .mkdf-shopping-cart-outer{
		float: none;
	}
}

@media only screen and (max-width: $smaller-phone-portrait) {
	.mkdf-shopping-cart-outer{
		display: none;
	}
}

/* Woocommerce dropdown cart - begin
========================================================================== */
/* ==========================================================================
# Woocommerce responsive style - end
========================================================================== */