/* ==========================================================================
   Accordion shortcode start styles
   ========================================================================== */
.mkdf-accordion-holder {
	position: relative;

	.mkdf-accordion-content {
		margin: 0;
		padding: 38px 53px;
		border-top: 7px solid #e4e4e4;
		background-color: #fff;

		p {
			line-height: 26px;
		}

	}

	.mkdf-title-holder {
		cursor: pointer;
		position: relative;
		height: 76px;
		line-height: 76px;
		margin: 0;
		font-size: 16px;
		border-bottom: 1px solid #f2f2f2;
		color: #808080;
		text-transform: uppercase;
		padding: 0;

		@include mkdfBoxSizing(border-box);
		@include mkdfTransform(translateZ(0px));
		@include mkdfTransition(background-color 0.15s ease-out, border-color 0.15s ease-out, color 0.15s ease-out);

		&:first-child {
			margin: 0;
		}

		.mkdf-tab-title,
		.mkdf-tab-title-inner {
			color: inherit;
			line-height: inherit;
			//padding-left: 5px;
		}

		.mkdf-accordion-mark {
			position: absolute;
			top: 50%;
			right: 22px;
			display: block;
			width: 20px;
			height: 20px;
			line-height: 1em;
			color: #adadad;

			@include mkdfTransform(translateY(-50%));
			@include mkdfBoxSizing(border-box);
			@include mkdfTransition(background-color 0.15s ease-out, border-color 0.15s ease-out);
		}

		.mkdf-accordion-mark-icon {
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
			line-height: inherit;
			text-align: center;
			font-size: 18px;
		}

		.mkdf-accordion-mark-icon span {
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			line-height: inherit;

			@include mkdfTransition(opacity 0.15s ease-out);
		}

		.mkdf-accordion-mark-icon .icon_minus-06 {
			opacity: 0;
		}

		.mkdf-accordion-mark-icon .icon_plus {
			opacity: 1;
		}

	}
	.mkdf-title-holder.ui-state-active,
	.mkdf-title-holder.ui-state-hover {
		color: $first-main-color;

		.mkdf-accordion-mark {
			color: $first_main-color;
		}
	}

	.mkdf-title-holder.ui-state-active {

		.mkdf-accordion-mark-icon .icon_minus-06 {
			opacity: 1;
		}

		.mkdf-accordion-mark-icon .icon_plus {
			opacity: 0;
		}
	}
}

.mkdf-accordion-holder.mkdf-initial {

	.mkdf-title-holder .mkdf-tab-title {
		@include mkdfTableLayout;
		box-sizing: border-box;
		text-align: left;

		span.mkdf-icon-accordion-holder {
			font-size: 18px;
			margin-right: 17px;
			margin-left: 14px;
		}

		span.mkdf-tab-title-inner {
			position: relative;
			@include mkdfTableCellLayout;
			text-align: left;
		}

	}

}

.mkdf-accordion-holder.mkdf-boxed {

	border: 1px solid #f2f2f2;

	.mkdf-title-holder {
		border-bottom: 0;
		text-align: left;
		padding: 0 27px;
		background-color: #f6f6f5;

		@include mkdfTransition(background-color 0.15s ease-out, border-color 0.15s ease-out);

		span.mkdf-icon-accordion-holder {
			margin-right: 6px;
			font-size: 18px;
		}

		.mkdf-accordion-mark {
			border: 0;
			background-color: transparent;

			@include mkdfTransition(color 0.15s ease-out);
		}
	}
	.mkdf-title-holder.ui-state-active,
	.mkdf-title-holder.ui-state-hover {
		color: #fff;
		background-color: $first-main-color;
		border-color: $first-main-color;

		.mkdf-accordion-mark {
			color: #fff;
		}
	}
}