/* ==========================================================================
# Carousels style - begin
========================================================================== */

.mkdf-carousel-holder {

	.mkdf-carousel-item-holder {
		position: relative;

		/* Image zoom - begin
		========================================================================== */

		.mkdf-carousel-first-image-holder.mkdf-image-zoom img {
			@include mkdfTransition(transform 0.15s ease-out);
			-webkit-backface-visibility: hidden;
		}

		.mkdf-carousel-first-image-holder.mkdf-image-zoom:hover img {
			@include mkdfTransform(scale(1.1));
		}

		/* Image zoom - end
		========================================================================== */


		/* Image change on hover - begin
		========================================================================== */

		.mkdf-carousel-first-image-holder.mkdf-image-change {
			position: relative;
			opacity: 1;
			z-index: 5;
			@include mkdfTransition(opacity 0.15s ease-out);
		}

		.mkdf-carousel-second-image-holder {
			position: absolute;
			top: 0;
			left: 0;
		}

		&:hover .mkdf-carousel-first-image-holder.mkdf-image-change {
			opacity: 0;
		}

		/* Image change on hover - end
		========================================================================== */

	}

	/* Carousel navigation - begin
	========================================================================== */

	.mkdf-carousel.owl-carousel {

		.owl-buttons {

			width: 100%;

			.owl-prev {
				position: absolute;
				top: 50%;
				@include mkdfTransform(translateY(-50%));
				left: 2%;
			}

			.owl-next {
				position: absolute;
				top: 50%;
				@include mkdfTransform(translateY(-50%));
				right: 2%;
			}

			.mkdf-prev-icon,
			.mkdf-next-icon {
				display: inline-block;
				width: 42px;
				height: 42px;
				@include mkdfBorderRadius(50%);
				border: 2px solid #74797b;
				text-align: center;

				i {
					font-size: 22px;
					line-height: 40px;
					color: #74797b;
				}

			}

		}

		.owl-pagination {
			text-align: center;

			.owl-page {
				display: inline-block;
			}

			.owl-page span {
				display: inline-block;
				width: 12px;
				height: 12px;
				margin: 3px;
				filter: Alpha(Opacity=50);
				opacity: 0.5;
				-webkit-border-radius: 20px;
				-moz-border-radius: 20px;
				border-radius: 20px;
				background: #74797b;
			}

			.owl-page.active span {
				opacity: 1;
			}

		}

	}

	/* Carousel navigation - end
	========================================================================== */

}

/* ==========================================================================
# Carousels style - end
========================================================================== */