.mkdf-icon-shortcode {
    $transition-duration: 0.15s;
    display: inline-block;

    &.circle,
    &.square {
        width: 2em;
        height: 2em;
        line-height: 2em;
        text-align: center;
        margin-right: 9px;

        @include mkdfTransition(
                background-color $transition-duration ease-in-out,
                border-color $transition-duration ease-in-out
        );

        a {
            display: inline-block;
            width: 100%;
            height: 100%;
        }

        .mkdf-icon-element {
            color: #fff;
            line-height: inherit;
            width: 100%;
            height: 100%;
            display: inline-block;
        }
    }

    &.circle {
        @include mkdfBorderRadius(50%);
    }

    .mkdf-icon-element {
        @include mkdfTransition(color $transition-duration ease-in-out);
    }
}

.mkdf-icon-animation-holder {
    @include mkdfTransform(scale(0));
    @include mkdfTransition(transform 0.15s ease-in-out);
    display: inline-block;

    &.mkdf-icon-animation-show {
        @include mkdfTransform(scale(1));
    }
}

.mkdf-icon-tiny {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%;
}

.mkdf-icon-small {
    font-size: 2em;
}

.mkdf-icon-medium {
    font-size: 3em;
}

.mkdf-icon-large {
    font-size: 4em;;
}

.mkdf-icon-huge {
    font-size: 5em;
}