/* ==========================================================================
# Image Gallery - begin
========================================================================== */

/* Image Gallery Grid - begin
========================================================================== */

.mkdf-image-gallery {

	.mkdf-image-gallery-grid.mkdf-gallery-columns-2 {

		.mkdf-gallery-image {

			@include phone-portrait {
				width: 100%;
				margin-right: 0;
				margin-bottom: 2%;
			}

		}

	}

	.mkdf-image-gallery-grid.mkdf-gallery-columns-3 {

		.mkdf-gallery-image {

			@include ipad-portrait {
				width: 49%;
				margin-right: 2%;
				margin-bottom: 2%;

				&:nth-child(2n) {
					margin-right: 0;
				}

				&:nth-child(2n+1) {
					clear: both;
					margin-right: 2%;
				}

				&:nth-child(3n+1) {
					clear: none;
				}

			}

			@include phone-portrait {
				width: 100%;
				margin-right: 0;
				margin-bottom: 2%;
			}

		}

	}

	.mkdf-image-gallery-grid.mkdf-gallery-columns-4 {

		.mkdf-gallery-image {

			@include ipad-landscape {
				width: 32%;
				margin-right: 2%;
				margin-bottom: 2%;

				&:nth-child(3n) {
					margin-right: 0;
				}

				&:nth-child(3n+1) {
					clear: both;
					margin-right: 2%;
				}

				&:nth-child(4n+1) {
					clear: none;
				}
			}

			@include ipad-portrait {
				width: 49%;
				margin-right: 2%;
				margin-bottom: 2%;

				&:nth-child(2n) {
					margin-right: 0;
				}

				&:nth-child(2n+1) {
					clear: both;
					margin-right: 2%;
				}
				
				&:nth-child(3n+1) {
					clear: none;
				}

			}

			@include phone-portrait {
				width: 100%;
				margin-right: 0;
				margin-bottom: 2%;
			}

		}

	}

	.mkdf-image-gallery-grid.mkdf-gallery-columns-5 {

		.mkdf-gallery-image {

			@include laptop-landscape {
				width: 24%;
				margin-right: 1.33333%;
				margin-bottom: 1.33333%;

				&:nth-child(4n) {
					margin-right: 0;
				}

				&:nth-child(4n+1) {
					clear: both;
					margin-right: 1.33333%;
				}

				&:nth-child(5n+1) {
					clear: none;
				}

			}

			@include ipad-landscape {
				width: 32%;
				margin-right: 2%;
				margin-bottom: 2%;

				&:nth-child(3n) {
					margin-right: 0;
				}

				&:nth-child(3n+1) {
					clear: both;
					margin-right: 2%;
				}

				&:nth-child(4n+1) {
					clear: none;
				}

			}

			@include ipad-portrait {
				width: 49%;
				margin-right: 2%;
				margin-bottom: 2%;

				&:nth-child(2n) {
					margin-right: 0;
				}

				&:nth-child(2n+1) {
					clear: both;
					margin-right: 2%;
				}

				&:nth-child(3n+1) {
					clear: none;
				}
			}

			@include phone-portrait {
				width: 100%;
				margin-right: 0;
				margin-bottom: 2%;
			}

		}

	}

}

/* Image Gallery Grid - end
========================================================================== */

/* Image Gallery Slider - begin
========================================================================== */

/* Image Gallery Slider - end
========================================================================== */

/* ==========================================================================
# Image Gallery - end
========================================================================== */