/* ==========================================================================
# Image Gallery - begin
========================================================================== */

/* Image Gallery Grid - begin
========================================================================== */

.mkdf-image-gallery {

	.mkdf-grayscale .mkdf-gallery-image img {
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		filter: gray;
		filter: grayscale(100%);
		filter: url(img/desaturate.svg#grayscale);
	}

	.mkdf-grayscale .mkdf-gallery-image:hover img {
		-webkit-filter: grayscale(0);
		filter: none;
	}


	.mkdf-gallery-image img {
		display: block;
	}

	.mkdf-image-gallery-grid {
		margin-left: -14px;
		margin-right: -14px;

		&.mkdf-small-space {
			margin-left: -7px;
			margin-right: -7px;

			.mkdf-gallery-image {
				padding: 0 7px !important;
				margin-bottom: 14px !important;
			}
		}

	}

	.mkdf-image-gallery-grid.mkdf-gallery-columns-2 {

		.mkdf-gallery-image {
			width: 50%;
			display: inline-block;
			float: left;
			padding: 0 14px;
			margin-bottom: 26px;

			@include mkdfBoxSizing(border-box);

			&:nth-child(2n) {
				margin-right: 0;
			}

			&:nth-child(2n+1) {
				clear: both;
			}

		}

	}

	.mkdf-image-gallery-grid.mkdf-gallery-columns-3 {

		.mkdf-gallery-image {
			width: 33.33%;
			display: inline-block;
			float: left;
			padding: 0 14px;
			margin-bottom: 26px;

			@include mkdfBoxSizing(border-box);

			&:nth-child(3n) {
				margin-right: 0;
			}

			&:nth-child(3n+1) {
				clear: both;
			}

		}

	}

	.mkdf-image-gallery-grid.mkdf-gallery-columns-4 {

		.mkdf-gallery-image {
			width: 25%;
			display: inline-block;
			float: left;
			padding: 0 14px;
			margin-bottom: 26px;

			@include mkdfBoxSizing(border-box);

			&:nth-child(4n) {
				margin-right: 0;
			}

			&:nth-child(4n+1) {
				clear: both;
			}

		}

	}

	.mkdf-image-gallery-grid.mkdf-gallery-columns-5 {

		.mkdf-gallery-image {
			width: 20%;
			display: inline-block;
			float: left;
			padding: 0 14px;
			margin-bottom: 26px;

			@include mkdfBoxSizing(border-box);

			&:nth-child(5n) {
				margin-right: 0;
			}

			&:nth-child(5n+1) {
				clear: both;
			}

		}

	}

}

/* Image Gallery Grid - end
========================================================================== */

/* Image Gallery Slider - begin
========================================================================== */

.mkdf-image-gallery {

	.owl-buttons {

		.owl-prev {
			position: absolute;
			top: 50%;
			@include mkdfTransform(translateY(-50%));
			left: 2%;
		}

		.owl-next {
			position: absolute;
			top: 50%;
			@include mkdfTransform(translateY(-50%));
			right: 2%;
		}

		.mkdf-prev-icon,
		.mkdf-next-icon {
			display: inline-block;
			width: 42px;
			height: 42px;
			text-align: center;

			i {
				font-size: 40px;
				color: #636363;
			}

		}
	}

	&.mkdf-image-gallery-navigation-light {
		.owl-buttons {
			.mkdf-prev-icon,
			.mkdf-next-icon {
				i {
					color: #fff;
				}
			}
		}
	}

	.owl-pagination {
		text-align: center;

		.owl-page {
			display: inline-block;
		}

		.owl-page span {
			display: inline-block;
			width: 12px;
			height: 12px;
			margin: 3px;
			filter: Alpha(Opacity=50);
			opacity: 0.5;
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 20px;
			background: #74797b;
		}

		.owl-page.active span {
			opacity: 1;
		}

	}


}

/* Image Gallery Slider - end
========================================================================== */

/* ==========================================================================
# Image Gallery - end
========================================================================== */