/* ==========================================================================
# Message style - begin
========================================================================== */
/* Unique style for both types  - begin
========================================================================== */
.mkdf-message {
    position: relative;
	padding: 20px 28px;
	margin: 0;
	background-color: #ccc;
    border: 0 solid #d7d7d7;
    @media only screen and (max-width: 480px){
        padding: 20px 22px;
    }

    .mkdf-message-inner {
        position: relative;
        padding-right: 20px;
        
        .mkdf-message-text {
            display: table;
            height: 100%;
            @media screen and (max-width: 320px) {
               line-height: normal !important;
            }
            .mkdf-message-text-inner {
                display: table-cell;
                height: 100%;
                vertical-align: middle;
                color: #fff;
                font-size: 16px;
                font-family: $headings-font-family;
                font-style: normal;
                font-weight: 500;
            }
        }
        
        a.mkdf-close {
            position: absolute;
            right: 6px;
            top: 12px;
            line-height: 13px;
            font-size: 18px;
            
            i {
                width: 14px;
                height: 14px;
                color: #fff;
                font-weight: 700;
                display: inline-block;
                
                &:hover {
                    color: $first-main-color;
                }
            }
        }
    }
}
/* Unique style for both types - end
========================================================================== */

/* Type with icon - begin
========================================================================== */
.mkdf-message.mkdf-with-icon {
    .mkdf-message-icon-holder {
        float: left;
        padding: 0 20px 0 0;
        @media only screen and (max-width: 600px){
            padding: 20px 22px;
        }
        .mkdf-message-icon {
            display: table;
            height: 100%;
            
            .mkdf-message-icon-inner {
                display: table-cell;
                height: 100%;
                vertical-align: middle;
                font-size: 18px;
                font-weight: 400;
                >i,
                >span{
                    line-height: 1em;
                    padding: 8px;
                } 
            }
        }
    }
}


/* Type with icon - end
========================================================================== 
/* ==========================================================================
# Message style - end
========================================================================== */