/* ==========================================================================
# Pie Chart With Icon - begin
========================================================================== */

.mkdf-pie-chart-with-icon-holder {
	position: relative;
	display: block;

	.mkdf-percentage-with-icon {
		position: relative;
		display: block;
		height: 175px;
		width: 175px;
		line-height: 175px;
		text-align: center;
		margin: 0 auto;
		opacity: 0;
		filter: alpha(opacity=0);
		-webkit-transition: opacity .3s ease 0s;
		-moz-transition: opacity .3s ease 0s;
		-o-transition: opacity .3s ease 0s;

		canvas {
			position: absolute;
			top: 0;
			left: 0;
		}

		i,
		span {
			float: none;
			margin: 0;
			color: #279eff;
			vertical-align: middle !important;
			display: inline;
		}

		.mkd_icon_font_elegant {
			line-height: inherit;
		}

	}

	.mkdf-pie-chart-text {
		text-align: center;
		margin: 26px 0 0;

		h4.mkdf-pie-title {
			margin: 0 0 12px;
			font-size: 20px;
		}

	}

}

/* ==========================================================================
# Pie Chart With Icon - end
========================================================================== */