
/* ==========================================================================
   Progress bar shortcode start styles
   ========================================================================== */
.mkdf-progress-bar {
    position: relative;
    margin: 0 0 11px;
    width: 100%;
    overflow: hidden;
    text-align: left;
    padding-right: 24px;
    
    .mkdf-progress-title-holder {
        position: relative;
        margin-bottom: 11px;
        color: #545454;
        font-size: 14px;
        font-weight: 600;
        
        .mkdf-progress-title {
            display: inline-block;
            z-index: 100;
        }
    }

    .mkdf-progress-number-wrapper {
        text-align: right;
        position: absolute;
        right: 0;
        z-index: 10;
        opacity: 0;
        bottom: 0;
        
        .mkdf-progress-number {
            font-size: 14px;
            font-weight: 400;
            color: #545454;
            font-weight: 600;
            display: inline-block;
            text-align: center;
            float: right;
            padding-left: 8px;
            padding-right: 5px;
        }

        .mkdf-progress-number .mkdf-percent:after {
            content: '%';
            margin-left: 0.1em;
            font-size: 1em;
        }
        
    }

    .mkdf-progress-number-wrapper.mkdf-floating {
        width: 100%;
        height: 100%;
        
        .mkdf-progress-number {
            position:absolute;
            @include mkdfTransform(translateX(-50%));
            bottom: 0;
        }

        .mkdf-down-arrow {
            width: 0;
            height: 0;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            border-top: 3px solid $first-main-color;
            display: block;
            position: absolute;
            left: 50%;
            top: 100%;
            @include mkdfTransform(translateX(-50%));
        }
        
    }
    
    .mkdf-progress-number-wrapper.mkdf-floating-inside .mkdf-progress-number {
        @include mkdfTransform(translateX(-100%));
        height: 16px;
        line-height: 16px;
        
        .mkdf-percent {
            display: inline-block;
        }
    }

    .mkdf-progress-content-outer {
        background-color: #f6f6f5;
        position: relative;
        overflow: hidden;
        height: 9px;
        
        .mkdf-progress-content {
            max-width: 100%;
            overflow: hidden;
            background-color: $first-main-color;
            height: 9px;
            border: 1px solid transparent;
            box-sizing: border-box;
        }
    }
}
/* ==========================================================================
   Progress bar shortcode end styles
   ========================================================================== */