/* ==========================================================================
   Video Button shortcode start styles
   ========================================================================== */
.mkdf-video-button-play{
	width: 65px;
	height: 65px;
	display: block;
	line-height: 65px;
	font-size: 50px;
	margin: 0 auto;

	.mkdf-video-button-wrapper{
		width: 100%;
		height: 100%;
		display: block;
		position: relative;
		background-color: #898989;
		color: #fff;
		@include mkdfTransition(background-color .15s ease, color .15s ease);
		@include mkdfBorderRadius(50%);

		&:hover{
			background-color: #000;
			color: $first-main-color;
		}

		span{
			position: absolute;
			top: 50%;
			left: 50%;
			@include mkdfTransform(translate(-50%,-50%));
		}
	}
}

.mkdf-video-button-title{
	text-align: center;
	margin-top: 20px;
}
/* ==========================================================================
   Video Button shortcode end styles
   ========================================================================== */