.mkdf-video-banner-holder {
	position: relative;

	a {
		display: block;
		color: #fff;
	}

	img {
		vertical-align: middle;
		width: 100%;
	}

	.mkdf-video-banner-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(12, 12, 12, 0.63);

		text-align: center;
		font-size: 60px;

		@include mkdfTransition(background-color 0.2s ease-in-out);
	}

	.mkdf-vb-overlay-tb {
		display: table;
		width: 100%;
		height: 100%;
	}

	.mkdf-vb-overlay-tc {
		display: table-cell;
		vertical-align: middle;
	}

	&:hover {
		.mkdf-video-banner-overlay {
			background-color: rgba(12, 12, 12, 0.68);
		}
	}
}