
/* ==========================================================================
   Pretty Photo style start
   ========================================================================== */
body div.pp_default .pp_top,
body div.pp_default .pp_top .pp_middle,
body div.pp_default .pp_top .pp_left,
body div.pp_default .pp_top .pp_right,
body div.pp_default .pp_bottom,
body div.pp_default .pp_bottom .pp_left,
body div.pp_default .pp_bottom .pp_middle,
body div.pp_default .pp_bottom .pp_right{
	background: none;
	display: none;
}

body div.pp_default .pp_content_container .pp_left, body div.pp_default .pp_content_container .pp_right{
	background: none; 
	padding: 0px;
}

body div.pp_default .pp_expand{
	display: none !important;
}

body div.pp_default .pp_content{
	background: none;
	margin: 0 auto;
}

body div.pp_default .pp_loaderIcon{
	background-color: #fff;
	border-radius: 20px;
}

div.pp_default .pp_content .ppt{color:#f8f8f8}
div.pp_default .pp_close{width:30px;height:30px;background:url(img/prettyPhoto/sprite.png) 2px 1px no-repeat;cursor:pointer}
div.pp_default .pp_gallery ul li a{background:url(img/prettyPhoto/default_thumb.png) center center #f8f8f8;border:1px solid #aaa}
div.pp_default .pp_social{margin-top:7px}
div.pp_default .pp_gallery a.pp_arrow_previous,div.pp_default .pp_gallery a.pp_arrow_next{position:static;left:auto}
div.pp_default .pp_nav .pp_play,div.pp_default .pp_nav .pp_pause{background:url(img/prettyPhoto/sprite.png) -51px 1px no-repeat;height:30px;width:30px}
div.pp_default .pp_nav .pp_pause{background-position:-51px -29px}
div.pp_default a.pp_arrow_previous,div.pp_default a.pp_arrow_next{background:url(img/prettyPhoto/sprite.png) -31px -3px no-repeat;height:20px;width:20px;margin:4px 0 0}
div.pp_default a.pp_arrow_next{left:52px;background-position:-82px -3px}
div.pp_default .pp_content_container .pp_details{margin-top:5px}
div.pp_default .pp_nav{clear:none;height:30px;width:130px;position:relative; float: left;}
div.pp_default .pp_nav .currentTextHolder{font-family:inherit;color:#999;font-size:13px;left:65px;line-height:25px;position:absolute;top:2px;margin:0;padding:0 0 0 10px}
div.pp_default .pp_close:hover,div.pp_default .pp_nav .pp_play:hover,div.pp_default .pp_nav .pp_pause:hover,div.pp_default .pp_arrow_next:hover,div.pp_default .pp_arrow_previous:hover{opacity:0.7}
div.pp_default .pp_bottom .pp_left{background:url(img/prettyPhoto/sprite.png) -78px -127px no-repeat}
div.pp_default .pp_bottom .pp_middle{background:url(img/prettyPhoto/sprite_x.png) bottom left repeat-x}
div.pp_default .pp_bottom .pp_right{background:url(img/prettyPhoto/sprite.png) -112px -127px no-repeat}
div.pp_default .pp_loaderIcon{background:url(img/prettyPhoto/loader.gif) center center no-repeat}
div.pp_pic_holder a:focus{outline:none}
div.pp_overlay{background-color:#000;display:none;left:0;position:absolute;top:0;width:100%;z-index:10000 !important;}
div.pp_pic_holder{display:none;position:absolute;width:100px;z-index:10001 !important;}
.pp_content{height:40px;min-width:40px}
* html .pp_content{width:40px}
.pp_content_container{position:relative;text-align:left;width:100%}
.pp_content_container .pp_left{padding-left:20px}
.pp_content_container .pp_right{padding-right:20px}
.pp_content_container .pp_details{float:left;margin:10px 0 2px}
.pp_social{float:left;margin:0}
.pp_social .facebook{float:left;margin-left:5px;width:55px;overflow:hidden}
.pp_social .twitter{float:left}
.pp_nav p{float:left;white-space:nowrap;margin:2px 4px}
.pp_nav .pp_play,.pp_nav .pp_pause{float:left;margin-right:4px;text-indent:-10000px}
a.pp_arrow_previous,a.pp_arrow_next{display:block;float:left;height:15px;margin-top:3px;overflow:hidden;text-indent:-10000px;width:14px}
.pp_hoverContainer{position:absolute;top:0;width:100%;z-index:2000}
.pp_gallery{display:none;left:50%;margin-top:-50px;position:absolute;z-index:10000}
.pp_gallery div{float:left;overflow:hidden;position:relative}
.pp_gallery ul{float:left;height:35px;position:relative;white-space:nowrap;margin:0 0 0 5px;padding:0}
.pp_gallery ul a{border:1px rgba(0,0,0,0.5) solid;display:block;float:left;height:33px;overflow:hidden}
.pp_gallery ul a img{border:0}
.pp_gallery li{display:block;float:left;margin:0 5px 0 0;padding:0}
.pp_gallery li.default a{background:url(../images/prettyPhoto/facebook/default_thumbnail.gif) 0 0 no-repeat;display:block;height:33px;width:50px}
.pp_gallery .pp_arrow_previous,.pp_gallery .pp_arrow_next{margin-top:7px!important}
a.pp_close{position:absolute;right:0;top:0;display:block;line-height:22px;text-indent:-10000px}
.pp_loaderIcon{display:block;height:24px;left:50%;position:absolute;top:50%;width:24px;margin:-12px 0 0 -12px}
#pp_full_res{line-height:1!important}
#pp_full_res .pp_inline{text-align:left}
#pp_full_res .pp_inline p{margin:0 0 15px}
div.ppt{color:#fff;display:none !important;font-size:17px;z-index:9999;margin:0 0 5px 0}
div.pp_default .pp_content{background-color:#fff}
div.pp_default #pp_full_res .pp_inline{color:#000}
div.pp_default .pp_gallery ul li a:hover,div.pp_default .pp_gallery ul li.selected a,.pp_gallery ul a:hover,.pp_gallery li.selected a{border-color:#fff}
div.pp_default .pp_details{position:relative}
.pp_top,.pp_bottom{height:20px;position:relative}
* html .pp_top,* html .pp_bottom{padding:0 20px}
.pp_top .pp_left,.pp_bottom .pp_left{height:20px;left:0;position:absolute;width:20px}
.pp_top .pp_middle,.pp_bottom .pp_middle{height:20px;left:20px;position:absolute;right:20px}
* html .pp_top .pp_middle,* html .pp_bottom .pp_middle{left:0;position:static}
.pp_top .pp_right,.pp_bottom .pp_right{height:20px;left:auto;position:absolute;right:0;top:0;width:20px}
.pp_fade,.pp_gallery li.default a img{display:none}

body div.pp_overlay,
body div.pp_default .pp_content_container .pp_details{
	opacity: 0.7 !important;
}

body div.pp_default a.pp_next, 
body div.pp_default a.pp_previous{
	position: absolute;
	top: 50%;
	display: block;
	height: 42px;
	width: 42px;
	line-height: 42px;
	margin: -21px 0 0;
	background-image: none !important;
    background-color: transparent;
	font-size: 40px;
	text-align: center;
	text-indent: -9999px !important;
	opacity: 0;

	color: #636363;

	@include mkdfTransition(opacity 0.15s ease-out);
	@include mkdfTransform(translateZ(0));
	border-radius: 100px;
}

body div.pp_default a.pp_next span,
body div.pp_default a.pp_previous span{
	display: block;
	line-height: inherit;
}

body div.pp_default a.pp_next span:before,
body div.pp_default a.pp_previous span:before{
	position: absolute;
	top: 0;
	display: block;
	text-indent: 0 !important;
	width: 100%;
	text-align: center;
	line-height: inherit;
}

body div.pp_default a.pp_next:after, 
body div.pp_default a.pp_previous:after{
	position: absolute;
	top: 0;
	left: 0%;
	display: block;
	color: #fff;
	font-family: 'FontAwesome',serif;
	text-indent: 0 !important;
	width: 100%;
	text-align: center;
}



body div.pp_default a.pp_next{
	right: 10px;
}

body div.pp_default a.pp_previous{
	left: 10px;
}

body div.pp_default .pp_content:hover a.pp_next,
body div.pp_default .pp_content:hover a.pp_previous{
	opacity: 1;
}

body div.pp_default .pp_description{
	float: left;
	font-size: 14px;
	line-height: 1.571428571428571em;
	font-weight: 400;
	color: #fff;
	margin: 2px 0 0;
}

body div.pp_default .pp_nav .currentTextHolder{
	left: auto;
	position: relative;
	float: left;
	padding: 0px 20px;
	font-size: 15px;
	color: #ffffff;
	font-weight: 400;
}

body .pp_gallery{
	display: none !important;
}

body div.pp_default .pp_nav .pp_play,
body div.pp_default .pp_nav .pp_pause{
	display: none;
}

body div.pp_default a.pp_arrow_previous,
body div.pp_default a.pp_arrow_next{
	background: none;
	position: relative;
	left: 0px;
}

body div.pp_default a.pp_arrow_previous:after{
	color: #FFFFFF;
	content: "\f104";
	font-family: 'FontAwesome',serif;
	font-size: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	width: 20px;
	text-indent: 0px;
	position: absolute;
	top: 0px;
	left: 0px;
}

body div.pp_default a.pp_arrow_next:after{
	color: #FFFFFF;
	content: "\f105";
	font-family: 'FontAwesome',serif;
	font-size: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	width: 20px;
	text-indent: 0px;
	position: absolute;
	top: 0px;
	right: 0px;
}

body div.pp_default .pp_close{
	background: none;
	opacity: 1 !important;
}

body div.pp_default .pp_close:after{
	color: #FFFFFF;
	content: "\f00d";
	font-family: 'FontAwesome',serif;
	font-size: 15px;
	height: 15px;
	line-height: 30px;
	text-align: center;
	width: 30px;
	text-indent: 0px;
	position: absolute;
	top: 0px;
	left: 0px;
}

/* ==========================================================================
   Pretty Photo style end
   ========================================================================== */