.mkdf-sections-link{

    a {
        color: #fff;
    }

    a span {
        font-size: 10px;
        font-weight: 700;
    }

    a i {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }
}