@import "blocks/logo";
@import "blocks/widgets";
@import "blocks/navigation/navigation";

.mkdf-header-vertical {
    .mkdf-content,
    footer{
        padding-left: $vertical-menu-width;
        box-sizing: border-box;
    }


    .mkdf-vertical-menu-area {
        position: fixed;
        width: $vertical-menu-width;
        top: 0;
        left: 0;
        padding: 20px 40px;
        background-color: transparent;
        height: 100%;
        z-index: 101;
        -webkit-backface-visibility: hidden;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        outline: none;
    }

    &.admin-bar .mkdf-vertical-menu-area {
        top: 33px;
    }

    .mkdf-vertical-menu-area.mkdf-with-scroll {
        overflow: hidden;
    }

    .mkdf-vertical-area-background {
        position: fixed;
        width: $vertical-menu-width;
        height: 100%;
        background-position: right top;
        background-repeat: no-repeat;
        background-color: #fff;
        background-size: cover;
        top: 0;
        left: 0;
        z-index: 0;
        opacity: 1;

        @include mkdfTransition(opacity 0.5s ease, background-color 0.5s ease);
    }

}