$top-bar-height: 46px;

.mkdf-top-bar {
	width: 100%;
	background-color: #323232;
	color: #cacaca;
	position: relative;
	font-weight: 600;
	height: $top-bar-height;
	font-size: 12px;
	z-index: 111;

	.mkdf-grid {
		height: 100%;

		.mkdf-vertical-align-containers {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.mkdf-top-bar-widget-area,
	.mkdf-top-bar-widget-area-inner {
		height: 100%;
	}

	.mkdf-top-bar-widget {
		display: table;
		float: left;
		height: 100%;

		padding-right: 24px;

		&:last-child {
			padding-right: 0;
		}

		&.widget_text {
			position: relative;
		}
	}

	.mkdf-top-bar-widget-inner {
		display: table-cell;
		vertical-align: middle;
	}

	.mkdf-logo-wrapper a {
		max-height: $top-bar-height;
	}
}

.mkdf-top-bar-light .mkdf-top-bar {
	color: $header-light-color; //Beacause of inline color styles

	.widget {
		color: $header-light-color; //Beacause of inline color styles

		p,
		a,
		span,
		i,
		.widgettitle {
			color: $header-light-color; //Beacause of inline color styles
		}

	}
}

.mkdf-top-bar-dark .mkdf-top-bar {
	color: $header-dark-color; //Beacause of inline color styles

	.widget {
		color: $header-dark-color; //Beacause of inline color styles

		p,
		a,
		span,
		i,
		.widgettitle {
			color: $header-dark-color; //Beacause of inline color styles
		}

	}
}