@media only screen and (max-width: $ipad-landscape) {
	.mkdf-portfolio-list-holder-outer {
		&.mkdf-ptf-five-columns article,
		&.mkdf-ptf-six-columns article {
			width: 33%;
		}

		&.mkdf-ptf-four-columns article {
			width: 50%;
		}

		&.mkdf-ptf-with-spaces {
			&.mkdf-ptf-five-columns article,
			&.mkdf-ptf-six-columns article {
				width: 32.5%;
			}

			&.mkdf-ptf-four-columns article {
				width: 49%;
			}
		}

		&.mkdf-ptf-pinterest-five-columns,
		&.mkdf-ptf-pinterest-five-columns {
			.mkdf-ptf-pinterest-four-columns {
				article,
				.mkdf-portfolio-list-masonry-grid-sizer {
					width: 33.33%;
				}
			}
		}

		&.mkdf-ptf-masonry {
			.mkdf-portfolio-list-masonry-grid-sizer,
			article.mkdf-default-masonry-item,
			article.mkdf-large-height-masonry-item {
				width: 50%;
			}
			.mkdf-large-width-masonry-item,
			.mkdf-large-width-height-masonry-item {
				width: 100%;
			}
		}
	}

	.mkdf-portfolio-single-holder {
		.mkdf-portfolio-single-nav {
			margin-top: 50px;
		}

		&.small-images,
		&.big-images {
			.mkdf-portfolio-single-media {
				margin-bottom: 25px;
			}
		}

		.mkdf-portfolio-info-holder {
			margin-top: 25px;
		}

		.mkdf-portfolio-item-content {
			margin: 0;
		}
	}

	.gallery.mkdf-portfolio-gallery-four-columns {
		.mkdf-portfolio-single-media {
			width: 50%;
		}
	}
}

@include ipad-portrait {
	.mkdf-portfolio-single-holder {
		.mkdf-portfolio-single-nav {
			.mkdf-single-nav-image-holder {
				display: none;
			}

			.mkdf-single-nav-content-holder {
				padding: 0 !important;
			}
		}
	}

	.gallery.mkdf-portfolio-gallery-four-columns,
	.gallery.mkdf-portfolio-gallery-three-columns,
	.gallery.mkdf-portfolio-gallery-two-columns {
		.mkdf-portfolio-single-media {
			width: 100%;
		}
	}
}

@media only screen and (max-width: $phone-landscape) {
	.mkdf-portfolio-list-holder-outer {
		article,
		.mkdf-portfolio-list-masonry-grid-sizer {
			width: 100% !important;
		}

		.mkdf-portfolio-filter-holder-inner ul li {
			text-align: left;
			padding-left: 0;
		}
	}
}