/* Fullscreen search general style - start
========================================================================== */
.mkdf-fullscreen-search-holder {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:105;
	opacity:0;

	.mkdf-search-label {
		font-size:30px;
		line-height:1em;
		color: #a1a1a1;
		vertical-align:bottom;
	}

	.mkdf-field-holder {
		width:30%;
		display:inline-block;
		vertical-align:bottom;
		position:relative;
		border-bottom:1px solid #a1a1a1;

		.mkdf-line {
			position:absolute;
			bottom:-1px;
			left:0;
			height:1px;
			width:0;
			background-color: #696969;
			@include mkdfTransition(width 0.3s ease);
		}

	}

	.mkdf-search-field {
		width:100%;
		border-left:none;
		border-top:none;
		border-right:none;
		border-bottom:none;
		background:transparent;
		outline:none;
		height:100%;
		font-size:30px;
		color: #a1a1a1;
		line-height:1em;
		position:relative;
	}

	.mkdf-search-submit {
		border:none;
		background:transparent;
		outline:none;
		width: auto;
		cursor: pointer;
		font-family: 'ElegantIcons';
		font-size:20px;
		line-height:1em;
		color: #a1a1a1;
		@include mkdfTransition(color 0.2s ease);
	}

	.mkdf-search-submit:hover {
		color: #696969;
	}

	.mkdf-search-close-holder {
		float:right;
		margin-right: 45px;
	}

	.mkdf-fullscreen-search-close-container {
		position:absolute;
		left:0;
		top:0;
		width:100%;

		a {
			opacity:0;
			visibility:hidden;
			-webkit-transition: opacity 0.2s ease, color 0.2s ease;
			transition: opacity 0.2s ease, color 0.2s ease;
			position: absolute;
			top: 40px;
			right: 40px;
		}

	}

}

.mkdf-fullscreen-search-table {
	display: table;
	width:100%;
	height:100%;
}

.mkdf-fullscreen-search-cell {
	display: table-cell;
	vertical-align: middle;
	width:100%;
	height:100%;
	text-align:center;
}

//Fix for woocommerce page
.mkdf-fullscreen-search-opened .mkdf-form-holder .mkdf-search-field {
	width:100%;
	border-left:none;
	border-top:none;
	border-right:none;
	border-bottom:none;
	background:transparent;
	outline:none;
	height:100%;
	font-size:30px;
	color: #a1a1a1;
	line-height:1em;
	position:relative;
	padding: 0;
}

/* Fullscreen search general style - end
========================================================================== */

/* Fullscreen search from circle style - start
========================================================================== */

.mkdf-fullscreen-search-overlay {
	position:absolute;
	width:2000px;
	height:2000px;
	margin-top:-1000px;
	margin-left:-1000px;
	top:50%;
	left:0;
	border-radius:100%;
	opacity:0;
	z-index:99;
	-ms-transform-origin: 50%;
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
	@include mkdfTransform(scale(0));
	background-color: rgba(255,255,255,0.98);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-ms-transition: -ms-transform 0.6s cubic-bezier(0.4,0,0.2,1), opacity 0.6s cubic-bezier(0.4,0,0.2,1);
	-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.4,0,0.2,1), opacity 0.6s cubic-bezier(0.4,0,0.2,1);
	transition: transform 0.6s cubic-bezier(0.4,0,0.2,1), opacity 0.6s cubic-bezier(0.4,0,0.2,1);
}


.mkdf-fullscreen-search-overlay.mkdf-animate{
	@include mkdfTransform(scale(3));
	opacity:1;
}

.mkdf-search-from-circle .mkdf-fullscreen-search-holder {
	@include mkdfTransition(opacity 0.3s ease);
	display:none;
	opacity:0;
	visibility:visible;
	z-index:111;
}

/* Fullscreen search from circle style - end
========================================================================== */

/* Fullscreen search fade style - start
========================================================================== */

.mkdf-search-fade .mkdf-fullscreen-search-holder {
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	opacity: 0;
	z-index:111;
	box-sizing: border-box;

	.mkdf-fullscreen-search-table {
		background-color:rgba(255,255,255,0.98);
	}
}

.mkdf-search-fade-out.mkdf-search-fade .mkdf-fullscreen-search-holder {
	@include mkdfAnimation(search_fade_out .25s linear both);
}

.mkdf-search-fade-in.mkdf-search-fade .mkdf-fullscreen-search-holder.mkdf-animate{
	@include mkdfAnimation(search_fade_in .25s linear both);
}

.mkdf-search-fade .mkdf-fullscreen-search-holder.mkdf-animate .mkdf-fullscreen-search-close {
	opacity:1;
	visibility:visible;
}


@-webkit-keyframes search_fade_out {
	0%{
		opacity:1;
		visibility: visible;
	}
	100%{
		opacity:0;
		visibility: hidden;
	}
}
@keyframes search_fade_out{
	0%{
		opacity:1;
		visibility: visible;
	}
	100% {
		opacity:0;
		visibility: hidden;
	}
}
@-webkit-keyframes search_fade_in {
	0% {
		opacity:0;
		visibility: hidden;
	}
	100% {
		opacity:1;
		visibility: visible;
	}
}
@keyframes search_fade_in{
	0%{
		opacity:0;
		visibility: hidden;
	}
	100%{
		opacity:1;
		visibility: visible;
	}
}

/* Fullscreen search fade style - end
========================================================================== */

/*---------------Fade animation with PUSH TEXT TOP------------*/

@-webkit-keyframes search_push_text_top{
	0%{
		opacity:0;
		-webkit-transform:translateY(60px);
		transform:translateY(60px)
	}
	100%{
		opacity:1;
		-webkit-transform:translateY(0);
		transform:translateY(0)
	}
}

@keyframes search_push_text_top{
	0%{
		opacity:0;
		-webkit-transform:translateY(60px);
		transform:translateY(60px);
	}
	100%{
		opacity:1;
		-webkit-transform:translateY(0);
		transform:translateY(0)
	}
}

.mkdf-search-fade.mkdf-fullscreen-search-opened .mkdf-fullscreen-search-holder .mkdf-form-holder {
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	@include mkdfAnimation(search_push_text_top .4s ease-out both .25s);
}

.mkdf-search-fade-out.mkdf-search-fade .mkdf-fullscreen-search-holder .mkdf-search-label,
.mkdf-search-fade-out.mkdf-search-fade .mkdf-fullscreen-search-holder .mkdf-search-submit,
.mkdf-search-fade-out.mkdf-search-fade .mkdf-fullscreen-search-holder .mkdf-field-holder {
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	@include mkdfTransform(translateY(-30px));
	@include mkdfTransition(transform 0.75s ease-out);
}

/*----------------------FULLSCREEN SEARCH style end--------------------------*/
