/* ==========================================================================
   Instagram start styles
   ========================================================================== */
.mkdf-instagram-feed {
    list-style: none;

    &:not(.without-space) {
        margin-left: -5px;
        margin-right: -5px;

        li {
            padding: 0 5px;
			margin-bottom: 10px;
        }
    }
    
    li {
        float: left;
        @include mkdfBoxSizing(border-box);

		.mkdf-page-footer .widget & {
			border-bottom: none;
		}
        
        img, a {
            display: block !important;
            width: 100%;
        }

        .mkdf-instagram-item-holder {
            position: relative;
        }
    }

    &.without-space li {
        margin-bottom: 0;
    }
}

aside.mkdf-sidebar ul.mkdf-instagram-feed li {
    border-bottom: 0;
}

.mkdf-instagram-feed.mkdf-col-9 li {
    width: 11.11111111111111%;
}

.mkdf-instagram-feed.mkdf-col-6 li {
    width: 16.66666666666667%;
}

.mkdf-instagram-feed.mkdf-col-4 li {
    width: 25%;
}

.mkdf-instagram-feed.mkdf-col-3 li {
    width: 33.33%;
}

.mkdf-instagram-feed.mkdf-col-2 li {
    width: 50%;
}

.mkdf-instagram-feed .mkdf-instagram-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    @include mkdfTransition(opacity 0.15s);
    background-color: rgba(21, 21, 21, 0.7);
    color: #fff;
    text-align: center;
}

.mkdf-instagram-feed li:hover .mkdf-instagram-overlay {
    opacity: 1;
}

.mkdf-instagram-overlay-inner {
    display: table;
    width: 100%;
    height: 100%;
}

.mkdf-instagram-overlay-inner2 {
    display: table-cell;
    vertical-align: middle;
}
/* ==========================================================================
   Instagram end styles
   ========================================================================== */