.mkdf-portfolio-list-holder-outer.mkdf-ptf-pinterest,
.mkdf-portfolio-list-holder-outer.mkdf-ptf-masonry {

	.mkdf-portfolio-list-holder {
		opacity: 0;
	}
}

.mkdf-portfolio-list-holder-outer.mkdf-ptf-pinterest-three-columns {

	.mkdf-portfolio-list-masonry-grid-sizer {
		width: 33.33%;
	}
	.mkdf-portfolio-list-masonry-grid-gutter {
		width: 0;
	}
	article {
		width: 33.33%;
	}

}

.mkdf-portfolio-list-holder-outer.mkdf-ptf-pinterest-four-columns {

	.mkdf-portfolio-list-masonry-grid-sizer,
	article {
		width: 25%;
	}
	.mkdf-portfolio-list-masonry-grid-gutter {
		width: 0;
	}

}

.mkdf-portfolio-list-holder-outer.mkdf-ptf-pinterest-five-columns {

	.mkdf-portfolio-list-masonry-grid-sizer,
	article {
		width: 20%;
	}
	.mkdf-portfolio-list-masonry-grid-gutter {
		width: 0;
	}

}